@use '../abstracts' as my;

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
 * A large perceivable region that contains information about the parent document.
 *
 * Examples of information included in this region of the page are copyrights and links to privacy statements.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
 */
.main-footer__wrapper {
  padding-top: 0;
  padding-bottom: my.$gutter * 2;
  margin-top: my.$gutter;

  background-color: my.palette('neutral', 'light');
}

.main-footer {
  @include my.container;


  font-size: my.ms(-1);

  .social-profiles {
    margin-right: 0;
    margin-left: auto;
  }

  .social-profiles__item {}

  .social-profiles__link {}
}

.main-footer > * {}

.main-footer__menu-wrapper {
  @include my.full-width;

  display: block;

  flex-basis: 100%;

  margin-bottom: my.$gutter * 3;
  overflow: hidden;

  font-size: ms(-1);
  font-weight: my.font-weight('heading');
  color: my.palette('neutral', 'white');
  text-align: center;
  text-transform: uppercase;

  background-color: my.palette('brand', 'blue-medium');
}

.main-footer__menu-list {
  @include my.container;

  display: flex;

  flex-wrap: wrap;

  align-items: center;

  height: 100%;
  margin-top: my.$gutter * 0.5;
  margin-bottom: my.$gutter * 0.5;
  overflow: hidden;

  > li {
    display: block;

    @supports (display: contents) {
      display: contents;
    }
  }

  > li:focus,
  > li:focus-within,
  > li:active {
    > ul {
      display: flex;

      order: 1;

      text-transform: none;

      li {
        flex-grow: 1;
      }
    }
  }

  > li ul {
    display: none;

    flex-basis: 100%;

    justify-content: center;

    padding-top: my.$gutter * 0.5;
    margin-top: my.$gutter * 0.5;

    border-top: my.$stroke__thin solid my.palette('neutral', 'white');
  }
}


.main-footer__menu-item-link,
.main-footer__menu-item-container {
  display: block;

  flex-grow: 1;

  justify-content: center;

  padding: my.$gutter * 0.5;
  margin-top: my.$gutter * 0.5;
  margin-right: my.$gutter * 0.5;
  margin-bottom: my.$gutter * 0.5;
  margin-left: my.$gutter *  0.5;

  white-space: nowrap;

  border-color: currentColor;
  border-style: solid;
  border-width: my.$stroke__thin;

  &:hover,
  &:focus {
    color: my.palette('neutral', 'black');
    text-decoration: inherit;

    background-color: my.palette('neutral', 'white');
  }
}

.main-footer__menu-item-icon {
  width: auto;
  max-height: my.$leading * 1em;
  margin-right: 0.25em;
}

.colophon {
  display: flex;

  flex-wrap: wrap;

  align-items: flex-start;
}

.site-info--footer {
  margin-top: -0.75rem;
}

.h-card {
  padding-right: my.$gutter;
  padding-left: my.$gutter;
}

.h-card > * {}

.p-adr {
  grid-row: span 3;
}

.p-adr a {
  @include my.link-undercover;

  display: block;
}

.u-email > a {
  @include my.link-undercover;
}

.main-footer__social-and-menu {}

.main-footer__social-and-menu .container {
  display: block;

  > * {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    > * {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

[role='contentinfo'] {}

.license-and-powered-by {
  text-align: center;

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    display: flex;

    flex-basis: 100%;
    flex-wrap: wrap;

    padding-top: my.$gutter * 2;
    padding-bottom: my.$gutter * 2;

    text-align: left;
  }

  > * {
    padding-top: my.$gutter;
    padding-bottom: my.$gutter;
  }
}

.license {
  flex-grow: 1;

  a {
    @include my.link-undercover {
      font-weight: my.font-weight('bold');
    }
  }
}

.license__image {
  display: block;

  width: auto;
  max-height: my.$gutter * 1.333333;
  margin: my.$gutter * 0.5 auto;

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    display: inline;

    vertical-align: middle;
  }
}

.powered-by {}

.powered-by__link {
  display: flex;

  align-items: center;

  height: 100%;
}

.powered-by__image {
  display: block;
}
