@use 'sass:math';

@use '../abstracts' as my;

/* GALLERY
============================================================================ */

.gallery {
  display: flex;

  flex-wrap: wrap;

  margin-right: my.$gutter * -0.5;
  margin-left: my.$gutter * -0.5;
  clear: both;

  @supports (display: grid) {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
    grid-gap: my.$gutter;

    margin-right: 0;
    margin-left: 0;

    &--video {
      @media screen and (min-width: my.breakpoint('tablet__portrait')) {
        grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      }
    }
  }

  .gallery__item {
    position: relative;

    flex-basis: 142px;

    margin-right: my.$gutter * 0.5;
    margin-bottom: 1.5rem;
    margin-left: my.$gutter * 0.5;

    @supports (display: grid) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .gallery__item--video {
    position: relative;

    flex-basis: 260px;
  }

  .gallery__link {
    position: relative;

    margin: 0;
    overflow: hidden;

    color: my.palette('neutral', 'white');

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      background: transparent linear-gradient(180deg, #ffffff00 0%, #83838200 60%, #000000 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      opacity: 0;

      transition-duration: 300ms;
      transition-property: opacity;
    }

    &:hover {
      &::after {
        opacity: 0.68;
      }
    }
  }

  .gallery__link--video {
    @include my.aspect-ratio(16 x 9);

    &::after {
      $w: 16;
      $h: 9;

      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;

      width: 100%;
      height: 0;
      padding-top: (math.div($h, $w) * 100%);

      pointer-events: none;
      content: '';

      background-image: my.image('icons/video-play.svg');
      background-position: 50% 50%;
    }
  }

  .gallery__image {
    width: 100%;
    max-width: none;
  }

  .gallery__image--video {
    position: absolute;
    object-fit: cover;
  }

  .gallery__caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: my.layer('default');

    width: 100%;
    padding: 0 (my.$gutter * 0.5) (my.$gutter * 0.5) (my.$gutter * 0.5);
    margin: 0;

    color: my.palette('neutral', 'white');

    opacity: 0;

    transition-duration: 300ms;
    transition-property: opacity;

    :hover > &,
    :focus > &,
    :active > & {
      opacity: 1;
    }
  }

  .gallery__caption--video {
    position: static;

    clear: both;

    color: my.palette('neutral', 'black');

    opacity: 1;
  }
}
