@use '../abstracts' as my;

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

.main-header-and-search-form {
  position: relative;
  z-index: my.layer('default'); // to move menu forward on Z axis

  margin-bottom: my.$gutter * 3;

  color: my.palette('neutral', 'white');

  background-color: my.palette('neutral', 'base');
  background-image: my.image('shutterstock_1659111457_Blue_3.jpg');
  background-position: 50% 50%;
  background-size: cover;

  .setur:root & {
    background-image: my.image('shutterstock_1659111457.jpg');
  }

  .going-to-search-results & {
    z-index: auto;
  }

  @media screen and (min-width: my.breakpoint('desktop')) {
    margin-bottom: my.$gutter * 6;
  }
}

.main-header-and-search-form__container {
  @include my.container;
  @include my.clearfix;

  display: flex;

  flex-direction: column;

  align-content: flex-start;
  align-items: flex-start;

  height: 40vh;
  min-height: my.$gutter * 18; // 432px
  max-height: my.$gutter * 20; // 480px
  padding-top: my.$gutter;
  padding-bottom: my.$gutter;

  > * {
    width: 100%;
  }
}

.main-header__root-site-link {
  @include my.link-undercover;

  position: relative;
  z-index: my.layer('default');

  display: block;

  float: left;

  font-size: my.ms(2);
  font-weight: my.font-weight('bold');
  white-space: nowrap;

  @include my.on-event {
    color: inherit;
    text-decoration: underline;

    cursor: pointer;
  }
}

.main-header {
  clear: left;
}

[role='banner'] {
}

.site-info--header {
  float: left;
  width: max-content;
  max-width: 100%;
  margin-top: my.$gutter * -0.5;
  clear: left;
}

.main-header__logo {
  display: block;

  margin-right: auto;
  margin-bottom: my.$gutter;
  margin-left: auto;

  background-color: transparent;

  > img {
    display: block;

    margin: 0;
    object-fit: contain;
  }
}

.social-profiles--header {
  float: right;
  margin-top: my.$gutter;
  margin-right: 0;
  margin-bottom: my.$gutter;
  margin-left: auto;

  filter: brightness(100);
}

.main-header__title {
  margin: auto auto 0;
  clear: both;

  font-size: my.ms(7);
  font-weight: my.font-weight('bold');
  line-height: 1;
  text-align: center;
}

.search-form--header {
  max-width: my.$max-width--narrow;
  height: auto;
  padding-top: my.$gutter;
  margin: auto;

  .main-header__title + & {
    margin: 0 auto auto;
  }
}

.a11y-bar--header {
  .a11y-bar__list {
    margin-right: 0;
    margin-left: auto;
  }
}

.header-nav {
  font-weight: inherit;
  color: my.palette('neutral', 'black');

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.shadow;

    text-transform: uppercase;
    white-space: nowrap;

    background-color: my.palette('neutral', 'white');
  }
}

.header-nav__list {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: my.layer('dropdown');

  display: block;

  max-width: 100%;


  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: translateY(-100%);

  .going-to-search-results & {
    z-index: auto;
  }

  [id='menu-controller']:checked ~ & {
    box-shadow: 8px 12px 24px 0 rgba(0, 0, 0, 0.1);

    transform: translateY(0);
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.container;

    position: static;

    display: table;

    height: 100%;
    margin-right: auto;
    margin-left: auto;

    table-layout: fixed;

    box-shadow: none;

    transform: translateY(0);
  }
}

.header-nav__list > li {
  position: relative;

  display: table-cell;

  width: 100%;

  font-weight: my.font-weight('medium');
  line-height: my.$gutter * 3;

  cursor: pointer;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    width: auto;

    &:hover {
      font-weight: bold;
    }
  }
}

.header-nav__list > li > ul {
  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.shadow;

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: my.layer('dropdown') - 1;

    padding: my.$gutter;
    overflow: hidden;
    clip-path: polygon(-60px #{my.$stroke__thick * -1}, calc(100% + 60px) #{my.$stroke__thick * -1}, calc(100% + 60px) calc(100% + 60px), -60px calc(100% + 60px));

    font-weight: my.font-weight('medium');
    line-height: 1.25;
    text-align: left;
    white-space: normal;

    cursor: default;
    visibility: hidden;

    background-color: my.palette('neutral', 'white');
    opacity: 0;

    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: opacity transform;
    transform: scale(0);
    transform-origin: 50% 0;

    &::before {
      position: absolute;
      top: my.$stroke__thick * -1;
      right: 0;
      left: 0;

      height: my.$stroke__thick;

      content: '';
    }
  }
}

.header-nav__list > li:hover ul {
  display: block;

  visibility: visible;

  opacity: 1;

  transform: scale(1) translateY(my.$stroke__thick);
}

.header-nav__list > li li {
  display: flex;

  align-items: center;
}

.header-nav__list a {
  display: block;

  width: 100%;
  padding: my.$gutter * 0.25;

  text-overflow: ellipsis;

  cursor: pointer;
}

/// .menu-controller styles
///
/// @group helpers
///
/// @example html
/// <label for="menu-controller" onclick>menu</label>
///
[for='menu-controller'] {
  position: relative;
  z-index: my.layer('default');

  float: right;
  margin: my.$gutter 0 0 0;

  color: inherit;

  .going-to-search-results & {
    z-index: auto;
  }

  > svg {
    display: block;

    fill: currentColor;
    stroke: currentColor;
  }

  [id='menu-controller']:checked + * & {
    z-index: my.layer('modal') + 1;

    color: my.palette('brand', 'green-medium');
  }
}
