@use 'sass:math';

@use '../abstracts' as my;

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

.simplified-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: my.layer('default') + 1;

  background-color: my.palette('neutral', 'white');
  box-shadow: 3px 3px 10px my.palette('effects', 'shadow');

  [id='menu-controller']:checked ~ & {
    z-index: my.layer('default') + 5;

    box-shadow: none;
  }
}

.simplified-header__container {
  @include my.container;
  @include my.clearfix;

  display: flex;

  flex-wrap: wrap;

  .site-info {
    float: left;
  }

  .main-header__logo {
    margin: (my.$gutter * 0.5) auto (my.$gutter * 0.5) auto;

    > img {
      width: auto;
      max-height: my.$gutter * 2;
    }
  }

  .social-networks {
    flex-basis: 100%;
    flex-grow: 1;

    justify-content: flex-end;

    order: -1;

    padding-right: my.$gutter;
    padding-left: my.$gutter;
    margin: 0 (my.$gutter * -1) 0 (my.$gutter * -1);

    background-color: my.palette('neutral', 'white');
    box-shadow: 3px 3px 10px my.palette('effects', 'shadow');

    @media screen and (min-width: my.breakpoint('toggle-menu')) {
      display: flex;

      flex-basis: auto;

      order: 0;

      padding: 0;
      margin-right: 0;
      margin-left: auto;

      box-shadow: none;
    }
  }

  [for='menu-controller'] {
    margin: (my.$gutter * 0.5) 0 (my.$gutter * 0.5) auto;
  }

  [id='menu-controller']:checked ~ * & {
    .site-info,
    .social-networks {
      display: none;
    }
  }
}

.main-header-and-search-form {
  position: relative;
  z-index: my.layer('default') + 5; // to move menu forward on Z axis

  margin-bottom: my.$gutter * 3;

  color: my.palette('neutral', 'white');

  background-color: my.palette('neutral', 'base');
  background-image: my.image('shutterstock_1659111457_Blue_3.jpg');
  background-position: 50% 50%;
  background-size: cover;

  .going-to-search-results & {
    z-index: auto;
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    margin-bottom: my.$gutter * 4;

    border-top: 0;
  }

  [type='checkbox'],
  label {
    color: inherit;

    @include my.on-event {
      color: inherit;
    }
  }
}

.main-header-and-search-form__container {
  @include my.container;
  @include my.clearfix;

  display: flex;

  flex-direction: column;

  align-content: flex-start;
  align-items: flex-start;

  height: fit-content;
  min-height: 40vh;
  max-height: my.$gutter * 20; // 480px
  padding-bottom: my.$gutter;

  box-shadow: 0 15px 80px #00000040;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    padding-top: my.$gutter;
  }

  > * {
    width: 100%;
  }
}

.main-header__root-site-link {
  position: absolute;
  top: 0;

  display: block;


  font-size: 1em;
  font-weight: my.font-weight('bold');
  line-height: my.$gutter * 2;
  white-space: nowrap;

  @include my.link-undercover {
    color: my.palette('neutral', 'black');
  }

  @include my.on-event {
    color: my.palette('neutral', 'black');
    text-decoration: underline;

    cursor: pointer;
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    position: static;

    float: left;

    font-size: my.ms-step(20px);
    line-height: inherit;
    color: inherit;

    @include my.link-undercover {
      color: inherit;
    }

    @include my.on-event {
      color: inherit;
    }

    &::before {
      content: 'â®';
    }
  }
}

.main-header {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;

  margin-bottom: my.$gutter * 2;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.clearfix;

    display: block;
  }
}

[role='banner'] {}

.site-info--header {
  width: max-content;
  max-width: 100%;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    order: -1;

    float: left;
    margin-top: my.$gutter * -0.5;
    clear: left;
  }
}

.main-header__logo {
  display: block;

  margin-right: auto;
  margin-left: auto;

  background-color: transparent;

  > img {
    display: block;

    width: auto;
    max-height: 68px;
    margin: 0;
    object-fit: contain;

    @media screen and (min-width: my.breakpoint('toggle-menu')) {
      max-height: 113px;
    }
  }
}

.social-networks--header {
  display: none;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    position: static;

    display: flex;

    float: right;
    margin-top: my.$gutter;
    margin-right: 0;
    margin-bottom: my.$gutter;
    margin-left: auto;

    filter: invert(100%);

    [id='menu-controller']:checked ~ * & {
      z-index: auto;

      background-color: transparent;
    }
  }
}

.main-header__title {
  max-width: 17em;
  margin: auto auto 0;
  clear: both;

  font-size: my.ms-step(30px);
  font-weight: my.font-weight('bold');
  line-height: math.div(38, 30);
  text-align: center;

  [id='menu-controller']:checked ~ * & {
    display: none;
  }
}

.search-form--header {
  max-width: my.$max-width--narrow;
  height: auto;
  padding-top: my.$gutter;
  margin: auto;

  [id='menu-controller']:checked ~ * & {
    display: none;
  }

  .main-header__title + & {
    margin: 0 auto auto;
  }
}

.a11y-i18n-bar--header {
  @include my.full-width;

  padding-right: my.$gutter;
  padding-left: my.$gutter;
  margin-bottom: my.$gutter;

  background-color: my.palette('neutral', 'white');

  .a11y-i18n-bar__list {
    margin-right: 0;
    margin-left: auto;

    filter: invert(100%);
  }

  .a11y-i18n-bar__list--a11y {
    [id='menu-controller']:checked ~ * & {
      display: none;
    }
  }

  .a11y-i18n-bar__list--i18n {
    display: none;

    opacity: 0;

    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: opacity transform;
    transform: scale(0);
    transform-origin: 50% 0;
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.clearfix;

    position: static; // resetting full-width mixin

    width: 100%; // resetting full-width mixin
    padding-right: 0;
    padding-left: 0;
    margin-right: 0; // resetting full-width mixin
    margin-bottom: 0;
    margin-left: 0; // resetting full-width mixin

    background-color: transparent;

    .a11y-i18n-bar__list {
      display: block;

      float: right;

      filter: none;
    }

    .a11y-i18n-bar__list--i18n {
      display: table;

      filter: none;
      opacity: 1;

      transform: none;
    }

    .a11y-i18n-bar__list--a11y {
      position: static;

    }
  }
}

.header-nav {
  font-weight: inherit;
  color: my.palette('neutral', 'black');

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.shadow;

    white-space: nowrap;

    background-color: my.palette('neutral', 'white');
  }
}

.header-nav__list {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: my.layer('dropdown');

  display: block;

  max-width: 100%;

  font-size: my.ms-step(14px);

  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: translateY(-100%);

  .going-to-search-results & {
    z-index: auto;
  }

  [id='menu-controller']:checked ~ & {
    box-shadow: 8px 12px 24px 0 rgba(0, 0, 0, 0.1);

    transform: translateY(0);
  }

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.container;

    position: static;

    display: table;

    height: 100%;
    margin-right: auto;
    margin-left: auto;

    table-layout: fixed;

    box-shadow: none;

    transform: translateY(0);
  }
}

.header-nav__list > li {
  position: relative;

  display: table-cell;

  width: 100%;

  font-weight: my.font-weight('medium');
  line-height: my.$gutter * 3;
  vertical-align: middle;

  cursor: pointer;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    width: auto;

    &:hover {
      font-weight: bold;
    }
  }
}

.header-nav__list > li > ul {
  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    @include my.shadow;

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: my.layer('dropdown') - 1;

    padding: my.$gutter;
    overflow: hidden;
    clip-path: polygon(-60px #{my.$stroke__thick * -1}, calc(100% + 60px) #{my.$stroke__thick * -1}, calc(100% + 60px) calc(100% + 60px), -60px calc(100% + 60px));

    font-size: my.ms-step(14px);
    font-weight: my.font-weight('medium');
    line-height: 1.25;
    text-align: left;
    white-space: normal;

    cursor: default;
    visibility: hidden;

    background-color: my.palette('neutral', 'white');
    border-top: 3px solid transparent;
    opacity: 0;

    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: opacity transform;
    transform: scale(0);
    transform-origin: 50% 0;

    &::before {
      position: absolute;
      top: my.$stroke__thick * -1;
      right: 0;
      left: 0;

      height: my.$stroke__thick;

      content: '';
    }
  }
}

.header-nav__list > li:hover ul {
  display: block;

  visibility: visible;

  opacity: 1;

  transform: scale(1) translateY(my.$stroke__thick);
}

.header-nav__list > li li {
  display: flex;

  align-items: center;
}

.header-nav__list a {
  display: block;

  width: 100%;
  padding: my.$gutter * 0.25;

  text-overflow: ellipsis;

  cursor: pointer;
}

/// .menu-controller styles
///
/// @group helpers
///
/// @example html
/// <label for="menu-controller" onclick>menu</label>
///
[for='menu-controller'] {
  order: 1;

  margin: 0 0 0 auto;

  color: inherit;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    float: right;
    margin: my.$gutter 0 0 auto;
  }

  > svg {
    display: block;

    fill: currentColor;
    stroke: currentColor;
  }

  [id='menu-controller']:checked ~ * & {
    color: my.palette('brand', 'green', 'medium');
  }
}
