@use '../abstracts' as my;

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: my.layer('modal');

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding: (my.$gutter * 2) 0 0;

  font-size: my.ms-step(14px);
  font-weight: inherit;
  color: my.palette('neutral', 'black');
  text-align: left;

  visibility: hidden;

  background-color: my.palette('neutral', 'white');
  opacity: 0;

  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: opacity, transform;
  transform: scale(0);
  transform-origin: 50% 0;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    padding: my.$gutter 0;
  }

  [id='menu-controller']:checked ~ * & {
    visibility: visible;

    opacity: 1;

    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: opacity, transform;
    transform: scale(1);
  }

  [for='menu-controller'] {
    position: fixed;
    top: 0;
    right: my.$gutter;

    @media screen and (min-width: my.$max-width) {
      right: calc(50% - #{my.$max-width * 0.5} + #{my.$gutter * 2});
    }
  }
}

.main-nav__title {
  @include my.container;

  font-size: 1em;
  font-weight: my.font-weight('bold');
  text-transform: uppercase;

  border-bottom: my.$stroke__thin solid my.palette('brand', 'green', 'medium');
}

.main-nav__list {
  @include my.container;

  display: block;

  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  overflow: auto;

  font-weight: my.font-weight('bold');
  text-align: center;
}

.main-nav li {
  display: block;

  margin-bottom: 0;
}

.main-nav li ul {
  display: block;

  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;

  font-weight: my.font-weight('normal');

  opacity: 0;

  transition-delay: 0, 0;
  transition-duration: 1s, 1s;
  transition-property: max-height, opacity;
}

.main-nav li:focus-within > ul,
.main-nav button:focus + ul {
  max-height: 999em;

  opacity: 1;

  transition-delay: 0, 0;
  transition-duration: 1s, 1s;
  transition-property: max-height, opacity;
}

.main-nav button:focus {
  pointer-events: none;
}

.main-nav__menu-item-container,
.main-nav__list a {
  position: relative;
  z-index: my.layer('default');

  display: inline-flex;

  justify-content: center;

  min-height: 0;
  padding: my.$gutter * 0.5;

  color: inherit;
  text-decoration: inherit;

  background: none;

  @include my.on-event {
    color: inherit;
    text-decoration: inherit;

    background: none;
    outline: 0;
  }
}

.main-nav__menu-item-container {
  font-weight: inherit;
}

.main-nav__list button {
  font-weight: my.font-weight('bold');

  @include my.on-event {
    font-weight: my.font-weight('bold');
  }
}

.main-nav__list a {
  font-weight: my.font-weight(normal);
}

.main-nav__i18n,
.main-nav__social {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    display: none;
  }

  .a11y-i18n-bar__list--i18n {
    &::before {
      filter: invert(100);
    }
  }
}

.main-nav__list--menu-em-cascata {
  @media screen and (min-width: my.breakpoint('toggle-menu')) {
    display: none;
  }
}
