{exp:query
    sql="SELECT GROUP_CONCAT(DISTINCT ec.cat_id SEPARATOR '|') AS 'dialog_flow_ids',
    GROUP_CONCAT(DISTINCT ecg1.group_id SEPARATOR '|') AS 'services_ids'
    FROM exp_categories ec
    JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id
    JOIN exp_category_groups ecg1
    WHERE LOWER(ecg.group_name) = 'dialogflow'
        AND (
            LOWER(ec.cat_name) = '{exp:request:get_post name="category"}'
            OR LOWER(ec.cat_url_title) = '{exp:request:get_post name="category"}'
        )
        AND LOWER(ecg1.group_name) = 'categorias de servicos';"
    parse="inward"
}
    {if count == 1}
        <h2 class="h-feed__p-name h-feed__p-name--pln-results p-name">
            Acreditamos que você está buscando por "{exp:request:get_post name='category'}". Certo?
        </h2>

        <p class="h-feed__p-summary h-feed__p-summary--pln-results">
            Os resultados disponíveis estão abaixo.
        </p>

        <div class="h-feed__list h-feed__list--pln-results">
    {/if}

            {exp:channel:entries channel="document|service" site="not none" limit="12" dynamic="no"
                disable="custom_fields|member_data|pagination"
                status="not closed" category="{dialog_flow_ids}"
            }
                <a
                    {if page_uri}
                        href='{page_uri}'
                    {if:elseif "{channel_url}" $="/"}
                        href="{channel_url}{url_title}"
                    {if:else}
                        href='https:/{relative_url}/{url_title}'
                    {/if}
                    class="h-entry__u-url--pln-results h-entry__u-url"
                >
                    <article class="h-feed__h-entry h-entry h-feed__h-entry--pln-results">
                        {categories show_group="{services_ids}"}
                            <img
                                width="" height="" src="{category_image}" alt=""
                                decoding="async" loading="lazy" class="h-entry__u-photo u-photo pln-results__thumb"
                            />
                        {/categories}

                        <h3 class="h-entry__p-name p-name h-entry__p-name--pln-results">{title}</h3>
                    </article>
                </a>
            {/exp:channel:entries}

    {if count == total_results}
        </div>
    {/if}
{/exp:query}
