{layout="default_site:site/_layout" root_class="news"}

{if segment_3 == ""}
    <main class="mosaic__wrapper mosaic__wrapper--video h-feed">
        {exp:channel:entries limit="1" channel="pages" disable="category_fields|member_data|pagination"}
            <header class="h-feed__header">
                <h1 class="h-feed__p-name p-name mosaic__title mosaic__title--video">
                    {title}
                </h1>
                {if no_results}
                <h1 class="h-feed__p-name p-name mosaic__title mosaic__title--video">
                    Últimas notícias
                    {layout:set name="title"}Últimas notícias{/layout:set}
                </h1>
                {/if}
            </header>
            {body}
        {/exp:channel:entries}

        {exp:query sql="SELECT ect.entry_id, ecgf.col_id_40 AS src, ect.url_title, ect.title, ect.entry_date
            FROM exp_channel_grid_field_68 ecgf
            INNER JOIN exp_channel_titles ect ON ect.entry_id = ecgf.entry_id
            WHERE ect.site_id = 1 AND ect.status != 'closed' AND ect.channel_id = 2
            GROUP BY ect.entry_id
            ORDER BY ect.entry_date DESC, ecgf.row_order ASC
            LIMIT 21;"
            parse_files="y"
        }
            {if no_results}
                <p>
                    Nenhum vídeo encontrado.
                </p>
            {/if}
            {if count == 1}
                <section class="h-feed__list gallery gallery--video">
            {/if}
                    <figure class="h-feed__h-entry h-entry gallery__item gallery__item--video">
                        <a href="/noticias/{url_title}/videos" target="_blank"
                            class="u-url gallery__link gallery__link--video" />
                            {exp:antenna url="{src}" max_width="400" max_height="285" cache_minutes="1680"}
                                <img
                                    width="260"
                                    height="146"
                                    src="{video_thumbnail}"
                                    alt=""
                                    decoding="async" loading="lazy"
                                    class="gallery__image gallery__image--video"
                                />

                                {if video_title}
                                    <figcaption class="gallery__caption gallery__caption--video">
                                        {video_title}
                                    </figcaption>
                                {/if}
                            {/exp:antenna}
                        </a>
                    </figure>
            {if count == total_results}
                </section>

                    <p class="read-more read-more--last-news">
                        <a class="read-more__link" href="/noticias/videos">+ Vídeos</a>
                    </p>
            {/if}
        {/exp:query}
    </main>
{if:else}
    {redirect="404"}
{/if}
