@use '../abstracts' as my;

///
/// Accordions
///
/// @group components
///
/// @example html
/// <div class="accordions">
///     <h2 class="accordions__title">
///         Você pode se interessar por:
///     </h2>
///     <details class="accordions__item">
///         <summary class="accordions__summary">
///             Avenida Litorânea: Setur entrega mirante e escultura
///         </summary>
///         <div class="accordions__detail">
///             A lenda maranhense conta que uma serpente rasga o solo lentamente e quando a sua calda e cabeça se tocarem a ilha de…
///         </div>
///     </details>
///     <details class="accordions__item">
///         <summary class="accordions__summary">
///             Setur oferece curso gratuito de turismo seguro
///         </summary>
///         <div class="accordions__detail">
///             Considerando o potencial turístico do Polo Lençóis Maranhenses, no período de 28 junho a 02 de julho, o Governo do…
///         </div>
///     </details>
/// </div>
///

.accordions {
  background-color: my.palette('neutral', 'x-light');
  border: my.$stroke solid my.palette('neutral', 'base');
  border-radius: my.$rounded-corner;

  > * {
    padding-right: my.$gutter;
    padding-left: my.$gutter;
  }
}

.accordions__title {
  @include my.truncate;

  margin: 0;

  font-size: my.ms(2);
  line-height: my.$gutter * 3;
}

.accordions__item {
  margin: 0;

  border-top: my.$stroke solid my.palette('neutral', 'base');

  &:first-child {
    border-top-color: my.palette('neutral', 'dark');
  }
}

.accordions__summary {
  @include my.truncate;

  display: block;

  padding-right: my.$gutter;

  line-height: my.$gutter * 2;
  color: inherit;

  background-image: my.image('icons/to-bottom.svg');
  background-position: right center;

  &::before {
    content: none;
  }

  [open] & {
    margin: 0;

    background-image: my.image('icons/to-top.svg');

    &::before {
      content: none;
    }
  }
}

.accordions__detail {}
