@use '../abstracts' as my;

///
/// Ads
///
/// @group components
///
/// @example html
/// <div class="accordions">
///     <h2 class="accordions__title">
///         Você pode se interessar por:
///     </h2>
///     <details class="accordions__item">
///         <summary class="accordions__summary">
///             Avenida Litorânea: Setur entrega mirante e escultura
///         </summary>
///         <div class="accordions__detail">
///             A lenda maranhense conta que uma serpente rasga o solo lentamente e quando a sua calda e cabeça se tocarem a ilha de…
///         </div>
///     </details>
///     <details class="accordions__item">
///         <summary class="accordions__summary">
///             Setur oferece curso gratuito de turismo seguro
///         </summary>
///         <div class="accordions__detail">
///             Considerando o potencial turístico do Polo Lençóis Maranhenses, no período de 28 junho a 02 de julho, o Governo do…
///         </div>
///     </details>
/// </div>
///

.ad__wrapper {
  body > & {
    @include my.container;
  }
}

.ad__list {
  @include my.unholy-albatross (900px);

  justify-content: center;

  padding: 0;
  margin-top: my.$gutter;
  margin-right: my.$gutter * -0.5;
  margin-bottom: my.$gutter;
  margin-left: my.$gutter * -0.5;

  > * {
    margin-right: my.$gutter * 0.5;
    margin-left: my.$gutter * 0.5;
  }
}

.ad__item {
  display: block;

  padding: 0;
  margin-bottom: my.$gutter;

  &::before {
    content: none;
  }
}

.ad__link {
  display: block;
}

.ad__image {
  display: block;

  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ad__image--header {
  @include my.fallback('max-width', min(100%, 1108px), 1108px);

  margin-bottom: my.$gutter * 4;
}

.ad__image--footer {
  width: 355px;
}
