@use '../abstracts' as my;

///
/// Calendar menu
///
/// @group components
///
/// @example html
/// <ul class="calendar-menu__list">
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         30
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         31
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         1
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         2
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         3
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         4
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         5
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         6
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         7
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         8
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         9
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         10
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         11
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         12
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         13
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         14
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         15
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         16
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         17
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         18
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         19
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item--today calendar-menu__item--current active">
///         20
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         21
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         22
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         23
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         24
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         25
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         26
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         27
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--no-entries calendar-menu__item">
///         28
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         1
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         2
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         3
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         4
///     </li>
///     <li class="calendar-menu__item calendar-menu__item--blank">
///         5
///     </li>
/// </ul>
///

.calendar-menu {
  padding: 0;
  margin: 0;

  font-size: my.ms-step(36px);
  font-weight: my.font-weight('bold');
  text-align: center;
  text-transform: none;

  .slider__next,
  .slider__prev {
    top: 0;
    bottom: my.$stroke__thick;

    height: auto;

    background-color: my.palette('neutral', 'white');

    transform: none;

    @include my.on-event {
      background-color: my.palette('neutral', 'white');
    }
  }

  .slider__prev {
    right: auto;
    left: 0;
  }

  .slider__next {
    right: 0;
    left: auto;
  }

  a {
    @include my.link-undercover;

    display: block;

    padding: 0;

    font-size: my.ms-step(45px);
  }
}

.calendar-menu__month-header {}

.calendar-menu__month-links {
  @include my.image-replacement;

  background-position: 50% 50%;
  background-size: 1ex auto;
}

.calendar-menu__month-links--previous {
  background-image: my.image('icons/to-left.svg');
}

.calendar-menu__month-links--next {
  background-image: my.image('icons/to-right.svg');
}

.calendar-menu__list {
}

.calendar-menu__item {
  width: auto;
  padding-right: my.$gutter * 1.5;
  padding-left: my.$gutter * 1.5;

  line-height: my.$gutter * 4;

  border-color: my.palette('neutral', 'base');
  border-style: none none solid;
  border-width: my.$stroke__thin;

  &.slider__item {
    width: auto;
  }

  &:hover {
    border-color: my.palette('brand', 'blue');
  }
}

.calendar-menu__item--blank {
  color: my.palette('neutral', 'gray');
}

.calendar-menu__item--today {
  font-size: my.ms-step(45px);
  font-weight: my.font-weight('bold');
}

.calendar-menu__item--current {
  border-color: my.palette('brand', 'blue');
  border-width: my.$stroke__thick;
}

.calendar-menu__week-days {
  color: my.palette('neutral', 'gray');

  background-color: inherit;
}
