@use '../abstracts' as my;

///
/// Categories
///
/// @group components
///
/// @example html
/// <ul class="h-entry__p-category-list">
///   <li class="h-entry__p-category-item">
///     <a class="h-entry__p-category-link" href="/categorias/secretaria/secretaria-de-turismo">
///       Secretaria de turismo
///     </a>
///   </li>
///
///   <li class="h-entry__p-category-item">
///     <a class="h-entry__p-category-link" href="/categorias/secretaria/anuncio">
///       anúncio
///     </a>
///   </li>
///   <li class="h-entry__p-category-item">
///     <a class="h-entry__p-category-link" href="/categorias/secretaria/press-release">
///       press release
///     </a>
///   </li>
/// </ul>
///

.h-entry__p-category-list {
  padding: 0;
  margin: 0 0 my.$gutter 0;

  font-weight: my.font-weight('bold');
  color: my.palette('neutral', 'white');
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
}

.h-entry__p-category-item {
  display: inline-block;

  padding: my.$rounded-corner--small (my.$gutter * 0.5);
  margin-right: my.$gutter * 0.33;
  margin-bottom: my.$gutter * 0.33;
  overflow: hidden;

  text-align: center;

  background-color: my.palette('brand', 'red-medium');

  &::before {
    content: none;
  }

  &:last-child {
    margin-bottom: my.$gutter * 0.33;
  }
}

.h-entry__p-category-link {
  @include my.link-undercover;

  display: block;
}
