@use '../abstracts' as my;

/* checkboxes and radio buttons
---------------------------------------------------------------------------- */

/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
form ol,
form ul {
  padding: 0;
  margin: 0;
}

form ol li,
form ul li {
  display: block;

  padding: 0;
  margin: 0;

  white-space: nowrap;
  list-style-type: none;

  article &::before,
  &::before {
    content: none;
  }
}

li label {
  display: inline;

  padding: 0 0.5em;

  white-space: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Reset height (applied by a rule above).
 * 4. Revert the webkit blur effect on focus in Safari for better visual effect.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */

  width: auto;
  height: auto; /* 3 */
  padding: 0; /* 2 */

  vertical-align: middle;

  cursor: pointer;

  background-color: my.palette('neutral', 'white');

  &:hover {
  }

  &:focus {
    @include my.focused;

    outline-style: auto; /* 4 */
  }
}

[type='radio'] {
  &:indeterminate {
  }

  &:checked {
  }
}

[type='checkbox'] {
  width: 0.833333rem;
  height: 0.833333rem;

  border: my.$stroke__thin solid currentColor;
  border-radius: my.$rounded-corner--tiny;
  appearance: none;

  &:checked {
  }
}

li:hover {
  > input,
  > label {
    color: my.palette('black');
  }
}

li :checked + label {
  font-weight: bold;
}

[disabled] + label,
:disabled + label {
  color: my.palette('disabled', 'foreground');

  cursor: default;
}
