@use 'sass:map';

@use '../abstracts' as my;

.consent-request__wrapper {
  @include my.container;

  position: fixed;
  bottom: 0;
  z-index: 50;

  padding: 0 (my.$gutter * 0.5);
  margin-left: 50%;

  font-size: my.ms-step(12px);

  background-color: my.palette('neutral', 'gray');

  transform: translateX(-50%);
}

.consent-request {
  display: flex;

  flex-wrap: wrap;

  align-items: center;

  margin: 0;

  [role='group'] {
    flex-grow: 1;

    padding: (my.$gutter * 0.5) 0;
    margin: 0;

    > * {
      padding: 0;
      margin-right: 0;
      margin-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .consent-request__content {
    max-width: map.get(my.$line-lengths, 'max');
  }

  .consent-request__controls {
    display: flex;

    flex-basis: 0;
    flex-wrap: nowrap;

    align-items: center;

    min-width: map.get(my.$line-lengths, 'min');
  }

  .consent-request__withdraw-button,
  .consent-request__grant-button {
    flex-basis: 0;

    padding: 0 (my.$gutter * 0.5);
    margin-right: (my.$gutter * 0.5);

    text-decoration: none;
    white-space: nowrap;
  }

  .consent-request__grant-button {
    color: my.palette('neutral', 'white');

    background-color: my.palette('brand', 'blue');
    border: 0;

    @include my.on-event {
      text-decoration: none;
    }
  }
}
