@use 'sass:map';

@use '../abstracts' as my;

///
/// Consent requests
///
/// @group components
///
/// @example html
/// <div class="consent-request__wrapper" data-js="toggle">
///     <div class="consent-request">
///         <div role="group" class="consent-request__content">
///             O Portal de Serviços do Governo do Estado do Maranhão utiliza cookies para melhorar sua experiência de navegação no portal.
///         </div>
///
///         <div role="group" class="consent-request__controls">
///             <a class="consent-controller consent-request__grant-button like-a__button like-a__button--submit" href="foobar">Aceito</a>
///
///             <a href="/privacidade/cookies" target="_blank">
///                 Configurações e Política de monitoramento por cookies
///             </a>
///         </div>
///     </div>
/// </div>
///

.consent-request__wrapper {
  @include my.container;

  position: fixed;
  bottom: 0;
  z-index: 50;

  padding: 0 (my.$gutter * 0.5);
  margin-left: 50%;

  font-size: my.ms-step(12px);

  background-color: my.palette('neutral', 'gray');

  transform: translateX(-50%);
}

.consent-request {
  display: flex;

  flex-wrap: wrap;

  align-items: center;

  margin: 0;

  [role='group'] {
    flex-grow: 1;

    padding: (my.$gutter * 0.5) 0;
    margin: 0;

    > * {
      padding: 0;
      margin-right: 0;
      margin-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .consent-request__content {
    max-width: map.get(my.$line-lengths, 'max');
  }

  .consent-request__controls {
    display: flex;

    flex-basis: 0;
    flex-wrap: nowrap;

    align-items: center;

    min-width: map.get(my.$line-lengths, 'min');
  }

  .consent-request__withdraw-button,
  .consent-request__grant-button {
    flex-basis: 0;

    padding: 0 (my.$gutter * 0.5);
    margin-right: (my.$gutter * 0.5);

    text-decoration: none;
    white-space: nowrap;
  }

  .consent-request__grant-button {
    color: my.palette('neutral', 'white');

    background-color: my.palette('brand', 'blue');
    border: 0;

    @include my.on-event {
      text-decoration: none;
    }
  }
}
