@use '../abstracts' as my;

/* figures
---------------------------------------------------------------------------- */

/**
 * 1. Address margin not present in IE 8/9 and Safari 5.
 * 2. http://thenewcode.com/662/Design-From-the-Inside-Out-With-CSS-Min-Content
 */

///
/// Figure
///
/// @group components
///
/// @example html
/// <figure>
///   <img
///     width="744"
///     height="311"
///     src="404.demo"
///     alt="description of image"
///   />
///   <figcaption>
///     Picture caption
///     <small class="caption__location">
///         (Picture location —
///     </small>
///     <small class="caption__credit">
///         picture credit)
///     </small>
///   </figcaption>
/// </figure>
///

figure {
  @include my.fallback('margin', my.$gutter 0); /* 1 */

  max-width: 100%;
  margin: 0;

  > * {
    display: block;
  }
}

figure a {
  @include my.link-undercover;
}

figure img {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

figcaption {
  display: block;

  margin: 0.25em 0 0;

  font-size: my.ms-step(14px);
  color: my.palette('neutral', 'dark');
  text-align: center;
}

figcaption p,
figcaption small {
  max-width: none;
  margin: 0;

  font-size: 1em;
}

figcaption small {
  font-size: my.ms-step(12px);
}

.caption__location,
.caption__credit {
  font-style: italic;
}
