@use '../abstracts' as my;

/* feed
* @see http://microformats.org/wiki/h-feed
*/
.h-feed {
  color: my.palette('neutral', 'dark');

  .h-entry__subhead {
    display: inline;

    margin: 0;
  }

  .h-entry__p-name {
    display: block;

    max-width: 25em;
    margin-bottom: my.$gutter * 0.5;

    font-size: my.ms(3);
    font-weight: my.font-weight('bold');
    color: my.palette('neutral', 'black');
    text-decoration: underline;
  }

  .h-entry__u-photo {
    width: 100%;
  }

  .h-entry__u-url {
    @include my.link-undercover;
  }

  .dt-published {
    display: inline;

    margin-bottom: 0;

    font-style: inherit;

    &::before {
      content: '• ';
    }
  }

  .h-entry__p-summary {
    font-size: my.ms(-1);
  }
}

.h-feed__header {
  margin-bottom: my.$gutter;
}

.h-feed__subhead {
  display: inline;

  margin: 0;

  font-size: my.ms(-2);
  font-weight: inherit;
  text-transform: uppercase;
}

.h-feed__p-name {
  margin: 0 0 my.$gutter 0;

  font-size: my.ms(4);
  font-weight: inherit;
  color: my.palette('neutral', 'black');

  border-bottom: 0;
}

.h-feed__e-content {
}

.h-feed__h-entry {
  margin-bottom: my.$gutter * 3;
}

.h-feed__p-summary {
}

.h-feed__p-author {
}

.h-feed__p-author.h-card {
}

.h-feed__u-url {
}

.h-feed__u-photo {
}

.h-entry__u-url {
}

.h-feed__list {
}

.h-feed__read-more {
  border-bottom: 0;
}
