@use 'sass:map';
@use '../abstracts' as my;

/* feed
* @see http://microformats.org/wiki/h-feed
*/
.h-feed {
  .h-entry {
    @include my.clearfix;

    display: block;

    margin-bottom: my.$gutter * 2.5;
  }

  .h-entry__u-url {
    @include my.link-undercover;

    display: flex;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    max-width: 100%;

    font-size: 1em;
    font-weight: inherit;
  }

  .h-entry__header {
    flex-basis: 100%;

    margin-bottom: my.$gutter * 0.25;

    font-size: my.ms-step(12px);
  }

  .h-entry__subhead {
    display: inline;

    margin: 0;

    font-size: 1em;
    color: my.palette('neutral', 'dark');
  }

  .h-entry__p-name {
    display: block;

    max-width: 25em;
    margin-bottom: my.$gutter * 0.25;

    font-size: my.ms-step(21px);
    font-weight: my.font-weight('bold');
  }

  .h-entry__u-photo {
    max-width: 100%;
    margin-right: my.$gutter;
    margin-bottom: my.$gutter;
    margin-left: 0;
  }

  .dt-published {
    display: inline;

    margin-bottom: 0;

    font-size: 1em;
    font-style: inherit;
    color: my.palette('neutral', 'dark');

    &::before {
      content: '• ';
    }
  }

  .h-entry__p-summary {
    flex-basis: 0;
    flex-grow: 1;

    min-width: min(#{map.get(my.$line-lengths, 'min')}, 100%);
    max-width: map.get(my.$line-lengths, 'max');
    overflow: hidden;

    color: my.palette('neutral', 'dark');
  }
}

.h-feed__header {
  margin-bottom: my.$gutter * 3;
}

.h-feed__subhead {
  margin: 0;

  font-size: my.ms-step(12px);
  font-weight: inherit;
  text-transform: uppercase;
}

.h-feed__p-name {
  margin: 0;

  font-size: my.ms-step(28px);
  font-weight: inherit;

  border-bottom: 0;
}

.h-feed__e-content {
  margin-top: my.$gutter * 0.5;
  margin-bottom: my.$gutter * 0.5;
}

.h-feed__h-entry {
}

.h-feed__p-summary {
}

.h-feed__p-author {
}

.h-feed__p-author.h-card {
}

.h-feed__u-url {
}

.h-feed__u-photo {
}

.h-entry__u-url {
}

.h-feed__list {
  padding: 0;
}

.h-feed__read-more {
  border-bottom: 0;
}
