@use '../abstracts' as my;

.last-news {
  margin-bottom: my.$gutter;

  .h-feed__p-name--last-news {
    margin-bottom: my.$gutter;

    font-size: my.ms-step(16px);
    font-weight: my.font-weight('bold');
    text-transform: uppercase;

    border-bottom-style: solid;
    border-bottom-width: my.$stroke;
  }

  .h-feed__list--last-news {
  }

  .h-entry__u-url--last-news {
    @include my.link-undercover;
  }

  .h-entry__u-url--featured {
    position: relative;

    text-align: center;

    transform-origin: 50% 50%;

    &:hover,
    &:focus,
    &:active {
      .h-entry__u-photo {
        transform: scale(1.1);
      }
    }
  }

  .h-feed__h-entry--last-news {
    margin-bottom: my.$gutter;
  }

  .h-feed__h-entry--featured {
    position: relative;

    width: 100%;
    margin: 0;
    overflow: hidden;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      color: my.palette('neutral', 'white');

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: transparent linear-gradient(180deg, #ffffff00 0%, #83838200 60%, #000000 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        opacity: 0.68;
      }
    }
  }

  .h-entry__header {
    text-align: center;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      text-align: inherit;
    }
  }

  .h-entry__header--featured {
    margin: my.$gutter auto;

    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;

    @media screen and (min-width: my.breakpoint('phone__landscape')) {
      .h-entry__p-name--last-news {
        @include my.truncate(3, 1.5em);

        font-size: my.ms-step(18px);
      }
    }

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      position: absolute;
      right: my.$gutter * 0.5;
      bottom: my.$gutter * 0.5;
      left: my.$gutter * 0.5;
      z-index: my.layer('default');

      max-width: calc(100% - #{my.$gutter});
      padding: my.$gutter * 0.5;

      .h-entry__p-name--last-news {
        font-size: my.ms-step(24px);
      }
    }

    @media screen and (min-width: my.breakpoint('tablet__landscape')) {
      .h-entry__p-name--last-news {
        font-size: my.ms-step(28px);
      }
    }
  }

  .h-entry__p-category-list {
    margin: 0;
  }

  .h-entry__u-photo--last-news {
  }

  .h-entry__p-name--last-news {
    margin: 0 auto;

    font-size: 1em;
    font-weight: my.font-weight('bold');
    color: inherit;
    text-decoration: inherit;
  }

  .h-entry__u-photo--featured {
    float: none;
    width: 100%;
    aspect-ratio: 21 / 15;

    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: margin transform;
    object-fit: cover;
    object-position: 50% 0;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      height: 100%;
    }
  }

  .h-entry__dt-published--last-news {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    text-transform: lowercase;

    * {
      color: inherit;
    }

    .dt-published {
      &::before {
        content: none;
      }
    }
  }
}
