@use '../abstracts' as my;

.last-news {
  margin-bottom: my.$gutter * 2;
}

.last-news__title {
  grid-column: 1/-1;

  font-size: my.ms(3);
  font-weight: inherit;
}

.last-news__link {
  @include my.link-undercover;
}

.last-news__item {
}

.last-news__item-thumb {
}

.last-news__item-title {
  margin: 0;

  font-size: my.ms(-1);
}

.last-news__date * {
  color: inherit;
}
