@use '../abstracts' as my;

.h-feed.main-services {
  position: relative;

  margin-bottom: my.$gutter * 3;

  .main-services__title {
    border-color: my.palette('brand', 'green-medium');
  }

  .main-services__list {
    // display: flex;
    // flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    grid-gap: 0 my.$gutter;
  }

  .main-services__link {
    @include my.link-undercover;

    // flex-basis: 0;

    // margin: 0 (my.$gutter * 0.5) (my.$gutter * 2) (my.$gutter * 0.5);
    margin: 0 0 (my.$gutter * 2) 0;
  }

  .main-services__item {
    @include my.clearfix;

    display: flex;

    align-items: center;

    padding-top: my.$gutter * 0.5;
    padding-bottom: my.$gutter * 0.5;
    margin: 0;
  }

  .main-services__item-title {
    margin: 0;

    font-size: my.ms(0);
    font-weight: my.font-weight('bold');
  }

  .main-services__thumb {
    // float: left;
    width: 55px;
    height: unset;
    height: auto;
    margin-right: my.$gutter;
    overflow: hidden;
    object-fit: cover;

    // ~ * {
    //   margin-left: #{my.$gutter * 2};
    // }
  }
}
