@use '../abstracts' as my;

.main-services {
  @include my.clearfix;

  position: relative;

  display: flex;

  flex-wrap: wrap;

  margin-bottom: my.$gutter;

  // reset lists
  ul,
  li {
    display: block;

    &::before {
      content: none;
    }

    a {
      @include my.link-undercover;
    }
  }

  .read-more {
    flex-basis: 100%;

    margin-right: 0;
    margin-left: auto;
  }

  .read-more__link {
    @include my.link-undercover;

    &::before {
      color: my.palette('brand', 'green-medium');
    }
  }

  .h-feed__p-name--main-services {
    flex-basis: 100%;

    margin-bottom: my.$gutter * 2;

    font-weight: my.font-weight('bold');
    text-transform: uppercase;

    border-bottom: my.$stroke solid my.palette('brand', 'blue-medium');
  }

  .main-services__title {
    @include my.truncate;

    font-size: my.ms(4);
    font-weight: my.font-weight('bold');
    color: my.palette('brand', 'blue-medium');
    text-decoration: underline;
    white-space: nowrap;
  }

  .main-services__category {
    flex-basis: calc(50% - #{my.$gutter * 2});
    flex-grow: 1;

    min-width: 10em;
    padding-right: my.$gutter;
    padding-left: my.$gutter;

    @media screen and (min-width: my.breakpoint('tablet__landscape')) {
      flex-basis: 0;
    }
  }

  .main-services__list {
    position: relative;

    padding: 0;
    margin: 0;
    overflow: visible;
  }


  .main-services__item {
    padding: 0;
    margin: 0 0 my.$gutter * 0.5 0;
  }
}
