@use '../abstracts' as my;

.opened-menu:root {
  overflow: hidden;
}

[for='menu-controller'] {
  display: flex;

  align-items: center;
  justify-content: center;

  width: my.$gutter * 2;
  height: my.$gutter * 2;

  .menu-controller__line {
    transition-duration: 300ms;
    transition-property: fill opacity stroke transform;
  }

  .menu-controller__line--1,
  .menu-controller__line--3 {
    opacity: 1;

    transition-delay: 300ms;
  }

  .menu-controller__line--2 {
    transform-origin: 50% 50%;
  }

  [id='menu-controller']:checked ~ div & {
    .menu-controller__line--2 {
      transform: rotate(-45deg);
    }
    // stylelint-disable-next-line selector-max-compound-selectors
    .menu-controller__line--2 + .menu-controller__line--2 {
      transform: rotate(45deg);
    }

    .menu-controller__line--1,
    .menu-controller__line--3 {
      opacity: 0;
    }
  }
}
