@use '../abstracts' as my;

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: my.layer('modal');

  display: flex;

  flex-wrap: wrap;

  align-content: center;
  align-items: flex-start;

  padding: my.$gutter;
  padding-top: my.$gutter * 7;
  overflow: auto;

  color: my.palette('neutral', 'black');
  text-align: left;

  visibility: hidden;

  background-color: my.palette('neutral', 'white');
  opacity: 0;

  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: opacity, transform;
  transform: scale(0);
  transform-origin: 50% 0;

  [id='menu-controller']:checked + * & {
    visibility: visible;

    opacity: 1;

    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: opacity, transform;
    transform: scale(1);
  }
}

.main-nav__title {
  @include my.container;

  font-size: 1em;
  font-weight: my.font-weight('bold');
  text-transform: uppercase;

  border-bottom: my.$stroke__thin solid my.palette('brand', 'green-medium');
}

.main-nav__list {
  @include my.container;

  display: block;

  width: 100%;
  margin: 0 auto;

  font-weight: my.font-weight('bold');
  text-align: center;
  text-align: center;
}

.main-nav li {
  display: block;

  margin-bottom: 0;

  [tabindex] {
    cursor: pointer;
  }
}

.main-nav li ul {
  display: block;

  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;

  font-weight: my.font-weight(normal);

  opacity: 0;

  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: margin-top, max-height, opacity;
}

.main-nav li:focus,
.main-nav li:focus-within {
  pointer-events: none;
}

.main-nav li:focus-within ul,
.main-nav li:focus ul {
  max-height: 999em;
  margin-top: my.$gutter;

  pointer-events: auto;

  opacity: 1;

  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: margin-top, max-height, opacity;
}

.main-nav__list a {
  display: inline-flex;

  justify-content: center;

  padding: my.$gutter * 0.5;
}
