@use '../abstracts' as my;

[for='menu-controller'] {
  .menu-controller__line {
    transition-duration: 300ms;
    transition-property: fill opacity stroke transform;
  }

  .menu-controller__line--1,
  .menu-controller__line--3 {
    opacity: 1;

    transition-delay: 300ms;
  }

  .menu-controller__line--2 {
    transform-origin: 50% 50%;
  }

  &.opened {
    .menu-controller__line--2 {
      transform: rotate(-45deg);
    }

    .menu-controller__line--2 + .menu-controller__line--2 {
      transform: rotate(45deg);
    }

    .menu-controller__line--1,
    .menu-controller__line--3 {
      opacity: 0;
    }
  }
}
