@use '../abstracts' as my;

///
/// Navigation
///
/// @group components
///
/// @example html
///   <nav>
///     <ul>
///       <li>
///         <a href="/category/436">sed</a>
///       </li>
///       <li>
///         <a href="/category/743">et</a>
///         <button type="button" aria-haspopup="true">
///           children of et
///         </button>
///         <ul>
///           <li>
///             <a href="/category/219">pariatur</a>
///           </li>
///           <li>
///             <a href="/category/765">quae</a>
///           </li>
///         </ul>
///       </li>
///       <li>
///         <a href="/category/911">quae</a>
///       </li>
///     </ul>
///   </nav>
///

menu,
nav {
}

menu ul,
menu ol,
nav ul,
nav ol {
  display: flex;

  justify-content: center;

  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}

menu li,
nav li {
  @include my.fallback('display', 'flex', 'table');

  flex-wrap: wrap;

  width: 100%;
  padding: 0;
  margin: 0;

  &::before {
    content: none;
  }
}

[role='menuitem'],
nav button,
menu a,
nav a {
  @include my.link-undercover;
  @include my.fallback('display', 'flex', 'table-cell');

  display: flex;

  flex-grow: 1;

  align-items: center;

  min-height: my.$leading * 1.5em;
  padding: 0 my.$gutter;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  font-weight: inherit;
  text-overflow: ellipsis;

  background-color: transparent;

  &:only-child {
    height: 100%;
  }

  &:link {
    text-decoration: none;
  }

  &:focus {
    @include my.focused;
  }

  &:hover,
  &:focus,
  &:active {
    font-weight: inherit;
    color: inherit;
    text-decoration: underline;

    @supports (text-decoration-color: #{palette('accent')}) {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: my.palette('accent');
    }
  }
}

menu li ul,
nav li ul {
  display: block;

  flex-basis: 100%;

  max-height: 0;
  padding-left: my.$leading * 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;

  font-weight: my.font-weight('normal');

  opacity: 0;

  transition-delay: 0, 0;
  transition-duration: 1s, 1s;
  transition-property: max-height, opacity;
}

nav .opened,
nav li:focus-within > ul,
nav li:hover > ul,
nav button:hover + ul,
nav button:focus + ul {
  max-height: 999em;

  opacity: 1;

  transition-delay: 0, 0;
  transition-duration: 1s, 1s;
  transition-property: max-height, opacity;
}

nav button:focus {
  pointer-events: none;
}

nav [aria-controls]:focus,
nav [aria-haspopup]:focus {
  pointer-events: auto;
}

.current > a {
  pointer-events: none;
}

nav button[aria-haspopup] {
  min-width: 0;
  padding: 0;

  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;

  @include my.on-event {
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

nav button:first-child {
  width: 100%;

  &::after {
    display: inline-block;

    width: my.$leading * 1em;
    height: my.$leading * 1em;
    margin-left: 0.25em;

    content: '';

    background-image: my.image('/icons/plus.svg');
    background-position: 50% 50%;

    @media (pointer: coarse) {
      content: none;
    }

    @media (pointer: fine) {
      content: none;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background-image: my.image('/icons/minus.svg');
    }
  }
}

nav a + button[aria-haspopup] {
  @include my.image-replacement;

  flex-grow: 0;

  width: my.$leading * 1em;

  background-image: my.image('/icons/plus.svg');
  background-position: 50% 50%;

  &:focus {
    background-image: my.image('/icons/minus.svg');
  }
}

nav li:hover > a + button[aria-haspopup] {
  background-image: my.image('/icons/minus.svg');
}


// access
// ---------------------------------------------------------------------------- */
.skip-links {
}

.skip-links li {
}

.skip-links a {
  @include my.visually-hidden--focusable;
}

///
/// Pagination
///
/// @group components
///
/// @example html
///   <nav class="pagination">
///     <ul class="pagination__list">
///       <li class="pagination__item pagination__item--current">
///         <a class="pagination__link" href="/results/436ad7a4a3cb2a19a7659f1df1fcbfc8/" title="página 1">1</a>
///       </li>
///       <li class="pagination__item">
///         <a class="pagination__link" href="/results/436ad7a4a3cb2a19a7659f1df1fcbfc8/P1/" title="página 2">2</a>
///       </li>
///       <li class="pagination__item">
///         <a class="pagination__link" href="/results/436ad7a4a3cb2a19a7659f1df1fcbfc8/P2/" title="página 3">3</a>
///       </li>
///       <li class="pagination__item pagination__item--next-page">
///         <a class="pagination__link" href="/results/436ad7a4a3cb2a19a7659f1df1fcbfc8/P1/"
///           title="página seguinte">&gt;</a>
///       </li>
///       <li class="pagination__item pagination__item--last-page">
///         <a class="pagination__link" href="/results/436ad7a4a3cb2a19a7659f1df1fcbfc8/P12/"
///           title="página 13">&gt;&gt;</a>
///       </li>
///     </ul>
///   </nav>
///

.pagination {
  display: table;

  margin-top: my.$gutter * 3;
  margin-right: auto;
  margin-bottom: my.$gutter * 3;
  margin-left: auto;

  font-weight: my.font-weight('bold');

  border-collapse: collapse;
}

.pagination__list {
  display: table-row;
}

.pagination__item {
  display: table-cell;

  width: my.$gutter * 2;
  height: my.$gutter * 2;
  padding: 0;
  overflow: hidden;

  line-height: my.$gutter * 2;
  text-align: center;
  text-overflow: ellipsis;

  border-radius: 100%;
}

.pagination__item--first-page {}

.pagination__item--previous-page {}

.pagination__item--current {
  color: my.palette('neutral', 'white');

  background-color: my.palette('brand', 'blue', 'dark');
}

.pagination__item--next-page {}

.pagination__item--last-page {}

.pagination__link {
  @include my.link-undercover;

  display: block;

  justify-content: center;

  padding: 0;

  text-align: center;
}
