@use '../abstracts' as my;

///
/// Read more
///
/// @group components
///
/// @example html
/// <p class="read-more">
///   <a class="read-more__link" href="#">Read all</a>
/// </p>
///

.read-more {
  @include my.clearfix;

  grid-column: 1/-1;

  overflow: hidden;

  font-weight: my.font-weight('bold');
  text-align: right;
  text-overflow: ellipsis;

  border-bottom: 0;
}

.read-more__link {
  @include my.link-undercover;

  position: relative;

  display: block;

  float: right;
  padding-right: my.$gutter * 0.5;
  padding-left: my.$gutter * 0.5;
  margin-top: my.$gutter;
  margin-bottom: my.$gutter;

  @include my.on-event {
    &::before {
      bottom: 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: my.layer('below');

    color: my.palette('brand', 'green-medium');

    content: '';

    background-color: currentColor;
    border-top: my.$stroke__thin solid currentColor;

    transition-timing-function: ease-out;
    transition-duration: 100ms;
    transition-property: bottom;
  }
}
