@use '../abstracts' as my;

///
/// Read more
///
/// @group components
///
/// @example html
/// <p class="read-more">
///   <a class="read-more__link" href="#">Read all</a>
/// </p>
///

.read-more {
  overflow: hidden;

  font-size: my.ms(-1);
  font-weight: my.font-weight('bold');
  line-height: my.$gutter * 2;
  text-overflow: ellipsis;

  border-bottom: 0;
}

.read-more__link {
  display: block;

  @include my.link-undercover {
    color: my.palette('brand', 'blue-medium');
    text-decoration: underline;
  }
}
