@use '../abstracts' as my;

///
/// Read more
///
/// @group components
///
/// @example html
/// <p class="read-more">
///   <a class="read-more__link" href="#">Read all</a>
/// </p>
///

.read-more {
  @include my.clearfix;

  position: relative;
  z-index: my.layer('default');

  grid-column: 1/-1;

  overflow: hidden;

  font-weight: my.font-weight('bold');
  text-align: right;
  text-overflow: ellipsis;
  text-transform: uppercase;

  border-bottom: 0;
}

.read-more__link {
  @include my.link-undercover;

  position: relative;

  display: block;

  float: right;
  padding-right: my.$gutter * 0.5;
  padding-left: my.$gutter * 0.5;
  margin-top: my.$gutter;
  margin-bottom: my.$gutter;
  line-height: my.$gutter * 1.5;

  @include my.on-event {
    &::before {
      bottom: 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: my.layer('below');

    color: my.palette('brand', 'green', 'medium');

    content: '';

    background-color: currentColor;
    border-top: my.$stroke__thin solid currentColor;

    transition-timing-function: ease-out;
    transition-duration: 100ms;
    transition-property: bottom;
  }
}

.read-more--download,
.read-more--repository {
  max-width: 100%;

  white-space: nowrap;

  .read-more__link {
    flex-grow: 1;

    justify-content: center;

    font-weight: my.font-weight('bold');
    text-overflow: ellipsis;
    text-transform: uppercase;

    border: my.$stroke__thin solid currentColor;

    transition-duration: 100ms;
    transition-property: color;

    @include my.on-event {
      color: my.palette('neutral', 'white');

      border-color: my.palette('neutral', 'black');
    }

    &::before {
      color: my.palette('neutral', 'black');

      border: 0;
    }

    + .read-more__link {
      margin-top: 0;
    }
  }
}

.read-more--repository {
  .read-more__link {
    float: left;
  }
}

.read-more--download {
  .read-more__link {
    float: right;
  }
}
