@use '../abstracts' as my;

// @use '../vendor/modularscale' as * with (
//   $modularscale: my.$modularscale,
// );


///
/// Related news, events, documents...
///
/// @group components
/// @source http://oli.jp/2011/blockquote/
///
/// @example html
///   <aside class="related-content h-feed">
///     <h2 class="related-content__title">Related</h2>
///     <a href="{relative_url}/{url_title}" class="related-content__link">
///       <article class="h-feed__h-entry related-content__item">
///         <img class="h-feed__u-photo u-photo related-content__thumb" width="193" height="116" src="/uploads/imgs/IMG-041.jpg" />
///         <h3 class="h-feed__p-name p-name">Sample title</h3>
///         <p class="h-feed__dt-published">
///           <time class="dt-published related-content__date" datetime="2012-06-22T09:45:57-07:00">June 21, 2012</time>
///         </p>
///       </article>
///     </a>
///     <a href="{relative_url}/{url_title}" class="related-content__link">
///       <article class="h-feed__h-entry related-content__item">
///         <img class="h-feed__u-photo u-photo related-content__thumb" width="193" height="116" src="/uploads/imgs/IMG-011.jpg" />
///         <h3 class="h-feed__p-name p-name">Sample title</h3>
///         <p class="h-feed__dt-published">
///           <time class="dt-published related-content__date" datetime="2012-06-22T09:45:57-07:00">June 21, 2012</time>
///         </p>
///       </article>
///     </a>
///     <a href="{relative_url}/{url_title}" class="related-content__link">
///       <article class="h-feed__h-entry related-content__item">
///         <img class="h-feed__u-photo u-photo related-content__thumb" width="193" height="116" src="/uploads/imgs/IMG-031.jpg" />
///         <h3 class="h-feed__p-name p-name">Sample title</h3>
///         <p class="h-feed__dt-published">
///           <time class="dt-published related-content__date" datetime="2012-06-22T09:45:57-07:00">June 21, 2012</time>
///         </p>
///       </article>
///     </a>
///   </aside>
///

$gutter: my.$gutter * 0.5;

.related-content {
  @include my.shadow;

  display: flex;

  flex-wrap: wrap;

  align-items: stretch;

  margin-top: my.$gutter * 2;

  margin-bottom: my.$gutter * 2;

  overflow: hidden;

  background-color: my.palette('neutral', 'light');
  border-radius: my.$rounded-corner;

  * + * {
    margin-top: my.$gutter;
  }
}

.related-content__title {
  display: flex;

  flex-basis: 100%;

  align-items: center;

  padding: my.$gutter;

  font-size: my.ms(2);
  font-weight: my.font-weight('bold');
  line-height: 1;
  color: my.palette('neutral', 'white');

  background-color: my.palette('accent');
}

.related-content__link {
  @include my.link-undercover;

  display: block;

  flex-basis: 0;
  flex-grow: 1;

  padding: $gutter;
  margin: 0 $gutter my.$gutter $gutter;
  overflow: hidden;

  border: my.$stroke solid my.palette('neutral');
  border-radius: my.$rounded-corner;
}

.related-content__item {
  display: flex;

  flex-direction: column;

  font-size: my.ms(-1);

  * + * {
    margin-top: $gutter;
  }
}

.related-content__thumb {
  display: block;

  width: calc(100% + #{$gutter * 2});
  max-width: none;

  margin: ($gutter * -1) ($gutter * -1) 0 ($gutter * -1);

  background-color: my.palette('neutral', 'dark');
}

.related-content__date {
  margin-bottom: 0;
}
