@use '../layout/form';
@use './text-field' as *;
@use '../abstracts' as my;

/* selects
---------------------------------------------------------------------------- */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

select,
option {
  width: auto;
  min-width: 1.5em;

  line-height: 1;

  cursor: pointer;
}

/**
 * @see https://github.com/necolas/normalize.css/issues/579#issue-148022816
 */
.like-a__select,
select {
  @extend %text-field-reset;

  box-sizing: border-box;

  width: 100%;
  height: my.$gutter;

  text-align: left;
  text-indent: 0.01px; // stylelint-disable-line property-units
  text-overflow: '';

  -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.like-a__select,
select,
.ie6-9:invalid {
  padding-right: my.$gutter;

  background-color: my.palette('neutral', 'white');
  background-image: my.image('arrow--down.svg');
  background-position: right 6px top 50%;

  &:active {
    background-image: my.image('arrow--up.svg');
  }
}

.like-a__select {
  flex-wrap: wrap;

  justify-content: flex-start;

  overflow: hidden;

  &:hover {
    overflow: visible;
  }
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  @extend %os-element-reset;

  font-weight: my.font-weight('bold');
}

.like-a__select > *,
option {
  padding: 0 0.4em 0 0.1em;
  margin: 0;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: my.palette('black');
  }

  &[disabled] {
    display: none;

    &[value=''] {
      display: block;
    }
  }
}

.like-a__select > * {
  position: relative;
  top: 100%;

  display: block;

  width: calc(100% + #{my.$gutter});
  min-width: 100%;
  min-height: 1.5em;
  margin-right: my.$gutter * -1;

  line-height: 2;
  list-style-type: none;

  background-color: inherit;
  border-width: my.$stroke__thin;
  border-right-color: inherit;
  border-right-style: inherit;
  border-left-color: inherit;
  border-left-style: inherit;

  &::before,
  &::after {
    content: none;
  }

  &:first-child {
    border-top-color: inherit;
    border-top-style: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-color: inherit;
    border-bottom-style: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  &:hover {
    position: relative;
  }
}

.like-a__select:hover > * {
  z-index: my.layer('dropdown');

}

.like-a__select a {
  @include my.link-undercover;

  display: block;
}

select[multiple] { // stylelint-disable-line no-qualifying-elements
  resize: vertical;
}

select[multiple] option { // stylelint-disable-line no-qualifying-elements

  &:checked {
    font-weight: my.font-weight('bold');
  }
}
