@use 'sass:list';
@use '../abstracts' as my;

$list: (
  ('facebook'),
  ('instagram'),
  ('telegram', 't.me'),
  ('tiktok'),
  ('twitter'),
  ('whatsapp', 'api.whatsapp'),
  ('youtube'),
);

///
/// Social profiles
///
/// @group components
///
/// @example html
///  <ul class="social-networks">
///    <li class="social-networks__item">
///      <a href="https://facebook.com/" class="social-networks__link"></a>
///    </li>
///    <li class="social-networks__item">
///      <a href="https://youtube.com/" class="social-networks__link"></a>
///    </li>
///    <li class="social-networks__item">
///      <a href="https://instagram.com/" class="social-networks__link"></a>
///    </li>
///    <li class="social-networks__item">
///      <a href="https://twitter.com/" class="social-networks__link"></a>
///    </li>
///  </ul>
///

.social-networks {
  display: table;

  padding: 0;
  margin: 0;

  table-layout: fixed;
  border-collapse: collapse;
}

.social-networks__item {
  display: table-cell;

  padding: 0;
  margin: 0;

  vertical-align: middle;

  &::before {
    content: none;
  }
}

.social-networks__link {
  @include my.link-undercover;
  @include my.image-replacement;

  display: block;

  width: my.$gutter * 2;
  min-width: 30px;
  height: my.$gutter * 2;
  min-height: 24px;
  margin-right: auto;
  margin-left: auto;

  background-position: center center;

  @each $network in $list {
    @at-root {
      %background-#{list.nth($network, 1)} {
        background-image: my.image('social/#{list.nth($network, 1)}.svg');
      }
    }

    @each $domain in $network {
      &[href^='https://www.#{$domain}'],
      &[href^='https://#{$domain}'] {
        @extend %background-#{list.nth($network, 1)};
      }
    }
  }

  &[href^='mailto'] {
    background-image: my.image('social/email.svg');
  }
}

.share-bar {
  display: flex;

  flex-wrap: wrap;

  align-items: center;

  margin-top: my.$gutter;
  margin-bottom: my.$gutter;

  font-weight: my.font-weight('bold');
  text-transform: uppercase;
}
