@use '../abstracts' as my;

$list: (
  'facebook',
  'instagram',
  'telegram',
  'tiktok',
  'twitter',
  'youtube',
);

///
/// Social profiles
///
/// @group components
///
/// @example html
///  <ul class="social-profiles">
///    <li class="social-profiles__item">
///      <a href="https://facebook.com/" class="social-profiles__link"></a>
///    </li>
///    <li class="social-profiles__item">
///      <a href="https://youtube.com/" class="social-profiles__link"></a>
///    </li>
///    <li class="social-profiles__item">
///      <a href="https://instagram.com/" class="social-profiles__link"></a>
///    </li>
///    <li class="social-profiles__item">
///      <a href="https://twitter.com/" class="social-profiles__link"></a>
///    </li>
///  </ul>
///

.social-profiles {
  display: table;

  padding: 0;
  margin: 0;

  table-layout: fixed;
  border-collapse: collapse;
}

.social-profiles__item {
  display: table-cell;

  padding: 0;
  margin: 0;

  vertical-align: middle;

  &::before {
    content: none;
  }
}

.social-profiles__link {
  @include my.link-undercover;
  @include my.image-replacement;

  display: block;

  width: my.$gutter * 2;
  min-width: 30px;
  height: my.$gutter * 2;
  min-height: 24px;
  margin-right: auto;
  margin-left: auto;

  background-position: center center;

  @each $network in $list {
    &[href^='https://www.#{$network}'],
    &[href^='https://#{$network}'] {
      background-image: my.image('social/#{$network}.svg');
    }
  }
}
