{layout="default_site:site/_layout" root_class="sec-home" robots="index,follow,noarchive"}

{if segment_2}{redirect="404"}{/if}

<main id="main" class="sec-home__main">
    {exp:channel:entries channel="service" limit="8" category="{global:home-services-category}" status="open"
        disable="categories|category_fields|member_data|pagination" category_group="{global:interface-category-group}"
        search:icon="not IS_EMPTY"
    }
        {if count == 1}
        <section class="h-feed main-services">
            <h2 class="h-feed__p-name p-name main-services__title">Mais serviços</h2>
            <div class="h-feed__list main-services__list">
        {/if}
                <a
                    href='{url_title_path="servicos/index"}'
                    class="main-services__link h-entry__u-url"
                >
                    <article class="h-feed__h-entry h-entry main-services__item">
                        <img
                            {icon}
                                width="{width}" height="{height}" src="{url}" alt="{description}"
                            {/icon}
                            decoding="async" loading="lazy" class="h-entry__u-photo u-photo main-services__thumb"
                        />
                        <h3 class="h-entry__p-name p-name main-services__item-title">{title}</h3>
                    </article>
                </a>
        {if count == total_results}
            </div>
        </section>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="special" limit="10" category="{global:home-special-category}" status="open"
        disable="categories|category_fields|member_data|pagination" category_group="{global:interface-category-group}"
        search:thumbnail="not IS_EMPTY"
    }
        {if count == 1}
        <section class="h-feed special-entries">
            <h2 class="h-feed__p-name p-name special-entries__title">{channel}</h2>
            <div class="h-feed__list special-entries__list">
        {/if}
                <a
                    href='{url_title_path="programas-e-campanhas/index"}'
                    class="special-entries__link h-entry__u-url"
                    title="{title}"
                >
                    <article class="h-feed__h-entry h-entry special-entries__item">
                        <img
                            width="130" height="76"
                            {thumbnail}
                                width="{width}" height="{height}" src="{url}" alt="{description}"
                            {/thumbnail}
                            decoding="async" loading="lazy" class="h-entry__u-photo u-photo special-entries__thumb"
                        />
                    </article>
                </a>
        {if count == total_results}
            </div>
        </section>
        {/if}
    {/exp:channel:entries}

    {embed="default_site:site/_aside"}
</main>
