<nav class="main-nav">
    <h2 class="main-nav__title">Secretarias e órgãos</h2>

    <ul id="main-menu" class="main-nav__list">
        <li>
            <a href="#">
                Administração Penitenciária
            </a>
        </li>

        <li>
            <a href="#">
                Administração Portuária
            </a>
        </li>

        <li>
            <a href="#">
                Agência de Mobilidade Urbana (MOB)
            </a>
        </li>

        <li>
            <a href="#">
                Agência Metropolitana
            </a>
        </li>

        <li>
            <a href="#">
                Agricultura familiar
            </a>
        </li>

        <li>
            <a href="#">
                Agricultura, Pecuária e Pesca
            </a>
        </li>

        <li>
            <a href="#">
                Casa Civil
            </a>
        </li>

        <li>
            <a href="#">
                Cidades e Desenvolvimento Urbano
            </a>
        </li>

        <li>
            <a href="#">
                Ciência, Tecnologia e Inovação
            </a>
        </li>

        <li>
            <a href="#">
                Comunicação e Assuntos Políticos
            </a>
        </li>

        <li>
            <a href="#">
                Cultura
            </a>
        </li>

        <li>
            <a href="#">
                Desenvolvimento Social
            </a>
        </li>

        <li>
            <a href="#">
                Direitos Humanos e Participação Popular
            </a>
        </li>

        <li>
            <a href="#">
                Educação
            </a>
        </li>

        <li>
            <a href="#">
                Esporte e Lazer
            </a>
        </li>

        <li>
            <a href="#">
                Fazenda Pública
            </a>
        </li>

        <li>
            <a href="#">
                Gestão, Patrimônio e Assist. dos Servidores
            </a>
        </li>

        <li>
            <a href="#">
                Igualdade racial
            </a>
        </li>

        <li>
            <a href="#">
                Indústria, Comércio e Energia
            </a>
        </li>

        <li>
            <a href="#">
                Infraestrutura
            </a>
        </li>

        <li>
            <a href="#">
                Juventude
            </a>
        </li>

        <li>
            <a href="#">
                Meio Ambiente e Recursos Naturais
            </a>
        </li>

        <li>
            <a href="#">
                Mulher
            </a>
        </li>

        <li>
            <a href="#">
                Planejamento e Orçamento
            </a>
        </li>

        <li>
            <a href="#">
                Políticas Públicas
            </a>
        </li>

        <li>
            <a href="#">
                Procuradoria Geral
            </a>
        </li>

        <li>
            <a href="#">
                Representação Institucional no DF
            </a>
        </li>

        <li>
            <a href="#">
                Saúde
            </a>
        </li>

        <li>
            <a href="#">
                Secretaria de Programas Estratégicos
            </a>
        </li>

        <li>
            <a href="#">
                Secretaria de Relações Institucionais
            </a>
        </li>

        <li>
            <a href="#">
                Segurança Pública
            </a>
        </li>

        <li>
            <a href="#">
                Serviços Hospitalares
            </a>
        </li>

        <li>
            <a href="#">
                Trabalho e Economia Solidária
            </a>
        </li>

        <li>
            <a href="#">
                Trânsito
            </a>
        </li>

        <li>
            <a href="#">
                Transparência e Controle
            </a>
        </li>

        <li>
            <a href="//turismo-ma.appcivico.com.br/">
                Turismo
            </a>
        </li>

    </ul>
</nav>
