<form action="busca" data-js="filter-form" id="filter-form" method="get" class="tab-bar">
    <input type="hidden" class="input" maxlength="100" size="40" name="keywords"
        value="{exp:request:get_post name='keywords'}" />

    <button type="submit" name="required" value="news" class="tab-bar__tab">Tudo</button>

    <button type="submit" name="required" value="videos" class="tab-bar__tab">
        Vídeos
    </button>

    <button type="submit" name="required" value="fotos" class="tab-bar__tab">
        Fotos
    </button>
</form>
