{layout="default_site:site/_layout" root_class="search going-to-search-results" robots="noindex,noarchive,follow"
title="Busca"}

{layout:set name="description"}Busca por '{exp:request:get name='keywords'}'{/layout:set}

<form action="/noticias/resultados" name="search-form--hidden" method="get" hidden>
    <input type="hidden" name="keywords" value="{exp:request:get name='keywords'}" />
    <input type="hidden" name="last_segment" value="{exp:request:get name='required'}" />
</form>

<main id="main" class="page-entry">
    <section data-js="cms-results" class="search-results h-feed" aria-busy="true" aria-live="assertive"></section>
</main>
