{layout="default_site:site/_layout"}

{if segment_2 AND segment_3 == ""}
    {layout:set name="robots"}index,follow,noarchive,noodp{/layout:set}

    {exp:channel:entries channel="news" limit="1" require_entry="yes" disable="pagination|category_fields|member_data" status="open|draft" show_future_entries="yes"}
        {tp-check_draft}

        {layout:set name="title"}{title}{/layout:set}
        {layout:set name="description"}{summary:attr_safe limit="155"}{/layout:set}
        {layout:set name="entry_id"}{entry_id}{/layout:set}
        {layout:set name="author"}{author}{/layout:set}
        {layout:set name="canonical"}/noticias/{url_title}{/layout:set}
        {thumbnail}
            {layout:set name="sharing_cover"}{url:facebook}{/layout:set}
        {/thumbnail}

        <article role="main" id="main" class="h-entry">
            <header class="h-entry__header">
                <h1 class="h-entry__p-name">{title}</h1>
                {if subhead}
                    <h2 class="h-entry__subhead">{subhead}</h2>
                {/if}

                {tp-entry_taxonomy}
            </header>

            {tp-hero}

            {if summary}
                <section class="h-entry__p-summary">{summary}</section>
            {/if}

            {if body}
                <section class="h-entry__e-content e-content">{body}</section>
            {/if}

            {tp-gallery}

            {embed="default_site:site/_related"}
        </article>
    {/exp:channel:entries}
{if:else}
    {redirect="404"}
{/if}
