{layout="default_site:site/_layout" root_class="news"}

{if segment_2 == "" OR segment_2 ~ "/^P\d+/" OR segment_2 == config:reserved_category_word}
    <main class="h-feed">
        <header class="h-feed__header">
            {if segment_2 == config:reserved_category_word}
                {exp:channel:category_heading disable="category_fields"}
                    <h1>{category_name}</h1>

                    {layout:set name="title"}{category_name}{/layout:set}

                    {if category_description}
                        <p>{category_description}</p>
                    {/if}
                {/exp:channel:category_heading}
            {if:else}
                <h1 class="h-feed__p-name">Últimas notícias</h1>

                {layout:set name="title"}Últimas notícias{/layout:set}
            {/if}
        </header>

        {exp:channel:entries channel="news" limit="10" disable="category_fields|member_data" status="not closed" paginate="inline"}
            {if count == "1"}
                <section class="h-feed__list h-feed__list--news">
            {/if}
                    <article id="entry-{entry_id}" class="h-feed__h-entry h-entry">
                        <a
                            {if channel_short_name == "page" || page_uri}
                                href="{page_uri}"
                            {if:else}
                                href="https:/{relative_url}/{url_title}"
                            {/if}
                            class="h-entry__u-url"
                        >
                            <header class="h-entry__header">
                                <h3 class="h-entry__p-name p-name">{title}</h3>

                                <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                    {entry_date format="%d/%m/%Y"}

                                    <span class="dt-published__time">
                                        {entry_date format="%H:%i"}
                                    </span>
                                </time>

                                {if global:editorial-group}
                                    {categories limit="1" show_group="{global:editorial-group}"}
                                        <ul class="h-entry__p-category-list">
                                    {/categories}

                                        {categories show_group="{global:editorial-group}"}
                                            <li class="h-entry__p-category-item" {if color}style="background-color: {color};"{/if}>
                                                {category_name}
                                            </li>
                                        {/categories}

                                    {categories limit="1" show_group="{global:editorial-group}"}
                                        </ul>
                                    {/categories}
                                {/if}
                            </header>

                            {thumbnail}
                                <img
                                        width="260" height="200"
                                        src="{url:thumb--aside}"
                                        decoding="async" loading="lazy"
                                        class="h-entry__u-photo h-entry__u-photo--last-news u-photo"
                                        alt="{description}"
                                />
                            {/thumbnail}

                            <div class="h-entry__p-summary">
                                {if summary}
                                    <p>{summary:limit characters="280" end_char="…"}</p>
                                {if:else}
                                    {body:limit characters="280" end_char="…"}
                                {/if}
                            </div>
                        </a>

                        <footer>
                            <ul class="social-networks social-networks--news">
                                <li class="social-networks__item">
                                    <a href='https://t.me/share/url?url={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}&text={if summary}{summary}{if:else}{body:limit characters="280" end_char="…"}{/if}' target="_blank" class="u-url social-networks__link">
                                        Compartilhar via Telegram
                                    </a>
                                </li>

                                <li class="social-networks__item">
                                    <a href='https://api.whatsapp.com/send?phone={phone_number}&text={title}%20{if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}' target="_blank" class="u-url social-networks__link">
                                        Compartilhar via WhatsApp
                                    </a>
                                </li>

                                <li class="social-networks__item">
                                    <a href='https://www.facebook.com/sharer.php?u={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}' target="_blank" class="u-url social-networks__link">
                                        Compartilhar via Facebook
                                    </a>
                                </li>

                                <li class="social-networks__item">
                                    <a href='https://twitter.com/intent/tweet?url={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}&text={title}' target="_blank" class="u-url social-networks__link">
                                        Compartilhar via Twitter
                                    </a>
                                </li>

                                <li class="social-networks__item">
                                    <a href='mailto:{email_address}?subject={title}&body={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if} {if summary}{summary}{if:else}{body:limit characters="280" end_char="…"}{/if}' target="_blank" class="u-url social-networks__link">
                                        Compartilhar via email
                                    </a>
                                </li>
                            </ul>
                        </footer>
                    </article>
            {if count == total_results}
                </section>
                {tp-pagination}
            {/if}
        {/exp:channel:entries}
    </main>
{if:elseif segment_2 AND segment_2 != config:reserved_category_word AND segment_3 == ""}

    {layout:set name="robots"}index,follow,noarchive,noodp{/layout:set}

    {exp:channel:entries channel="news" limit="1" require_entry="yes" show_future_entries="yes"
    disable="category_fields|member_data|pagination" status="not none"}
        {tp-check_draft}

        {layout:set name="title"}{title}{/layout:set}
        {layout:set name="description"}{summary:attr_safe limit="155"}{/layout:set}
        {layout:set name="entry_id"}{entry_id}{/layout:set}

        {layout:set name="canonical"}/{segment_1}/{url_title}{/layout:set}
        {thumbnail}
            {layout:set name="sharing_cover"}{url:facebook}{/layout:set}
        {/thumbnail}

        <article role="main" id="main" class="h-entry h-entry--news">
            <header class="h-entry__header">
                <h1 class="h-entry__p-name">{title}</h1>
                {if subhead}
                    <h2 class="h-entry__subhead">{subhead}</h2>
                {/if}
            </header>

            <div class="share-bar">
                Compartilhe:

                <ul class="social-networks social-networks--share-bar">
                    <li class="social-networks__item">
                        <a href='https://t.me/share/url?url={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}&text={if summary}{summary}{if:else}{body:limit characters="280" end_char="…"}{/if}'
                            target="_blank" class="u-url social-networks__link">
                            Compartilhar via Telegram
                        </a>
                    </li>

                    <li class="social-networks__item">
                        <a href='https://api.whatsapp.com/send?phone={phone_number}&text={title}%20{if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}'
                            target="_blank" class="u-url social-networks__link">
                            Compartilhar via WhatsApp
                        </a>
                    </li>

                    <li class="social-networks__item">
                        <a href='https://www.facebook.com/sharer.php?u={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}'
                            target="_blank" class="u-url social-networks__link">
                            Compartilhar via Facebook
                        </a>
                    </li>

                    <li class="social-networks__item">
                        <a href='https://twitter.com/intent/tweet?url={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if}&text={title}'
                            target="_blank" class="u-url social-networks__link">
                            Compartilhar via Twitter
                        </a>
                    </li>

                    <li class="social-networks__item">
                        <a href='mailto:{email_address}?subject={title}&body={if page_uri}{page_uri}{if:else}https:/{relative_url}/{url_title}{/if} {if summary}{summary}{if:else}{body:limit characters="280" end_char="…"}{/if}'
                            target="_blank" class="u-url social-networks__link">
                            Compartilhar via email
                        </a>
                    </li>
                </ul>
            </div>

            <div class="galleries-links">
                <a href="/{segment_1}/{segment_2}/fotos" class="galleries-links__link">
                    Acessar fotos
                </a>
                <a href="/{segment_1}/{segment_2}/videos" class="galleries-links__link">
                    Acessar vídeos
                </a>
            </div>

            {thumbnail}
                <figure class="hero">
                    <img
                        sizes="(max-width: 744px) 100vw, 744px"
                        srcset="
                            {url:300w} 300w,
                            {url:635w} 635w,
                            {url:744w} 744w"
                        src="{url:744w}"
                        decoding="async"
                        width="{width:744w}" height="{height:744w}"
                        alt="{description}"
                        class="hero__image"
                    />

                    {if title || credit || location}
                        <figcaption class="hero__caption">
                            {title}
                            {if location}
                                <small class="caption__location">
                                    ({location}{if credit} &mdash; {if:else}){/if}
                                </small>
                            {/if}
                            {if credit}
                                <small class="caption__credit">
                                    {if !location}({/if}{credit})
                                </small>
                            {/if}
                        </figcaption>
                    {/if}
                </figure>
            {/thumbnail}

            {if body}
                <section class="h-entry__e-content e-content">{body}</section>
            {/if}

            {if gallery:total_rows}
                <section class="gallery">
                    {gallery}
                        <figure class="gallery__item">
                            {gallery:file}
                                <a href="{url}" target="_blank" class="gallery__link" />
                                    <img src="{url:thumb--gallery}"
                                        data-width="142" data-height="116"
                                        width="{width:thumb--gallery}" height="{height:thumb--gallery}"
                                        alt="{description}"
                                    decoding="async" loading="lazy" class="gallery__image" />
                                    {if gallery:caption}<figcaption>{gallery:caption}</figcaption>{/if}
                                </a>
                            {/gallery:file}
                        </figure>
                    {/gallery}
                </section>
            {/if}

        </article>
    {/exp:channel:entries}



{if:else}
    {redirect="404"}
{/if}
