{layout="default_site:site/_layout" root_class="news"}

{if segment_2 == "" OR segment_2 ~ "/^P\d+/" OR segment_2 == config:reserved_category_word}
    <main class="h-feed h-feed--news">
        <header class="h-feed__header h-feed__header--news">
            {if segment_2 == config:reserved_category_word}
                {exp:channel:category_heading channel="news" disable="category_fields"}
                    <h1>
                        {category_name}
                        {if no_results}
                            Categoria não encontrada
                        {/if}
                    </h1>
                    {layout:set name="title"}{category_name}{/layout:set}

                    {if category_description}
                        <p>{category_description}</p>
                    {/if}
                {/exp:channel:category_heading}
            {if:else}
                <h1 class="h-feed__p-name h-feed__p-name--news">Últimas notícias</h1>

                {layout:set name="title"}Últimas notícias{/layout:set}
            {/if}
        </header>

        {exp:channel:entries channel="news" limit="10" disable="category_fields|member_data"
        status="not closed" sticky="no"
        paginate="inline" orderby="date" sort="desc"}
            {if no_results}
                <p>Não há publicações.</p>
            {/if}
            {if count == "1"}
                <section class="h-feed__list h-feed__list--news">
            {/if}
                    {date_heading display="daily"}
                        <header class="h-feed__date-heading date-heading">
                            <h2 class="date-heading__title">{entry_date:relative}</h2>
                            <h3 class="date-heading__date">
                                <time datetime="{entry_date format="{DATE_ISO8601}"}">
                                    {entry_date format="%j de %F de %Y"}
                                </time>
                            </h3>
                        </header>
                    {/date_heading}

                    <article id="entry-{entry_id}" class="h-feed__h-entry h-entry">
                        <a
                            {if channel_short_name == "page" || page_uri}
                                href="{page_uri}"
                            {if:else}
                                href="https:/{relative_url}/{url_title}"
                            {/if}
                            class="h-entry__u-url"
                        >
                            <header class="h-entry__header">
                                <h3 class="h-entry__p-name p-name">{title}</h3>

                                <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                    {entry_date format="%d/%m/%Y"}

                                    <span class="dt-published__time">
                                        {entry_date format="%H:%i"}
                                    </span>
                                </time>

                                {if global:editorial-group}
                                    {categories limit="1" show_group="{global:editorial-group}"}
                                        <ul class="h-entry__p-category-list">
                                    {/categories}

                                        {categories show_group="{global:editorial-group}"}
                                            <li class="h-entry__p-category-item" {if color}style="background-color: {color};"{/if}>
                                                {category_name}
                                            </li>
                                        {/categories}

                                    {categories limit="1" show_group="{global:editorial-group}"}
                                        </ul>
                                    {/categories}
                                {/if}
                            </header>

                            {thumbnail}
                                <img
                                        width="260" height="200"
                                        src="{url:thumb--aside}"
                                        decoding="async" loading="lazy"
                                        class="h-entry__u-photo h-entry__u-photo--last-news u-photo"
                                        alt="{description}"
                                />
                            {/thumbnail}

                            <div class="h-entry__p-summary">
                                {if summary}
                                    <p>{summary:limit characters="280" end_char="…"}</p>
                                {if:else}
                                    {body:limit characters="280" end_char="…"}
                                {/if}
                            </div>
                        </a>

                        <footer>
                            {tp-share_bar}
                        </footer>
                    </article>
            {if count == total_results}
                </section>
                {tp-pagination}
            {/if}
        {/exp:channel:entries}
    </main>
{if:elseif segment_2 AND segment_2 != config:reserved_category_word AND segment_3 == ""}

    {layout:set name="robots"}index,follow,noarchive,noodp{/layout:set}

    {exp:channel:entries channel="news" limit="1" require_entry="yes" show_future_entries="yes"
    disable="category_fields|member_data|pagination" status="not none"}
        {tp-check_draft}

        {layout:set name="title"}{title}{/layout:set}
        {layout:set name="description"}{summary:attr_safe limit="155"}{/layout:set}
        {layout:set name="entry_id"}{entry_id}{/layout:set}

        {layout:set name="canonical"}/{segment_1}/{url_title}{/layout:set}
        {thumbnail}
            {layout:set name="sharing_cover"}{url:facebook}{/layout:set}
        {/thumbnail}

        <article role="main" id="main" class="h-entry h-entry--news">
            <header class="h-entry__header">
                <h1 class="h-entry__p-name">{title}</h1>
                {if subhead}
                    <h2 class="h-entry__subhead">{subhead}</h2>
                {/if}
            </header>
            <div class="share-bar">
                {tp-share_bar}
            </div>

            {if gallery:total_rows || videos:total_rows}
                <div class="read-more read-more--repository">
                    {if gallery:total_rows}
                    <a href="/{segment_1}/{segment_2}/fotos" class="read-more__link">
                        Acessar fotos
                    </a>
                    {/if}
                    {if videos:total_rows}
                        <a href="/{segment_1}/{segment_2}/videos" class="read-more__link">
                            Acessar vídeos
                        </a>
                    {/if}
                </div>
            {/if}

            {hero}
                <figure class="hero">
                    <img
                        sizes="(max-width: 744px) 100vw, 744px"
                        srcset="
                            {url:300w} 300w,
                            {url:635w} 635w,
                            {url:744w} 744w"
                        src="{url:744w}"
                        decoding="async"
                        width="{width:744w}" height="{height:744w}"
                        alt="{description}"
                        class="hero__image"
                    />

                    {if title || credit || location}
                        <figcaption class="hero__caption">
                            {if location}
                                <small class="caption__location">
                                    ({location}{if credit} &mdash; {if:else}){/if}
                                </small>
                            {/if}
                            {if credit}
                                <small class="caption__credit">
                                    {if !location}({/if}{credit})
                                </small>
                            {/if}
                        </figcaption>
                    {/if}
                </figure>
            {/hero}

                <section class="h-entry__e-content e-content">
                    {if audio_file}
                        <div class="audio-player" data-js="audio-player" hidden>
                            <div class="audio-player__controls">
                                <div class="audio-player__control-wrapper">
                                    <button class="audio-player__control audio-player__control--rewind" data-js="audio-rewind" data-decrement="10">&#9664;&#9664;</button>
                                </div>
                                <div class="audio-player__control-wrapper">
                                    <button class="audio-player__control audio-player__control--play" data-js="audio-play" aria-label="Tocar">&#9654;</button>

                                    <button class="audio-player__control audio-player__control--pause" data-js="audio-pause" aria-label="Parar" hidden>&#9208;</button>
                                </div>
                                <div class="audio-player__control-wrapper">
                                    <button class="audio-player__control audio-player__control--forward" data-js="audio-forward" data-increment="30">&#9654;&#9654;</button>
                                </div>

                                <div class="audio-player__timer-wrapper">
                                    <output class="audio-player__timer audio-player__timer--current-time" data-js="audio-current-time">00:00</output> / <output class="audio-player__timer audio-player__timer--duration" data-js="audio-duration">{audio_duration format="%m:%s"}</output>
                                </div>
                                <div class="audio-player__progress-wrapper">
                                    <progress class="audio-player__progress" data-js="audio-progress" value="0"></progress>
                                </div>

                                <div class="audio-player__speed-wrapper">
                                    <select class="audio-player__control audio-player__control--speed" data-js="audio-speed">
                                        <option value="1">1×</option>
                                        <option value="1.5">1.5×</option>
                                        <option value="2">2×</option>
                                    </select>
                                </div>
                                <div class="audio-player__control-wrapper">
                                    <button class="audio-player__control audio-player__control--mute" data-js="audio-mute">Mute/Unmute</button>
                                </div>
                                <div class="audio-player__control-wrapper">
                                    <button class="audio-player__control audio-player__control--menu">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                        </svg>
                                    </button>

                                    <p class="audio-player__control audio-player__control--download read-more read-more--download">
                                        <a href="{audio_file}"
                                            class="read-more__link"
                                            {if audio_file *= ".mp3"}
                                                download="{url_title:url_slug}.mp3" type="audio/mp3"
                                            {if:else}
                                                download="{url_title:url_slug}.m4a" type="audio/mp4"
                                            {/if}
                                        >Download</a>
                                    </p>
                                </div>
                            </div>

                            <audio volume="0.5">
                                {if audio_file *= ".mp3"}
                                    <source src="{audio_file}" type="audio/mp3" />
                                {if:else}
                                    <source src="{audio_file}" type="audio/mp4" />
                                {/if}
                            </audio>
                        </div>
                    {/if}
                    {body}

                </section>
            {if gallery:total_rows}
                <div class="slider" data-js="slider">
                    <button type="button" hidden class="js_prev slider__prev" aria-hidden="true">
                        &#9664;
                    </button>
                    <div class="slider__frame">
                        {tp-gallery}
                    </div>
                    <button type="button" hidden class="js_next slider__next" aria-hidden="true">
                        &#9654;
                    </button>
                </div>
            {/if}
        </article>
    {/exp:channel:entries}

{if:elseif segment_2 != config:reserved_category_word AND (segment_3 == "fotos" OR segment_3 == "videos")}

    {exp:channel:entries channel="news" limit="1" require_entry="yes" show_future_entries="yes"
    disable="category_fields|member_data|pagination" status="not none" parse="inward"}
        {tp-check_draft}

        {layout:set name="title"}{title}{/layout:set}
        {layout:set name="description"}{summary:attr_safe limit="155"}{/layout:set}
        {layout:set name="entry_id"}{entry_id}{/layout:set}

        {layout:set name="canonical"}/{segment_1}/{url_title}{/layout:set}
        {thumbnail}
            {layout:set name="sharing_cover"}{url:facebook}{/layout:set}
        {/thumbnail}

        <article role="main" id="entry-{entry_id}" class="h-entry h-entry--repository">
            <header class="h-entry__header">
                <h3 class="h-entry__p-name p-name">{title}</h3>
            </header>

            <div class="h-entry__p-summary">
                {if summary}
                    <p>{summary:limit characters="280" end_char="…"}</p>
                {if:else}
                    {body:limit characters="280" end_char="…"}
                {/if}
            </div>

            <p class="read-more read-more--repository">
                <a
                    {if channel_short_name == "page" || page_uri}
                        href="{page_uri}"
                    {if:else}
                        href="https:/{relative_url}/{url_title}"
                    {/if}
                    class="h-entry__u-url h-entry__u-url read-more__link"
                >
                    Acessar notícia
                </a>
            </p>

            <div class="full-width">
                <div class="h-entry__e-content e-content e-content--repository container">

                    {if segment_3 == "fotos"}
                        {hero}
                            <figure class="hero">
                                <img
                                    sizes="(max-width: 744px) 100vw, 744px"
                                    srcset="
                                        {url:300w} 300w,
                                        {url:635w} 635w,
                                        {url:744w} 744w"
                                    src="{url:744w}"
                                    decoding="async"
                                    width="{width:744w}" height="{height:744w}"
                                    alt="{description}"
                                    class="hero__image"
                                />

                                {if credit || location}
                                    <figcaption class="hero__caption">
                                        {if location}
                                            <small class="caption__location">
                                                ({location}{if credit} &mdash; {if:else}){/if}
                                            </small>
                                        {/if}
                                        {if credit}
                                            <small class="caption__credit">
                                                {if !location}({/if}{credit})
                                            </small>
                                        {/if}
                                    </figcaption>
                                {/if}
                            </figure>
                        {/hero}

                        {if gallery:total_rows}
                            <div class="share-bar">
                                Compartilhe:
                                {tp-share_bar}
                            </div>

                            <p class="read-more read-more--download">
                                <a
                                    href="/{segment_1}/{url_title}/download"
                                    class="read-more__link"
                                >
                                    Download
                                </a>
                            </p>
                            {if gallery:total_rows}
                                <div class="slider" data-js="slider">
                                    <button type="button" hidden class="js_prev slider__prev" aria-hidden="true">
                                        &#9664;
                                    </button>
                                    <div class="slider__frame">
                                        {tp-gallery}
                                    </div>
                                    <button type="button" hidden class="js_next slider__next" aria-hidden="true">
                                        &#9654;
                                    </button>
                                </div>
                            {/if}
                        {if:else}
                            <p>Nenhuma fotografia encontrada.</p>
                        {/if}
                    {if:elseif segment_3 == "videos"}
                        {if videos:total_rows}
                            {videos limit="1"}
                                {exp:antenna url="{videos:link}" max_width="246" max_height="246" cache_minutes="1680"}
                                    {if embed_code}
                                        <figure class="hero aspect-ratio__youtube"
                                            data-js="video-gallery__embed"
                                        >
                                            {embed_code}
                                            {if video_title}
                                                <figcaption class="hero__caption">
                                                    {video_title}
                                                </figcaption>
                                            {/if}
                                        </figure>
                                    {/if}
                                {/exp:antenna}
                            {/videos}

                            <div class="share-bar">
                                Compartilhe:
                                {tp-share_bar}
                            </div>

                            {videos}
                                {if videos:count == 1}
                                    <section class="gallery gallery--video slider__container">
                                {/if}
                                        <figure class="gallery__item">
                                            {exp:antenna url="{videos:link}" max_width="246" max_height="246" cache_minutes="1680"}
                                                <a href="{videos:link}"
                                                    data-js="video-gallery__switcher"
                                                    target="_blank" class="gallery__link gallery__link--video"
                                                >
                                                    <img
                                                        width="{video_width}"
                                                        height="{video_height}"
                                                        src="{video_thumbnail}"
                                                        alt="{video_title}"
                                                        decoding="async" loading="lazy" class="gallery__image"
                                                    />
                                                </a>
                                            {/exp:antenna}
                                        </figure>
                                {if videos:count == videos:total_rows}
                                    </section>
                                {/if}
                            {/videos}
                        {if:else}
                            <p>Nenhum vídeo encontrado.</p>
                        {/if}
                    {/if}
                </div>
            </div>
        </article>
    {/exp:channel:entries}
{if:elseif segment_2 != config:reserved_category_word AND segment_3 == "download"}
    {exp:channel:entries channel="news" limit="1" require_entry="yes" show_future_entries="yes"
    disable="categories|category_fields|member_data|pagination" status="not none" parse="inward"}
        {tp-check_draft}

        {if gallery:total_rows}
            {exp:zip filename="{url_title}-{entry_id}.zip" direct_output="yes" max_size="20480"
                folder="../system/user/zip_cache" remove_all_path="yes"
            }
                {zip:files}
                    {!-- Make sure to use root relative file paths --}
                    {gallery}
                        [{gallery:file:replace find='/(^\/)(.*)/' replace='$2' regex='yes'}]
                    {/gallery}
                {/zip:files}
            {/exp:zip}
        {if:else}
            {redirect="404"}
        {/if}

    {/exp:channel:entries}
{if:else}
    {redirect="404"}
{/if}
