@use '../abstracts' as my;

[data-theme='dark']:root {
  color-scheme: dark;
}

[data-theme='light']:root {
  color-scheme: light;
}

@mixin transition {
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: background-color, color;
}

@mixin dark-theme {
  @include transition;

  color: my.palette('neutral', 'white');

  background-color: my.palette('neutral', 'black');

  .header-nav,
  .header-nav__list> li> ul,
  .main-nav {
    @include transition;

    color: my.palette('neutral', 'white');

    background-color: my.palette('neutral', 'x-dark');
  }

  .h-entry__header--featured {
    @include transition;

    color: my.palette('neutral', 'black');

    background-color: my.palette('neutral', 'white');
  }

  .main-services .main-services__title {
    color: inherit;
    text-decoration-color: my.palette('brand', 'blue', 'medium');
  }

  .h-entry--quick-links,
  .main-footer__menu-wrapper {
    @include transition;

    color: my.palette('neutral', 'black');

    background-color: my.palette('neutral', 'white');
  }

  .main-footer__wrapper {
    @include transition;

    background-color: my.palette('neutral', 'black');
  }

  .main-header-and-search-form {
    @include transition;

    background-color: my.palette('neutral', 'x-dark');
  }

  .main-footer__wrapper .powered-by__image,
  .main-footer__wrapper .social-profiles__link {
    @include transition;

    filter: invert(100%);
  }
}

:root[data-theme='dark'] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include dark-theme;
  }
}
