# PATHS AND URLS
# # # # # # # # # # # #
# BASE_URL=http://localhost
# BASE_PATH=/var/www
# IMAGES_FOLDER=images
# CP_URL=http://localhost/admin.php
# INDEX_PAGE=
# SITE_INDEX=


# DATABASE SETTINGS
# # # # # # # # # # # #
DB_HOSTNAME=127.0.0.1
DB_DATABASE=name
DB_USERNAME=user
DB_PASSWORD=pass


# EMAIL SETTINGS
# # # # # # # # # # # #
SMTP_FROM=""
SMTP_HOST=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_PORT=465

# STATUS AND DEBUGGING
# # # # # # # # # # # #
# SYSTEM_ON=y
# DEBUG=1
# DEBUG_EMAIL=0
# DEBUG_PROFILER=n
# DEBUG_TEMPLATES=n


# PERFORMANCE
# # # # # # # # # # # #
# GZIP_ENABLED=n
# CACHE_DRIVER=file
# REDIS_HOST=redis
# REDIS_PASSWORD=secretpwd
# REDIS_PORT=6379,
# REDIS_TIMEOUT=0

# SECURITY
# # # # # # # # # # # #
# ENCRYPTION_KEY=
# SESSION_CRYPT_KEY=
