{layout="default_site:site/_layout"}

{if segment_2 == "" OR segment_2 ~ "/^P\d+/" OR segment_2 == config:reserved_category_word}
    {layout:set name="title"}Serviços{/layout:set}

    {if site_id == 1}
        <main class="service-guide">
            {if !segment_2}
                <h1>Guia de serviços</h1>

                <section class="h-feed h-feed--categories-of-services">
                    <div class="container">
                        <h2 class="h-feed__p-name h-feed__p-name--categories-of-services p-name">Pesquise por categoria</h2>

                        {exp:query
                            sql="
                                SELECT ec.cat_id, ec.cat_image, ec.cat_url_title, ec.cat_name
                                FROM exp_categories ec
                                JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id
                                WHERE LOWER(ecg.group_name) IN ('categorias de serviços')
                                AND ec.cat_image IS NOT NULL AND ec.cat_image != ''
                                GROUP BY ec.cat_url_title
                                ORDER BY ec.cat_name"
                            parse="inward"
                            parse_files="yes"
                        }
                            {if count == 1}
                                <ul class="h-feed__list h-feed__list--categories-of-services">
                            {/if}
                                    <li>
                                        <a
                                            href="/{segment_1}/{config:reserved_category_word}/{cat_url_title}"
                                            class="categories-of-services__link"
                                        >
                                            {if cat_image}
                                                <img src="{cat_image}" aria-hidden="true" alt="" class="categories-of-services__image" />
                                            {/if}

                                            {cat_name}
                                        </a>
                                    </li>
                            {if count == total_results}
                                </ul>
                            {/if}
                        {/exp:query}
                    </div>
                </section>

                {exp:query
                    sql="SELECT ec.site_id msm_site_id, es.site_label msm_site_label, es.site_name msm_site_name,
                        MAX( CASE WHEN (ec.key = 'site_url') THEN ec.value ELSE NULL END ) as 'msm_site_url',
                        MAX( CASE WHEN (ec.key = 'is_site_on') THEN ec.value ELSE NULL END ) as 'msm_is_site_on'
                        FROM exp_config ec
                        JOIN exp_sites es ON es.site_id = ec.site_id
                        WHERE ec.site_id != 1
                        GROUP BY ec.site_id
                        ORDER BY es.site_label
                    "
                }
                    {if count == 1}
                        <section class="services-by-site">
                            <div class="container">
                                <form data-js="select-navigation" hidden class="navigation-by-select">
                                    <div role="group" class="navigation-by-select__fieldset">
                                        <legend class="navigation-by-select__legend">
                                            Serviços por secretaria
                                        </legend>

                                        <select name="location-to" class="navigation-by-select__select">
                                            <option value=""></option>
                                    {/if}

                                        {if msm_is_site_on == "y"}
                                            <option value="{msm_site_url}/servicos">
                                                {msm_site_label}
                                            </option>
                                        {/if}

                                    {if count == total_results}
                                        </select>

                                        <button type="submit" class="navigation-by-select__button">
                                            Ir
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    {/if}
                {/exp:query}

            {if:elseif segment_2 == config:reserved_category_word}

                <header class="h-feed__header">
                    {layout:set name="canonical"}{site_url}/{segment_1}/{segment_2}/{segment_3}{/layout:set}

                    {if segment_3}
                        {exp:query
                            sql="SELECT ec.cat_name AS category_name, ec.cat_description AS category_description
                                FROM exp_categories ec
                                WHERE ec.cat_url_title ='{segment_3}'
                                ORDER BY cat_description
                                LIMIT 1
                            "
                        }
                            <h1 class="h-feed__p-name">
                                {category_name}
                            </h1>
                            {layout:set name="title"}{category_name}{/layout:set}

                            {if category_description}
                                <p>{category_description}</p>
                            {/if}

                            {if no_results}
                                <h1 class="h-feed__p-name">
                                    {segment_3}
                                    {layout:set name="title"}{segment_3}{/layout:set}
                                </h1>
                            {/if}
                        {/exp:query}

                    {/if}
                </header>

                {exp:query
                    sql="
                        SELECT ec.cat_id, ec.cat_name, ec.cat_url_title
                        FROM exp_categories ec
                        JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id AND LOWER(ecg.group_name) IN ('perfil do cidadao')
                        JOIN exp_category_posts ecp ON ecp.cat_id = ec.cat_id
                        WHERE ecp.entry_id IN (
                        	SELECT ecp2.entry_id
                        	FROM exp_category_posts ecp2
                        	JOIN exp_categories ec2 ON ec2.cat_id = ecp2.cat_id
                        	WHERE ec2.cat_url_title = '{segment_3}'
                        )
                        GROUP BY ec.cat_url_title
                        ORDER BY ec.cat_name
                    "
                    parse="inward"
                }
                    {if count == 1}
                        <section class="services-by-site">
                            <div class="container">
                                <form data-js="select-navigation" hidden class="navigation-by-select">
                                    <div role="group" class="navigation-by-select__fieldset">
                                        <legend class="navigation-by-select__legend">
                                            Escolha um público
                                        </legend>

                                        <select name="location-to" class="navigation-by-select__select">
                                            <option value=""></option>
                    {/if}
                                            <option
                                                {if segment_4}
                                                    value="{cat_url_title}"
                                                    {if segment_4 == cat_url_title}
                                                        selected
                                                    {/if}
                                                {if:else}
                                                    value="{segment_3}/{cat_url_title}"
                                                {/if}
                                            >
                                                {cat_name}
                                            </option>
                    {if count == total_results}
                                        </select>

                                        <button type="submit" class="navigation-by-select__button">
                                            Ir
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    {/if}
                {/exp:query}

                <ul class="tab-bar tab-bar--services">
                    <li class="tab-bar__tab {if segment_3 != 'programas' && segment_4 != 'programas'}tab-bar__tab--current{/if}">
                        <a class="tab-bar__label" href="/{segment_1}/{segment_2}/{segment_3}">
                            Serviços
                        </a>
                    </li>

                    <li class="tab-bar__tab {if segment_4 == 'programas'}tab-bar__tab--current{/if}">
                        <a class="tab-bar__label" href="/{segment_1}/{segment_2}/{segment_3}/programas">
                            Programas
                        </a>
                    </li>
                </ul>

                {exp:query
                    sql="
                        SELECT ecp.entry_id, ect.url_title, ect.title, ec3.value AS 'service_site_url'
                        FROM exp_category_posts ecp
                        JOIN exp_categories ec ON ec.cat_id = ecp.cat_id AND ec.cat_url_title = '{segment_3}'
                        {if segment_5}
                            JOIN exp_category_posts ecp2 ON ecp.entry_id = ecp2.entry_id
                            JOIN exp_categories ec2 ON ec2.cat_id = ecp2.cat_id AND ec2.cat_url_title = '{segment_5}'
                        {/if}
                        JOIN exp_channel_titles ect ON ecp.entry_id = ect.entry_id
                        JOIN exp_channels ec4 ON ect.channel_id = ec4.channel_id
                        JOIN exp_config ec3 ON ec3.site_id = ect.site_id AND ec3.key = 'site_url'
                        WHERE ect.status != ('closed')
                        AND ec4.channel_name IN ('program', 'service')
                        {if segment_4 == 'programas'}
                            AND ecp.entry_id IN (
                                SELECT entry_id
                                FROM exp_category_posts ecp5
                                JOIN exp_categories ec6 ON ecp5.cat_id = ec6.cat_id
                                WHERE ec6.cat_url_title = 'programas'
                            )
                        {if:else}
                            AND ecp.entry_id NOT IN (
                                SELECT entry_id
                                FROM exp_category_posts ecp5
                                JOIN exp_categories ec6 ON ecp5.cat_id = ec6.cat_id
                                WHERE ec6.cat_url_title = 'programas'
                            )
                        {/if}
                        "
                    parse="inward" paginate="inline" limit="10"
                }
                    {if no_results}
                        <ul class="h-feed__list h-feed__list--services">
                            <li class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                nenhum serviço encontrado
                            </li>
                        </ul>
                    {/if}

                    {if count == 1}
                        <ul class="h-feed__list h-feed__list--services">
                    {/if}
                            <li id="entry-{entry_id}" class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                <a href="{service_site_url}/servicos/{url_title}"
                                    class="h-entry__u-url h-entry__u-url--services h-entry__p-name h-entry__p-name--services p-name"
                                >
                                    {title}
                                </a>
                            </li>
                    {if count == total_results}
                        </ul>

                        {tp-pagination}
                    {/if}
                {/exp:query}
            {/if}
        </main>
    {if:else}
        <main class="h-feed">
            <header class="h-feed__header">
                {layout:set name="canonical"}{site_url}/{segment_1}/{/layout:set}

                {exp:channel:info channel="service"}
                    <h1 class="h-feed__p-name">{channel_title}</h1>
                    {layout:set name="title"}{channel_title}{/layout:set}
                {/exp:channel:info}

                <ul class="tab-bar tab-bar--services">
                    <li class="tab-bar__tab {if segment_3 != 'programas'}tab-bar__tab--current{/if}">
                        <a class="tab-bar__label" href="/{segment_1}">
                            Serviços
                        </a>
                    </li>

                    {exp:cat2:id category_url_title="programas" parse="inward"}
                        <li class="tab-bar__tab {if segment_3 == 'programas'}tab-bar__tab--current{/if}">
                            <a class="tab-bar__label" href="/{segment_1}/{config:reserved_category_word}/programas">
                                Programas
                            </a>
                        </li>
                    {/exp:cat2:id}
                </ul>
            </header>
            {if segment_3 == "programas"}
                {exp:channel:entries channel="service" {if site_id == 1}site="not none"{/if} limit="10"
                    category="{exp:cat2:id category_url_title='programas'}" parse="inward"
                    disable="category_fields|custom_fields|member_data" status="not closed"
                    paginate="inline"
                }
                    {if no_results}
                        <ul class="h-feed__list h-feed__list--services">
                            <li class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                Nenhum programa encontrado
                            </li>
                        </ul>
                    {/if}

                    {if count == 1}
                        <ul class="h-feed__list h-feed__list--services">
                    {/if}
                            <li id="entry-{entry_id}" class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                <a
                                    {if channel_short_name == "page" || page_uri}
                                        href="{page_uri}"
                                    {if:else}
                                        href="https:/{relative_url}/{url_title}"
                                    {/if}
                                    class="h-entry__u-url h-entry__u-url--services h-entry__p-name h-entry__p-name--services p-name"
                                >
                                    {title}
                                </a>
                            </li>
                    {if count == total_results}
                        </ul>

                        {tp-pagination}
                    {/if}
                {/exp:channel:entries}
            {if:else}
                {exp:query
                    sql="SELECT DISTINCT ecp.entry_id, ect.url_title, ect.title
                    FROM exp_category_posts ecp
                    JOIN exp_channel_titles ect ON ecp.entry_id = ect.entry_id
                    JOIN exp_channels ec ON ect.channel_id = ec.channel_id
                    WHERE ec.site_id = '{site_id}'
                    AND ec.channel_name = 'service'
                    AND ect.status NOT IN ('closed')
                    AND ecp.entry_id NOT IN (
                    	SELECT entry_id
                    	FROM exp_category_posts ecp2
                    	JOIN exp_categories ec3 ON ecp2.cat_id = ec3.cat_id
                    	WHERE ec3.cat_url_title = 'programas'
                    	AND ec3.site_id = '{site_id}'
                    )"
                    parse="inward" paginate="inline" limit="10"
                }
                    {if no_results}
                        <ul class="h-feed__list h-feed__list--services">
                            <li class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                Nenhum serviço encontrado
                            </li>
                        </ul>
                    {/if}

                    {if count == 1}
                        <ul class="h-feed__list h-feed__list--services">
                    {/if}
                            <li id="entry-{entry_id}" class="h-feed__h-entry h-feed__h-entry--services h-entry">
                                <a
                                    href="/servicos/{url_title}"
                                    class="h-entry__u-url h-entry__u-url--services h-entry__p-name h-entry__p-name--services p-name"
                                >
                                    {title}
                                </a>
                            </li>
                    {if count == total_results}
                        </ul>

                        {tp-pagination}
                    {/if}
                {/exp:query}
            {/if}
        </main>

    {/if}

{if:elseif segment_2 AND segment_2 != config:reserved_category_word AND segment_3 == ""}

    {layout:set name="robots"}index,follow,noarchive,noodp{/layout:set}

    {exp:channel:entries channel="service" {if site_id == 1}site="not none"{/if}
        limit="1" require_entry="yes" disable="category_fields|member_data" status="not closed"
    }
        {tp-check_draft}

        {layout:set name="title"}{title}{/layout:set}
        {layout:set name="description"}{summary:attr_safe limit="155"}{/layout:set}
        {layout:set name="entry_id"}{entry_id}{/layout:set}

        {layout:set name="canonical"}/{segment_1}/{url_title}{/layout:set}
        {icon}
            {layout:set name="sharing_cover"}{url}{/layout:set}
        {/icon}

        <article role="main" id="main" class="h-entry">
            <header class="h-entry__header">
                <h1 class="h-entry__p-name">{title}</h1>
                {if subhead}
                    <h2 class="h-entry__subhead">{subhead}</h2>
                {/if}
                {if global:editorial-group}
                    {categories limit="1" show_group="{global:editorial-group}"}
                        <ul class="h-entry__p-category-list">
                    {/categories}

                        {categories show_group="{global:editorial-group}"}
                            <li class="h-entry__p-category-item" {if color}style="background-color: {color};"{/if}>
                                <a class="h-entry__p-category-link" href="{path='{config:reserved_category_word}/index'}">
                                    {category_name}
                                </a>
                            </li>
                        {/categories}

                    {categories limit="1" show_group="{global:editorial-group}"}
                        </ul>
                    {/categories}
                {/if}
            </header>

            <section class="h-entry__e-content e-content">
                {if body}
                    <details>
                        <summary>O que é</summary>

                        <div class="details__widget">
                            {body}
                        </div>
                    </details>
                {/if}

                {if service__where}
                    <details>
                        <summary>Como é oferecido?</summary>

                        <div class="details__widget">
                            {if service__assistance}
                                <h2>{service__assistance:label}</h2>
                            {/if}

                            {service__where}
                        </div>
                    </details>
                {/if}

                {if who}
                    <details>
                        <summary>Quem pode utilizar</summary>

                        <div class="details__widget">
                            {who}
                        </div>
                    </details>
                {/if}

                {if law}
                    <details>
                        <summary>A que legislação está associado?</summary>

                        <div class="details__widget">
                            {law}
                        </div>
                    </details>
                {/if}

                {if service__how}
                    <details>
                        <summary>Passo a passo</summary>

                        <div class="details__widget">
                            {service__how}
                        </div>
                    </details>
                {/if}

                {if service__deadline}
                    <details>
                        <summary>Prazo</summary>

                        <div class="details__widget">
                            {service__deadline}
                        </div>
                    </details>
                {/if}

                {if service__how_much}
                    <details>
                        <summary>Quanto custa?</summary>

                        <div class="details__widget">
                            {service__how_much}
                        </div>
                    </details>
                {/if}

                {if service__link}
                    <details>
                        <summary>Onde encontrar</summary>

                        <div class="details__widget">
                            <a href="{service__link}" target="_blank">
                                {service__link}
                            </a>
                        </div>
                    </details>
                {/if}
            </section>

        </article>
    {/exp:channel:entries}
{if:else}
    {redirect="404"}
{/if}
