    <div class="main-footer__wrapper">
        <footer class="main-footer">
            {embed="-/_footer-menu"}

            <div class="colophon">
                <div class="h-card">
                    {if settings__address}
                        <div class="p-adr">
                            {settings__address}
                        </div>
                    {/if}
                    {if settings__email}
                        <div class="u-email">
                            <a href="mailto:{settings__email}">
                                {settings__email}
                            </a>
                        </div>
                    {/if}
                    {if settings__social_profiles:total_rows}
                        <ul class="social-profiles">
                            {settings__social_profiles}
                                <li class="social-profiles__item">
                                    <a href="{settings__social_profiles:url}" class="u-url social-profiles__link">
                                        {settings__social_profiles:url}
                                    </a>
                                </li>
                            {/settings__social_profiles}
                        </ul>
                    {/if}
                </div>
            </div>

            <div class="license-and-powered-by" role="contentinfo">
                <div class="license">
                    <img src="/assets/images/licenses/by.png" width="403" height="141" alt="" aria-hidden="true"
                        class="license__image" />
                    Este obra está sob a
                    <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                        Licença Creative Commons Atribuição 4.0 Internacional
                    </a>
                </div>
                <div class="powered-by">
                    <a href="https://appcivico.com/" target="_blank" class="powered-by__link">
                        <img src="/assets/images/appcivico.svg" alt="AppCívico" width="151" height="28"
                            class="powered-by__image" />
                    </a>
                </div>
            </div>
        </footer>
    </div>
