{if gallery:total_rows}
    <section class="gallery slider__container">
        {gallery}
            <figure class="gallery__item slider__item">
                {gallery:file}
                    <a href="{url}" target="_blank" class="gallery__link gallery__link--modal" />
                        <img src="{url:thumb--gallery}"
                            width="{width:thumb--gallery}" height="{height:thumb--gallery}"
                            alt="{description}"
                            decoding="async" loading="lazy" class="gallery__image"
                        />

                        {if gallery:caption || credit || location}
                            <figcaption>
                                {gallery:caption}
                            </figcaption>
                        {/if}
                    </a>
                {/gallery:file}
            </figure>
        {/gallery}
    </section>
{/if}
