{tv-browse_happy}
{tv-access}
{if layout:header_image}
<style>
.main-header-and-search-form {
  background-image: url('{layout:header_image}');
}
</style>
{/if}

    <div class="main-header-and-search-form">
        <div class="main-header-and-search-form__container">
            <div role="banner" class="main-header">
                <div class="site-info">
                    <a href="{site_url}" class="main-header__logo">
                        <!-- site_short_name: {site_short_name}-->
                        {if !site_short_name || site_short_name == "default_site"}
                            <img
                                src="/assets/images/brand/gov__ma.png"
                                srcset="/assets/images/brand/gov__ma@2x.png 2x"
                                alt="{site_name}" width="261" height="123" />
                        {if:else}
                            <img
                                src="/assets/images/brand/{site_short_name}.png"
                                srcset="/assets/images/brand/{site_short_name}@2x.png 2x"
                                alt="{site_name}" width="380" height="113"
                            />
                        {/if}
                    </a>
                    {if layout:header_title}
                        <h1 class="main-header__title">
                            {layout:header_title}
                        </h1>
                    {/if}
                </div>
            </div>

            {exp:search:simple_form form_class="search-form" result_page="busca/resultados" no_result_page="busca/resultados" search_in="entries" results="10"}
                <fieldset class="search-form__fieldset">
                    <p class="search-form__field-wrapper search-form__field-wrapper--text">
                        <input type="text" id="keywords" placeholder="Digite o que procura" autocomplete="on" name="keywords"
                            aria-label="Keywords" class="search-form__field search-form__field--text"
                            value="{exp:search:keywords}" />
                    </p>
                    <button type="reset" aria-label="reset" class="search-form__field search-form__field--reset">
                        <img src="/assets/images/x.svg" width="14" height="14" />
                    </button>
                    <p class="search-form__field-wrapper search-form__field-wrapper--audio">
                        <input type="file" id="soundFile" capture="user" accept="audio/*" aria-label="audio" class="search-form__field search-form__field--audio" />
                    </p>
                    <button type="submit" aria-label="search" class="search-form__field search-form__field--submit">
                        <img src="/assets/images/magnifying-glass.svg" width="18" height="18" />
                    </button>
                </fieldset>

                <fieldset class="search-form__suggestions">
                    <p class="search-form__suggestions-title">
                        Sugestões:
                    </p>
                    <ul class="search-form__suggestions-list">
                        <li class="search-form__suggestions-item">
                            <button type="submit" name="keywords"
                                value="turismo"
                                class="search-form__suggestions-button"
                            >
                                turismo
                            </button>
                        </li>

                        <li class="search-form__suggestions-item">
                            <button type="submit" name="keywords"
                                value="SETUR"
                                class="search-form__suggestions-button"
                            >
                                SETUR
                            </button>
                        </li>

                        <li class="search-form__suggestions-item">
                            <button type="submit" name="keywords"
                                value="São Luís"
                                class="search-form__suggestions-button"
                            >
                                São Luís
                            </button>
                        </li>

                        <li class="search-form__suggestions-item">
                            <button type="submit" name="keywords"
                                value="curso"
                                class="search-form__suggestions-button"
                            >
                                curso
                            </button>
                        </li>

                        <li class="search-form__suggestions-item">
                            <button type="submit" name="keywords"
                                value="Coronavírus"
                                class="search-form__suggestions-button"
                            >
                                Coronavírus
                            </button>
                        </li>
                    </ul>
                </fieldset>
            {/exp:search:simple_form}
        </div><!-- .main-header-and-search-form__container -->

        <nav class="main-nav">
            {exp:channel:category_archive channel="goverment_member|page" show_empty="no" disable="category_fields"
            style="nested" category_group="5" id="main-menu" class="main-nav__list"}
                {categories}
                    {category_name}
                {/categories}
                {entry_titles}
                    <a href="{path='SITE_INDEX'}">{title}</a><br />
                {/entry_titles}
            {/exp:channel:category_archive}
        </nav>
    </div><!-- .main-header-and-search-form -->
