    <section class="h-feed--quick-links">
        <ul class="quick-links__list">
            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href="http://www.transparencia.ma.gov.br/" target="_blank" class="h-entry__u-url--quick-links u-url">
                    <span class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        Portal da Transparência
                    </span>
                </a>
            </li>

            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href="http://e-sic.ma.gov.br/" target="_blank" class="h-entry__u-url--quick-links u-url">
                    <abbr title="Sistema Eletrônico do Serviço de Informação ao Cidadão" class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        E-SIC
                    </abbr>
                </a>
            </li>

            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href="http://ouvidorias.ma.gov.br/" target="_blank" class="h-entry__u-url--quick-links u-url">
                    <abbr title="Sistema de Ouvidorias do Poder Executivo do Estado do Maranhão" class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        e-OUV
                    </abbr>
                </a>
            </li>
        </ul>
    </section>
