    <section class="h-feed--quick-links">
        <ul class="quick-links__list">
            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href='#' class="h-entry__u-url--quick-links u-url">
                    <span class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        Portal da transparência
                    </span>
                </a>
            </li>

            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href='#' class="h-entry__u-url--quick-links u-url">
                    <span class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        E-SIC
                    </span>
                </a>
            </li>

            <li class="h-feed__h-entry h-entry h-entry--quick-links">
                <a href='#' class="h-entry__u-url--quick-links u-url">
                    <span class="h-entry__p-name p-name h-entry__p-name--quick-links">
                        Ouvidoria
                    </span>
                </a>
            </li>
        </ul>
    </section>
