{paginate}
    {pagination_links}
        <nav class="pagination">
            <ul class="pagination__list">
                {first_page}
                    <li class="pagination__item pagination__item--first-page">
                        <a class="pagination__link" href="{pagination_url}/" title="página 1">
                            ❰
                        </a>
                    </li>
                {/first_page}

                {previous_page}
                    <li class="pagination__item pagination__item--previous-page">
                        <a class="pagination__link" href="{pagination_url}/" title="página anterior">
                            ❮
                        </a>
                    </li>
                {/previous_page}

                {page}
                    <li class="pagination__item  {if current_page}pagination__item--current{/if}">
                        <a class="pagination__link" href="{pagination_url}/" title="página {pagination_page_number}">
                            {pagination_page_number}
                        </a>
                </li>
                {/page}

                {next_page}
                    <li class="pagination__item pagination__item--next-page">
                        <a class="pagination__link" href="{pagination_url}/" title="página seguinte">
                            ❯
                        </a>
                    </li>
                {/next_page}

                {last_page}
                    <li class="pagination__item pagination__item--last-page">
                        <a class="pagination__link" href="{pagination_url}/" title="página {total_pages}">
                            ❱
                        </a>
                    </li>
                {/last_page}
            </ul>
        </nav>
    {/pagination_links}
{/paginate}
