{paginate}
  {pagination_links}
    <div class="nav pagination">
      <ul>

        {first_page}
          <li class="first-page"><a href="{pagination_url}/">página <span class="number">1</span></a></li>
        {/first_page}
        {previous_page}
          <li class="previous-page"><a href="{pagination_url}/">página anterior</a></li>
        {/previous_page}
        {page}
          <li class="page-{pagination_page_number} {if current_page}current-page{/if}"><a href="{pagination_url}/">{pagination_page_number}</a></li>
        {/page}
        {next_page}
          <li class="next-page"><a href="{pagination_url}/">página seguinte</a></li>
        {/next_page}
        {last_page}
        <li class="last-page"><a href="{pagination_url}/">página <span class="number">{total_pages}</span></a></li>
        {/last_page}

      </ul>
    </div>
  {/pagination_links}
{/paginate}
