<!doctype html>
{if segment_1 == "-"}
  {redirect="404"}
{/if}
<html class="no-js no-jquery {segment_1} {segment_2} {segment_3} {layout:root_class} {if site_url == 'http://localhost'}grid{/if}" lang="{lang}">

<head>
{tp-head}
</head>
<body>
    {tp-header}


    {layout:contents}


    {tp-footer}

{if logged_in_group_id == 1}
<!--
+-------------------------+----------------------------------------------+
| Queries:                |   {total_queries}                            |
| Elapsed Time:           |   {elapsed_time}s                            |
| Memory Used:            |   {memory_usage}                             |
| Date and time of parse: |   {current_time format="%Y %m %d %H:%i:%s"}  |
| Debug Mode:             |   {debug_mode}                               |
| App build:              |   {app_build}                                |
| App version:            |   {app_version}                              |
+-------------------------+----------------------------------------------+
-->
{/if}

<script src="{path='-/scripts'}"></script>

{tv-browser_update}
</body>
</html>
