{layout="-/_layout" root_class="sec-home" robots="index,follow,noarchive"}

{if segment_2 == "cat"}{redirect="404"}{/if}

{exp:channel:category_heading channel="event|news|service" category_url_title="{segment_2}"}
    {layout:set name="header_title"}{category_name}{/layout:set}
    {layout:set name="title"}{category_name}{/layout:set}
    {if category_description}
        {layout:set name="description"}{category_description}{/layout:set}
    {/if}
    {if category_image}
        {layout:set name="header_image"}{category_image}{/layout:set}
    {/if}
{/exp:channel:category_heading}

<main class="sec-home__main">

    <section class="main-services">
        <h2 class="main-services__title">Principais serviços</h2>

        <div class="h-feed__list">
            {exp:channel:entries channel="service" limit="4" cache="yes" disable="categories|category_fields|member_data|pagination" status="open" }
                <a href='servicos/{url_title}' class="main-services__link h-feed__link">
                    <article class="h-feed__h-entry main-services__item">
                        <img width="20" height="18" src="{icon:file}"
                            decoding="async" loading="lazy" class="h-feed__u-photo u-photo main-services__thumb"
                        />
                        <h3 class="h-feed__p-name p-name main-services__item-title">{title}</h3>
                        <p class="h-feed__dt-published main-services__summary">
                            {summary:limit characters="40"}
                        </p>
                    </article>
                </a>

                {if no_results}
                    <a href='#' class="main-services__link h-feed__link">
                        <article class="h-feed__h-entry main-services__item">
                            <img width="20" height="18" src="/assets/images/icons/calendar.svg"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo main-services__thumb"
                            />
                            <h3 class="h-feed__p-name p-name main-services__item-title">Agendamento</h3>
                            <p class="h-feed__dt-published main-services__summary">
                                Breve descrição sobre serviço em uma linha
                            </p>
                        </article>
                    </a>

                    <a href='#' class="main-services__link h-feed__link">
                        <article class="h-feed__h-entry main-services__item">
                            <img width="20" height="18" src="/assets/images/icons/board.svg"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo main-services__thumb"
                            />
                            <h3 class="h-feed__p-name p-name main-services__item-title">Sefaz.net</h3>
                            <p class="h-feed__dt-published main-services__summary">
                                Breve descrição sobre serviço em uma linha
                            </p>
                        </article>
                    </a>

                    <a href='#' class="main-services__link h-feed__link">
                        <article class="h-feed__h-entry main-services__item">
                            <img width="18" height="16" src="/assets/images/icons/car.svg"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo main-services__thumb"
                            />
                            <h3 class="h-feed__p-name p-name main-services__item-title">IPVA</h3>
                            <p class="h-feed__dt-published main-services__summary">
                                Breve descrição sobre serviço em uma linha
                            </p>
                        </article>
                    </a>

                    <a href='#' class="main-services__link h-feed__link">
                        <article class="h-feed__h-entry main-services__item">
                            <img width="20" height="20" src="/assets/images/icons/coin.svg"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo main-services__thumb"
                            />
                            <h3 class="h-feed__p-name p-name main-services__item-title">ITCD</h3>
                            <p class="h-feed__dt-published main-services__summary">
                                Breve descrição sobre serviço em uma linha
                            </p>
                        </article>
                    </a>
                {/if}
            {/exp:channel:entries}

            <p class="h-feed__read-more main-services__read-more read-more">
                <a class="read-more__link"
                    href="#">Acesso a todos os serviços</a>
            </p>
        </div>
    </section>

    <section class="quick-links">
        <h2 class="quick-links__title">Acesso rápido</h2>

        <a href='#' class="quick-links__link h-feed__link">
            <article class="h-feed__h-entry quick-links__item">
                <img height="20" width="19" src="/assets/images/icons/dialog-bubble.svg"
                    decoding="async" loading="lazy" class="h-feed__u-photo u-photo quick-links__thumb"
                />
                <h3 class="h-feed__p-name p-name quick-links__item-title">E-SIC</h3>
            </article>
        </a>

        <a href='#' class="quick-links__link h-feed__link">
            <article class="h-feed__h-entry quick-links__item">
                <img height="20" width="17" src="/assets/images/icons/printed-paper.svg"
                    decoding="async" loading="lazy" class="h-feed__u-photo u-photo quick-links__thumb"
                />
                <h3 class="h-feed__p-name p-name quick-links__item-title">Portal da transparência</h3>
            </article>
        </a>

        <a href='#' class="quick-links__link h-feed__link">
            <article class="h-feed__h-entry quick-links__item">
                <img height="21" width="20" src="/assets/images/icons/hammer.svg"
                    decoding="async" loading="lazy" class="h-feed__u-photo u-photo quick-links__thumb"
                />
                <h3 class="h-feed__p-name p-name quick-links__item-title">Licitações</h3>
            </article>
        </a>

        <a href='#' class="quick-links__link h-feed__link">
            <article class="h-feed__h-entry quick-links__item">
                <img height="12" width="24" src="/assets/images/icons/people.svg"
                    decoding="async" loading="lazy" class="h-feed__u-photo u-photo quick-links__thumb"
                />
                <h3 class="h-feed__p-name p-name quick-links__item-title">Conferências e conselhos</h3>
            </article>
        </a>
    </section>

    <section class="last-news h-feed">
        <h2 class="last-news__title">Últimas notícias</h2>
        <div class="h-feed__list">
            {exp:channel:entries channel="news" limit="7" disable="categories|category_fields|member_data|pagination" status="open"}
                <a href='/noticias/{url_title}' class="last-news__link h-feed__link">
                    <article id="entry-{entry_id}" class="h-feed__h-entry last-news__item">
                        {gallery limit="1"}
                        <img width="80" height="80"
                            src="{gallery:file:crop width='80' height='80' maintain_ratio='n'}"
                            decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                        />
                        {/gallery}
                        <h3 class="h-feed__p-name p-name last-news__item-title">{title}</h3>
                        <p class="h-feed__dt-published last-news__date">
                            <time class="dt-published" datetime="{edit_date format="{DATE_ISO8601}"}">
                                {edit_date format="%d/%m/%Y"}
                            </time>
                        </p>
                    </article>
                </a>

                {if no_results}
                    <a href="/noticias/mais-turismo" class="last-news__link h-feed__link">
                        <article id="entry-1" class="h-feed__h-entry last-news__item">
                            <img src="/uploads/imgs/IMG-011.jpg" width="80" height="80"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                            />

                            <h3 class="h-feed__p-name p-name last-news__item-title">
                                Última notícia da secretaria em até três linhas. Caso ultrapasse, recortar as últimas três letras e inserir três pontos no final.
                            </h3>
                            <p class="h-feed__dt-published last-news__date">
                                <time class="dt-published" datetime="2021-06-21T17:56:16-03:00">
                                    02.06.2021
                                </time>
                            </p>
                        </article>
                    </a>

                    <a href="/noticias/mais-turismo" class="last-news__link h-feed__link">
                        <article id="entry-1" class="h-feed__h-entry last-news__item">
                            <img src="/uploads/imgs/IMG-011.jpg" width="80" height="80"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                            />

                            <h3 class="h-feed__p-name p-name last-news__item-title">
                                Última notícia da secretaria em até três linhas. Caso ultrapasse, recortar as últimas três letras e inserir três pontos no final.
                            </h3>
                            <p class="h-feed__dt-published last-news__date">
                                <time class="dt-published" datetime="2021-06-21T17:56:16-03:00">
                                    02.06.2021
                                </time>
                            </p>
                        </article>
                    </a>

                    <a href="/noticias/mais-turismo" class="last-news__link h-feed__link">
                        <article id="entry-1" class="h-feed__h-entry last-news__item">
                            <img src="/uploads/imgs/IMG-011.jpg" width="80" height="80"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                            />

                            <h3 class="h-feed__p-name p-name last-news__item-title">
                                Última notícia da secretaria em até três linhas. Caso ultrapasse, recortar as últimas três letras e inserir três pontos no final.
                            </h3>
                            <p class="h-feed__dt-published last-news__date">
                                <time class="dt-published" datetime="2021-06-21T17:56:16-03:00">
                                    02.06.2021
                                </time>
                            </p>
                        </article>
                    </a>

                    <a href="/noticias/mais-turismo" class="last-news__link h-feed__link">
                        <article id="entry-1" class="h-feed__h-entry last-news__item">
                            <img src="/uploads/imgs/IMG-011.jpg" width="80" height="80"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                            />

                            <h3 class="h-feed__p-name p-name last-news__item-title">
                                Última notícia da secretaria em até três linhas. Caso ultrapasse, recortar as últimas três letras e inserir três pontos no final.
                            </h3>
                            <p class="h-feed__dt-published last-news__date">
                                <time class="dt-published" datetime="2021-06-21T17:56:16-03:00">
                                    02.06.2021
                                </time>
                            </p>
                        </article>
                    </a>

                    <a href="/noticias/mais-turismo" class="last-news__link h-feed__link">
                        <article id="entry-1" class="h-feed__h-entry last-news__item">
                            <img src="/uploads/imgs/IMG-011.jpg" width="80" height="80"
                                decoding="async" loading="lazy" class="h-feed__u-photo u-photo last-news__thumb"
                            />

                            <h3 class="h-feed__p-name p-name last-news__item-title">
                                Última notícia da secretaria em até três linhas. Caso ultrapasse, recortar as últimas três letras e inserir três pontos no final.
                            </h3>
                            <p class="h-feed__dt-published last-news__date">
                                <time class="dt-published" datetime="2021-06-21T17:56:16-03:00">
                                    02.06.2021
                                </time>
                            </p>
                        </article>
                    </a>
                {/if}
            {/exp:channel:entries}

            <p class="h-feed__read-more read-more">
                <a class="read-more__link"
                    href="#">Acesso a todas as notícias</a>
            </p>
        </div>
    </section>

    {embed="-/_aside"}
</main>
