{layout="-/_layout" root_class="home" robots="index,follow,noarchive"}

<main id="main" class="home__main">
    <section class="main-services h-feed h-feed--main-services">
        <h2 class="p-name h-feed__p-name h-feed__p-name--main-services">Principais serviços</h2>

        {exp:channel:category_archive site="not 1" channel="service" show_empty="no" disable="category_fields"
        style="nested" status="open" category_group="4|10" class="main-services__lists" limit="5"}
            {categories}
                <h3 class="main-services__title">{category_name}</h3>
            {/categories}

            {entry_titles}
                <a href="{path='servicos/index'}">{title}</a><br />
            {/entry_titles}
        {/exp:channel:category_archive}

        <p class="read-more">
            <a href="#" class="read-more__link">Todos os serviços</a>
        </p>
    </section>

    {exp:channel:entries channel="news" site="not 0" limit="4" disable="categories|category_fields|member_data|pagination" status="not closed"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="last-news__title h-feed__p-name p-name">Últimas notícias</h2>
            <div class="h-feed__list h-feed__list--last-news">
        {/if}
                <a href='{relative_url}/{url_title}' class="last-news__link h-entry__u-url">
                    <article id="entry-{entry_id}" class="h-feed__h-entry h-entry last-news__item">

                        {gallery limit="1"}
                            <img
                                {if count == 1}
                                    sizes="(max-width: 544px) 100vw, 544px"
                                    srcset="
                                        {gallery:file:featured__square--small} 246w,
                                        {gallery:file:featured__square--large} 554w
                                    "
                                    width="554" height="512"
                                    src="{gallery:file:featured__square--large}"
                                {if:elseif count == 2}
                                    sizes="(max-width: 544px) 100vw, 544px"
                                    srcset="
                                        {gallery:file:featured__square--small} 246w,
                                        {gallery:file:featured__wide} 554w
                                    "
                                    width="554" height="246"
                                    src="{gallery:file:featured__wide}"
                                {if:else}
                                    width="246" height="246"
                                    src="{gallery:file:featured__square--small}"
                                {/if}
                                decoding="async" loading="lazy"
                                class="h-entry__u-photo u-photo last-news__item-thumb"
                                alt="{gallery:alt}"
                            />
                        {/gallery}

                        <h3 class="h-entry__p-name p-name last-news__item-title">{title}</h3>
                        <p class="h-entry__dt-published last-news__date">
                            <time class="dt-published" datetime="{edit_date format="{DATE_ISO8601}"}">
                                {edit_date format="%d de %F de %Y"}
                            </time>
                        </p>
                    </article>
                </a>

        {if count == total_results}
            </div>
        </section>
        {/if}
    {/exp:channel:entries}

    {tp-quick-links}
</main>
