{layout="default_site:site/_layout"}

{if segment_2 == ""}
    <main class="h-feed h-feed--bidding">
        <header class="h-feed__header">
            <h1 class="h-feed__p-name">Pregões</h1>

            {layout:set name="title"}Pregões{/layout:set}
        </header>

        <form action="" class="bidding-filter" name="filter" data-js="filter">
            <fieldset>
                <legend>Filtro:</legend>
                <p data-size="33">
                    <label for="type">Tipo de licitação:</label>
                    <select id="type" name="type">
                        <option value="">Todos</option>

                        {exp:low_options:bidding__type}
                          {if option:group != ''}<optgroup label="{option:group}">{/if}
                          {options}<option value="{option:value}">{option:label}</option>{/options}
                          {if option:group != ''}</optgroup>{/if}
                        {/exp:low_options:bidding__type}
                    </select>
                </p>

                <p data-size="33">
                    <label for="opening">Ano de Abertura:</label>
                    <select id="opening" name="opening">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </p>

                <p data-size="33">
                    <label for="status">Situação:</label>
                    <select id="status" name="status">
                        <option value="">Qualquer</option>

                        {exp:low_options:bidding__status}
                          {if option:group != ''}<optgroup label="{option:group}">{/if}
                          {options}<option value="{option:value}">{option:label}</option>{/options}
                          {if option:group != ''}</optgroup>{/if}
                        {/exp:low_options:bidding__status}
                    </select>
                </p>
            </fieldset>
        </form>

        <section class="h-feed__list h-feed__list--bidding" data-js="bidding-results" aria-busy="true"></section>
    </main>
{if:else}
    {redirect="404"}
{/if}
