{layout="default_site:site/_layout"}

{if segment_2 == ""}
    <main class="h-feed h-feed--bidding">
        <header class="h-feed__header">
            <h1 class="h-feed__p-name">Pregões</h1>

            {layout:set name="title"}Pregões{/layout:set}
        </header>

        <form action="" class="bidding-filter" name="filter" data-js="filter">
            <fieldset>
                <legend>Filtro:</legend>
                <p data-size="33">
                    <label for="type">Tipo de licitação:</label>
                    <select id="type" name="type">
                        <option value="">Todos</option>
                        <option value="Ata de abertura">Ata de abertura</option>
                        <option value="Chamado pública">Chamado pública</option>
                        <option value="Concorrência">Concorrência</option>
                        <option value="Concurso">Concurso</option>
                        <option value="Convite">Convite</option>
                        <option value="Pregão eletrônico">Pregão eletrônico</option>
                        <option value="Pregão presencial">Pregão presencial</option>
                        <option value="Procedimentos auxiliares">Procedimentos auxiliares</option>
                        <option value="RDC">RDC</option>
                        <option value="Requisição de proposta">Requisição de proposta</option>
                        <option value="Tomada de serviço">Tomada de serviço</option>
                    </select>
                </p>

                <p data-size="33">
                    <label for="opening">Ano de Abertura:</label>
                    <select id="opening" name="opening">
                        <option value="">2021</option>
                    </select>
                </p>

                <p data-size="33">
                    <label for="status">Situação:</label>
                    <select id="status" name="status">
                        <option value="">Qualquer</option>
                        <option value="Adiado até ulterior deliberação">Adiado até ulterior deliberação</option>
                        <option value="Adiado">Adiado</option>
                        <option value="Adjudicado">Adjudicado</option>
                        <option value="Agendado">Agendado</option>
                        <option value="Anulado">Anulado</option>
                        <option value="Ata esgotada">Ata esgotada</option>
                        <option value="Ata vigente">Ata vigente</option>
                        <option value="Deserto">Deserto</option>
                        <option value="Em andamento">Em andamento</option>
                        <option value="Fracassado">Fracassado</option>
                        <option value="Homologado">Homologado</option>
                        <option value="Ratificado">Ratificado</option>
                        <option value="Revogado">Revogado</option>
                    </select>
                </p>
            </fieldset>
        </form>

        <section class="h-feed__list h-feed__list--bidding" data-js="bidding-results" aria-busy="true"></section>
    </main>
{if:else}
    {redirect="404"}
{/if}
