{exp:channel:entries channel="bidding" limit="100" disable="category_fields|member_data|pagination"
status="not closed" parse="inward" orderby="bidding__opening" sort="desc"
    {if segment_3 && segment_3 != "-"}
        search:bidding__type="{segment_3}"
    {/if}

    {if segment_4 && segment_4 != "-"}
        search:bidding__status="{segment_4}"
    {/if}

    {if segment_5 && segment_5 != "-"}
        search:bidding__opening='>={segment_5}|<{segment_6}'
    {/if}
}

    {if no_results}
        <p>Não há publicações.</p>
    {/if}

    <article id="entry-{entry_id}" class="h-feed__h-entry h-entry h-entry--bidding">
            <div class="h-entry__header">
                <h3 class="h-entry__p-name p-name p-name--bidding">
                    {title}
                </h3>

                {if logged_in_role_id == 1}
                    <a href="{cp_edit_entry_url}" target="_blank">Editar publicação</a>
                {/if}
            </div>

            <div class="h-entry__p-summary">
                <dl class="bidding-data">
                    <dt class="bidding-data__title">
                        Processo:
                    </dt>
                    <dd class="bidding-data__definition">{bidding__process}</dd>
                </dl>

                <dl class="bidding-data">
                    <dt class="bidding-data__title">
                        Abertura:
                    </dt>
                    <dd class="bidding-data__definition">
                        <time class="dt-published" datetime="{bidding__opening format="{DATE_ISO8601}"}">
                            {bidding__opening format="%d/%m/%Y"}
                        </time>
                    </dd>
                </dl>

                <dl class="bidding-data">
                    <dt class="bidding-data__title">
                        Objeto:
                    </dt>
                    <dd class="bidding-data__definition">
                        {bidding__object}
                    </dd>
                </dl>

                <dl class="bidding-data">
                    <dt class="bidding-data__title">
                        Situação:
                    </dt>
                    <dd class="bidding-data__definition">
                        {bidding__status:label}
                    </dd>
                </dl>

                {if is_duplicated}
                    <dl class="bidding-data">
                        <dt class="bidding-data__title">
                            É repetição.
                        </dt>
                    </dl>
                {/if}

                {if bidding__notice:total_rows || bidding__edict:total_rows || bidding__files:total_rows}
                    <details class="bidding-files">
                        <summary class="bidding-files__title">Arquivos</summary>

                        <div class="bidding-data__definition">
                            {bidding__notice}
                                <div class="bidding__file bidding__file--notice">
                                    {bidding__notice:file}
                                        <h4 class="bidding__filename">{file_name}</h4>
                                        <dl class="bidding-data">
                                            <dt class="bidding-data__title">Tamanho:</dt>
                                            <dd class="bidding-data__definition">
                                                ({file_size:human})
                                            </dd>
                                        </dl>
                                    {/bidding__notice:file}
                                    <dl class="bidding-data">
                                        <dt class="bidding-data__title">Publicado em:</dt>
                                        <dd class="bidding-data__definition">
                                            {bidding__notice:publication_date format="%d/%m/%Y"}
                                        </dd>
                                    </dl>
                                </div>
                            {/bidding__notice}

                            {bidding__edict}
                                <div class="bidding__file bidding__file--edict">
                                    {bidding__edict:file}
                                        <h4 class="bidding__filename">{file_name}</h4>
                                        <dl class="bidding-data">
                                            <dt class="bidding-data__title">Tamanho:</dt>
                                            <dd class="bidding-data__definition">
                                                ({file_size:human})
                                            </dd>
                                        </dl>
                                    {/bidding__edict:file}
                                    <dl class="bidding-data">
                                        <dt class="bidding-data__title">Publicado em:</dt>
                                        <dd class="bidding-data__definition">
                                            {bidding__edict:publication_date format="%d/%m/%Y"}
                                        </dd>
                                    </dl>
                                </div>
                            {/bidding__edict}

                            {bidding__files}
                                <div class="bidding__file">
                                    {bidding__files:file}
                                        <h4 class="bidding__filename">{file_name}</h4>
                                        <dl class="bidding-data">
                                            <dt class="bidding-data__title">Tamanho:</dt>
                                            <dd class="bidding-data__definition">
                                                ({file_size:human})
                                            </dd>
                                        </dl>
                                    {/bidding__files:file}
                                    <dl class="bidding-data">
                                        <dt class="bidding-data__title">Publicado em:</dt>
                                        <dd class="bidding-data__definition">
                                            {bidding__files:publication_date format="%d/%m/%Y"}
                                        </dd>
                                    </dl>
                                </div>
                            {/bidding__files}

                            <p class="read-more read-more--download">
                                <a
                                    href="/pregoes/dialog/{entry_id}"
                                    target="channel-form__iframe"
                                    data-js="dialog-opener"
                                    aria-controls="channel-form__dialog"
                                    class="read-more__link"
                                >
                                    Download
                                </a>
                            </p>
                        </div>
                    </details>
                {/if}
            </div>
    </article>
{/exp:channel:entries}

<dialog id="channel-form__dialog" aria-busy="true">
    <iframe id="channel-form__iframe" name="channel-form__iframe" src="" frameborder="0" aria-busy="true"></iframe>

    <div id="channel-form__container" aria-busy="true"></div>

    <menu>
        <button value="cancel" title="Cancelar">&times;</button>
    </menu>
</dialog>
<div class="backdrop" aria-hidden="true"></div>
