<aside class="main-aside">

<!-- most filled services :start -->
    {exp:query
    sql="SELECT ec.cat_id, ec.cat_name, ec.cat_url_title, ec2.channel_url
        FROM exp_categories ec
        JOIN exp_category_groups cg ON ec.group_id = cg.group_id
        JOIN exp_category_posts ecp ON ecp.cat_id = ec.cat_id
        JOIN exp_channel_titles ect ON ecp.entry_id = ect.entry_id
        JOIN exp_channels ec2 ON ect.channel_id = ec2.channel_id
        WHERE ec.site_id = '{site_id}'
            AND LOWER(cg.group_name) = 'perfil do cidadao'
            AND ect.status = 'open'
            AND ec2.channel_name IN ('service', 'special')
        GROUP BY ec.cat_id
        ORDER BY COUNT(ecp.entry_id) DESC
        LIMIT 4"
        parse="inward"
    }
        <section class="h-feed main-aside__section">
            <h5 class="h-feed__p-name p-name main-aside__title">
                {cat_name}
            </h5>
            <ul class="main-aside__list" data-total-entries="{total_entries}">
                {exp:channel:entries channel="service" disable="categories|category_fields|member_data|pagination" category="{cat_id}" status="not closed" limit="3" dynamic="no"}
                    <li class="main-aside__item h-entry">
                        <a class="main-aside__link h-entry__u-url u-url" href="https:/{relative_url}/{url_title}">{title}</a>
                    </li>
                {/exp:channel:entries}
            </ul>
        </section>

        {if count == total_results}
            <p class="read-more">
                <a class="read-more__link" href="/programas-ou-servicos/">+ Serviços e programas</a>
            </p>
        {/if}
    {/exp:query}
<!-- most filled services :end -->

    {exp:channel:entries channel="news" limit="5" disable="categories|category_fields|member_data|pagination" status="not closed" search:thumbnail="not IS_EMPTY"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="h-feed__p-name--last-news h-feed__p-name p-name">Destaques</h2>
            <div class="h-feed__list h-feed__list--last-news">
        {/if}
                <a
                    href="{url_title_path='noticias/index'}"
                    class="h-entry__u-url--last-news {if count == 1}h-entry__u-url--featured{/if} h-entry__u-url"
                >
                    <article id="entry-{entry_id}"
                        class="h-feed__h-entry h-feed__h-entry--last-news h-entry {if count == 1}h-feed__h-entry--featured{/if}"
                    >
                        {if count == 1}
                            <img
                                width="1116" height="512"
                                sizes="(max-width: 1116px) 100vw, 1116px"
                                {thumbnail}
                                    srcset="
                                        {url:300w} 300w,
                                        {url:635w} 635w,
                                        {url:886w} 886w,
                                        {url:1079w} 1079w,
                                        {url:1116w} 1116w"
                                    src="{url:1116w}"
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                    alt="{description}"
                                {/thumbnail}
                            />
                        {if:else}
                            <img
                                {thumbnail}
                                    width="260" height="200"
                                    src="{url:thumb--aside}"
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo h-entry__u-photo--last-news u-photo"
                                    alt="{description}"
                                {/thumbnail}
                            />
                        {/if}

                        <div class="h-entry__header {if count == 1}h-entry__header--featured{/if}">
                            <h3 class="h-entry__p-name p-name h-entry__p-name--last-news">{title}</h3>
                            <p class="h-entry__dt-published h-entry__dt-published--last-news">
                                <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                {if count == 1}
                                    {entry_date format="%d de %F de %Y"}
                                {if:else}
                                    {entry_date format="%d/%m/%Y"}
                                {/if}
                                </time>
                            </p>
                        </div>
                    </article>
                </a>

        {if count == total_results}
            </div>
            <p class="read-more">
                <a class="read-more__link" href="/noticias">+ Notícias</a>
            </p>
        </section>
        {/if}
    {/exp:channel:entries}

</aside>
