<aside class="main-aside">

    {exp:channel:entries channel="document|event|news|service" cache="yes" disable="categories|category_fields|member_data|pagination" category_group="4" category="13" status="open" limit="3"}
        {if count == 1}
        <section class="h-feed main-aside__section">
            <h5 class="h-feed__p-name p-name main-aside__title">
                Cidadão
            </h5>
            <ul class="main-aside__list">
        {/if}
            <li class="main-aside__item h-entry">
                <a class="main-aside__link h-entry__u-url u-url" href="https:/{relative_url}/{url_title}">{title}</a>
            </li>
        {if count == total_results}
            </ul>
        </section>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="document|event|news|service" cache="yes" disable="categories|category_fields|member_data|pagination" category_group="4" category="14" status="open" limit="3"}
        {if count == 1}
        <section class="h-feed main-aside__section">
            <h5 class="h-feed__p-name p-name main-aside__title">
                Turista
            </h5>
            <ul class="main-aside__list">
        {/if}
            <li class="main-aside__item h-entry">
                <a class="main-aside__link h-entry__u-url u-url" href="https:/{relative_url}/{url_title}">{title}</a>
            </li>
        {if count == total_results}
            </ul>
        </section>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="document|event|news|service" cache="yes" disable="categories|category_fields|member_data|pagination" category_group="4" category="16" status="open" limit="3"}
        {if count == 1}
        <section class="h-feed main-aside__section">
            <h5 class="h-feed__p-name p-name main-aside__title">
                Negócios
            </h5>
            <ul class="main-aside__list">
        {/if}
            <li class="main-aside__item h-entry">
                <a class="main-aside__link h-entry__u-url u-url" href="https:/{relative_url}/{url_title}">{title}</a>
            </li>
        {if count == total_results}
            </ul>
        </section>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="document|event|news|service" cache="yes" disable="categories|category_fields|member_data|pagination" category_group="4" category="15" status="open" limit="3"}
        {if count == 1}
        <section class="h-feed main-aside__section">
            <h5 class="h-feed__p-name p-name main-aside__title">
                Programas
            </h5>
            <ul class="main-aside__list">
        {/if}
            <li class="main-aside__item h-entry">
                <a class="main-aside__link h-entry__u-url u-url" href="https:/{relative_url}/{url_title}">{title}</a>
            </li>
        {if count == total_results}
            </ul>
        </section>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="news" limit="5" disable="categories|category_fields|member_data|pagination" status="open"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="last-news__title h-feed__p-name p-name">Destaques</h2>
            <div class="h-feed__list">
        {/if}
                <a href='https:/{relative_url}/{url_title}' class="last-news__link h-entry__u-url">
                    <article id="entry-{entry_id}" class="h-feed__h-entry h-entry last-news__item">
                        {if count == 1}
                            {thumbnail}
                                    <img
                                        data-width="1116" data-height="512"
                                        width="{width:1116w}" height="{height:1116w}"
                                        sizes="(max-width: 1116px) 100vw, 1116px"
                                        srcset="
                                            {url:300w} 300w,
                                            {url:635w} 635w,
                                            {url:886w} 886w,
                                            {url:1079w} 1079w,
                                            {url:1116w} 1116w"
                                        src="{url:1116w}"
                                        decoding="async" loading="lazy" class="h-entry__u-photo u-photo last-news__item-thumb"
                                        alt="{description}"
                                    />
                            {/thumbnail}
                        {if:else}
                            {thumbnail}
                                    <img
                                        data-width="260" data-height="200"
                                        width="{width:thumb--aside}" height="{height:thumb--aside}"
                                        src="{url:thumb--aside'}"
                                        decoding="async" loading="lazy" class="h-entry__u-photo u-photo"
                                        alt="{description}"
                                    />
                            {/thumbnail}
                        {/if}

                        <h3 class="h-entry__p-name p-name last-news__item-title">{title}</h3>
                        <p class="h-entry__dt-published last-news__date">
                            <time class="dt-published" datetime="{edit_date format="{DATE_ISO8601}"}">
                            {if count == 1}
                                {edit_date format="%d de %F de %Y"}
                            {if:else}
                                {edit_date format="%d/%m/%Y"}
                            {/if}
                            </time>
                        </p>
                    </article>
                </a>

        {if count == total_results}
            </div>
        </section>
        {/if}
    {/exp:channel:entries}

    {tp-quick-links}


</aside>
