<nav class="header-nav">
    {exp:channel:category_archive show_empty="no"
        channel="page|government_member|service|news|staff|special"
        style="nested" category_group="{global:cascade-menu-group}" class="header-nav__list"
    }
        {categories}
            {if url}
                <a href="{url:url}" class="header-nav__menu-item-link">
                    {category_name}
                </a>
            {if:else}
                <span class="header-nav__menu-item-container" tabindex="-1">
                    {category_name}
                </span>
            {/if}
        {/categories}

        {entry_titles}
            <a
            channel_short_name="{channel_short_name}"
                {if page_uri}
                    href="{page_uri}"
                {if:elseif channel_short_name == "page"}
                    href="/{url_title}"
                {if:else}
                    href="{channel_url}/{url_title}"
                {/if}
                class="header-nav__menu-link"
            >
                {title}
            </a>
        {/entry_titles}
    {/exp:channel:category_archive}
</nav>
