{!-- DO NOT CACHE --}

{if ! consent:has_responded:ee:cookies_functionality}
    <div class="consent-request__wrapper">
        {exp:consent:requests consent="ee:cookies_functionality"}
            <div class="consent-request">
                <div role="group" class="consent-request__content">
                    {consent_request}
                </div>

                <div role="group" class="consent-request__controls">
                    <a class="consent-controller consent-request__grant-button like-a__button like-a__button--submit" href="{consent_grant_url}">Aceito</a>

                    <a href="{global:root-site-url}/privacidade/cookies" target="_blank">
                        Configurações e Política de monitoramente por cookies
                    </a>
                </div>
            </div>
        {/exp:consent:requests}
    </div>
{if:else}
    {exp:consent:requests consent="ee:cookies_functionality"}
        <script>
            window['ma:consents'] = window['ma:consents'] || [];
        </script>
        {if consent_granted}
            <script>
                window['ma:consents'].push('{consent_short_name}');
            </script>

            {tv-static_footer}
        {/if}
    {/exp:consent:requests}
{/if}
