{!--  DO NOT CACHE  --}

{if ! consent:has_responded:ee:cookies_functionality}
    <div class="consent-request__wrapper">
        {exp:consent:requests consent="ee:cookies_functionality"}
            <div class="consent-request">
                <div role="group" class="consent-request__content">
                    <p>O Portal de Serviços do Governo do Estado do Maranhão utiliza cookies para melhorar sua experiência de navegação no portal. Ao utilizar o Portal de Serviços, você concorda com a política de monitoramento de cookies. Para ter mais informações sobre como isso é feito, acesse Política de cookies.</p>

                    <p><strong>Se você concorda, clique em ACEITO.</strong></p>
                </div>

                <div role="group" class="consent-request__controls">
                    <a class="consent-request__grant-button like-a__button like-a__button--submit" href="{consent_grant_url}">Aceito</a>
                    <a class="consent-request__withdraw-button like-a__button" href="{consent_withdraw_url}">Recuso</a>

                    <a href="{global:root-site-url}/privacidade/cookies" target="_blank">
                        Política de monitoramente de cookies
                    </a>
                </div>
            </div>

            {if consent_granted}
                <script>
                    window['ma:consents'] = window['ma:consents'] || '';
                    window['ma:consents'] += ' {consent_short_name}';
                </script>
            {/if}
        {/exp:consent:requests}
    </div>
{/if}
