{exp:query sql="SELECT group_id FROM exp_category_groups WHERE site_id = '{site_id}' AND group_name = 'menu de rodape' LIMIT 1;" parse="inward"}
<nav class="main-footer__menu-wrapper">
    {exp:channel:category_archive show_empty="yes"
        channel="page|government_member|service|news|staff"
        style="nested" category_group="{group_id}" class="main-footer__menu-list" role="menu"
    }
        {categories}
            {if url}
                <a href="{url:url}" class="main-footer__menu-item-link" role="menuitem">
                    {if category_image}
                        <img src="{category_image}" aria-hidden="true" alt="" class="main-footer__menu-item-icon" />
                    {/if}
                    {category_name}
                </a>
            {if:else}
                <button class="main-footer__menu-item-container" type="button"
                    role="menuitem" aria-haspopup="menu"
                    onclick="
                        this.classList.toggle('opened');
                        this.setAttribute('aria-expanded', this.classList.contains('opened'))
                        this.focus();
                    "
                >
                    {if category_image}
                        <img src="{category_image}" aria-hidden="true" alt="" class="main-footer__menu-item-icon" />
                    {/if}
                    {category_name}
                </button>
            {/if}
        {/categories}

        {entry_titles}
            <a
                {if page_uri}
                    href="{page_uri}"
                {if:else}
                    href="{channel_url}/{url_title}"
                {/if}
                class="main-footer__menu-link"
            >
                {title}
            </a>
        {/entry_titles}
    {/exp:channel:category_archive}
</nav>
{/exp:query}
