{exp:channel:entries channel="service" limit="{embed:limit}"
    category="{embed:cat_id}" status="not closed" disable="member_data|pagination"
    category_group="{embed:group_id}" orderby="title" sort="asc" dynamic="no"
}
    {if count == 1}
    <section class="h-feed home-services">
        <h2 class="h-feed__p-name h-feed__p-name--home-services p-name">{embed:title}</h2>
        <ul class="h-feed__list h-feed__list--home-services">
    {/if}
            <li class="h-feed__h-entry h-entry h-feed__h-entry--home-services">
                <a
                    href='{url_title_path="servicos/index"}'
                    class="h-entry__u-url--home-services h-entry__u-url"
                >
                    {if embed:service_group}
                        {categories show_group="{embed:service_group}" limit="1"}
                            {if category_image}
                                <img
                                    width="" height="" src="{category_image}" alt=""
                                    decoding="async" loading="lazy" class="h-entry__u-photo u-photo home-services__thumb"
                                />
                            {/if}
                        {/categories}
                    {/if}

                    <h3 class="h-entry__p-name p-name h-entry__p-name--home-services">{title}</h3>
                </a>
            </li>
    {if count == total_results}
        </ul>
    </section>
        {if embed:show_read_more}
            <p class="read-more read-more--main-services">
                <a class="read-more__link" href="/servicos/">+ Serviços e programas</a>
            </p>
        {/if}
    {/if}
{/exp:channel:entries}
