<!doctype html>
{if segment_1 == "-"}
  {redirect="404"}
{/if}
<html
    class="no-js no-jquery {segment_1} {segment_2} {layout:root_class} {if site_url == 'http://localhost'}grid{/if} {site_short_name}"
    lang="{lang}"
>
<head>
{tp-head}
</head>
<body>

{exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings" url_title="settings" disable="categories|member_data|pagination"}
    {tp-header}

    {layout:contents}

    {tp-footer}
{/exp:channel:entries}

{if logged_in_group_id == 1}
<!--
+-------------------------+----------------------------------------------+
| Queries:                |   {total_queries}
| Elapsed Time:           |   {elapsed_time}s
| Memory Used:            |   {memory_usage}
| Date and time of parse: |   {current_time format="%Y %m %d %H:%i:%s"}
| Debug Mode:             |   {debug_mode}
| App build:              |   {app_build}
| App version:            |   {app_version}
+-------------------------+----------------------------------------------+
-->
{/if}

<script src="{script='default_site:site/scripts'}"></script>

{tv-static_footer}

</body>
</html>
