<!doctype html>
{if segment_1 == "-"}
  {redirect="404"}
{/if}
<html
    class="no-js no-jquery {segment_1} {segment_2} {layout:root_class} {if site_url *= 'local'}grid{/if} {site_short_name}"
    lang="{lang}"
>
<head>
{tp-head}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-43WSLQF7SQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-43WSLQF7SQ');
</script>

<meta name="ma:search_keywords" content="{exp:search:keywords}" />

</head>
<body>
{tv-browse_happy}
{tv-access}
<input type="checkbox" hidden="hidden" id="menu-controller" />

    <div class="simplified-header" aria-hidden="true">
        <div class="simplified-header__container">
            <div role="banner" class="site-info">
                <a href="{site_url}" class="main-header__logo">
                    {if site_id == 1}
                        <img
                            src="/assets/images/brand/gov__ma.png"
                            srcset="/assets/images/brand/gov__ma@2x.png 2x"
                            alt="{site_name}" width="261" height="123" />
                    {if:else}
                        {exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings"
                            url_title="settings" disable="categories|member_data|pagination" parse="inward"
                        }
                            {if settings__logotype == ""}
                                <img
                                    src="/assets/images/brand/gov__ma.png"
                                    srcset="/assets/images/brand/gov__ma@2x.png 2x"
                                    alt="{site_name}" width="261" height="123"
                                />
                            {if:else}
                                {settings__logotype}
                                    <img
                                        src="{url}"
                                        alt="{description}" width="{width}" height="{height}"
                                    />
                                {/settings__logotype}
                            {/if}
                        {/exp:channel:entries}
                    {/if}
                </a>
            </div>

            <label for="menu-controller" aria-label="Menu" aria-haspopup="menu"
                onclick="document.documentElement.classList.toggle('opened-menu');"
                class="header-nav__toggle header-nav__hamburguer"
            >
                <svg width="29" height="26" viewBox="0 0 29 26" fill-rule="evenodd"
                    clip-rule="evenodd" stroke-linecap="round"
                >
                    <path d="M1.5 1.5h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--1" />
                    <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                    <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                    <path d="M1.5 23.742h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--3" />
                </svg>
            </label>

            {embed="default_site:site/social_profiles" site="default_site" class="social-networks--simplified-header"}
        </div><!-- .simplified-header__container -->
    </div><!-- .simplified-header -->

    <div class="main-header-and-search-form">
        <div class="main-header-and-search-form__container">
            <div class="a11y-i18n-bar a11y-i18n-bar--header">
                <ul class="a11y-i18n-bar__list a11y-i18n-bar__list--a11y">
                    <li class="a11y-i18n-bar__item">
                        <button type="button" value="dark" data-js="themeSwitcher" class="a11y-i18n-bar__button a11y-i18n-bar__button--theme">
                            tema claro/escuro
                        </button>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <a href="https://www.gov.br/governodigital/pt-br/vlibras/" target="_blank"
                            class="like-a__button a11y-i18n-bar__button a11y-i18n-bar__button--sign-transcription"
                        >
                            <abbr title="Língua Brasileira de Sinais">LIBRAS</abbr>
                        </a>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <button type="button" value="1" data-js="fontResizer" class="a11y-i18n-bar__button a11y-i18n-bar__button--increase-font">
                            aumentar corpo de texto
                        </button>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <button type="button" value="-1" data-js="fontResizer" class="a11y-i18n-bar__button a11y-i18n-bar__button--decrease-font">
                            diminuir corpo de texto
                        </button>
                    </li>
                </ul>

                <ul class="a11y-i18n-bar__list a11y-i18n-bar__list--i18n">
                    <li class="a11y-i18n-bar__item">
                        <button type="button" onclick="doGTranslate('pt|en');" title="English"
                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                            translate="no" disabled data-js="ee:cookies_functionality"
                        >
                            <abbr title="English" lang="en">EN</abbr>
                        </button>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <button type="button" onclick="doGTranslate('pt|fr');" title="French"
                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                            translate="no" disabled data-js="ee:cookies_functionality"
                        >
                            <abbr title="Français" lang="fr">FR</abbr>
                        </button>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <button type="button" onclick="doGTranslate('pt|pt');" title="Portuguese"
                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                            translate="no" disabled data-js="ee:cookies_functionality"
                        >
                            <abbr title="Português" lang="pt">PT</abbr>
                        </button>
                    </li>
                    <li class="a11y-i18n-bar__item">
                        <button type="button" onclick="doGTranslate('pt|es');" title="Spanish"
                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                            translate="no" disabled data-js="ee:cookies_functionality"
                        >
                            <abbr title="Español" lang="es">ES</abbr>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="main-header">
                {exp:query
                    sql="SELECT cg.group_id AS group_id, cg.group_name AS group_name
                    FROM exp_category_groups cg
                    JOIN exp_categories ec ON ec.group_id = cg.group_id
                    WHERE cg.site_id = '{site_id}'
                    {if site_id == 1 && (segment_1 == 'agencia-de-noticias' || segment_1 == 'noticias')}
                        AND cg.group_name IN ('menu agencia de noticias')
                    {if:else}
                        AND cg.group_name IN ('menu em cascata', 'menu hamburguer')
                    {/if}
                    GROUP BY cg.group_id
                    ORDER BY cg.group_name DESC
                    ;"
                    parse="inward"
                }
                    {if count == 1}
                        <label for="menu-controller" aria-label="Menu" aria-haspopup="menu"
                            aria-controls="main-nav"
                            class="header-nav__toggle header-nav__hamburguer"
                            onclick="document.documentElement.classList.toggle('opened-menu');"
                        >
                            <svg width="29" height="26" viewBox="0 0 29 26" fill-rule="evenodd"
                              clip-rule="evenodd" stroke-linecap="round"
                            >
                                <path d="M1.5 1.5h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--1" />
                                <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                                <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                                <path d="M1.5 23.742h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--3" />
                            </svg>
                        </label>

                        <nav class="main-nav" id="main-nav">
                            <label for="menu-controller" aria-label="Menu" aria-haspopup="menu"
                                aria-controls="main-nav"
                                class="header-nav__toggle header-nav__hamburguer header-nav__hamburguer--whitin"
                                onclick="document.documentElement.classList.toggle('opened-menu');"
                            >
                                <svg width="29" height="26" viewBox="0 0 29 26" fill-rule="evenodd"
                                  clip-rule="evenodd" stroke-linecap="round"
                                >
                                    <path d="M1.5 1.5h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--1" />
                                    <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                                    <path d="M1.5 12.621h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--2" />
                                    <path d="M1.5 23.742h25.262" stroke-width="3" class="menu-controller__line menu-controller__line--3" />
                                </svg>
                            </label>
                            <div class="main-nav__social" aria-hidden="true">
                                {embed="default_site:site/social_profiles" site="default_site"}
                            </div>
                            <div class="main-nav__list-wrapper">
                    {/if}

                    {if site_id == 1 && (segment_1 == "agencia-de-noticias" || segment_1 == "noticias")}
                        {exp:channel:categories channel="news" style="nested" category_group="{group_id}" show_empty="yes" class="main-nav__list main-nav__list--{group_name:url_slug}"}
                            <a href="/noticias/categorias/{category_url_title}">{category_name}</a>

                            {if has_children}
                                <button
                                    type="button"
                                    aria-haspopup="true"
                                >categorias filhas</button>
                            {/if}
                        {/exp:channel:categories}
                    {if:else}
                        {exp:channel:category_archive
                            channel="page|government_member|service|document|news|staff|special"
                            style="nested" category_group="{group_id}" class="main-nav__list main-nav__list--{group_name:url_slug}"
                        }
                            {tp-category_archive_menu_content}
                        {/exp:channel:category_archive}
                    {/if}

                    {if count == total_results}
                            </div>
                            <div class="main-nav__i18n a11y-i18n-bar" aria-hidden="true">
                                <ul class="a11y-i18n-bar__list a11y-i18n-bar__list--i18n">
                                    <li class="a11y-i18n-bar__item">
                                        <button type="button" onclick="doGTranslate('pt|en');" title="English"
                                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                                            translate="no" disabled data-js="ee:cookies_functionality"
                                        >
                                            <abbr title="English" lang="en">EN</abbr>
                                        </button>
                                    </li>
                                    <li class="a11y-i18n-bar__item">
                                        <button type="button" onclick="doGTranslate('pt|fr');" title="French"
                                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                                            translate="no" disabled data-js="ee:cookies_functionality"
                                        >
                                            <abbr title="Français" lang="fr">FR</abbr>
                                        </button>
                                    </li>
                                    <li class="a11y-i18n-bar__item">
                                        <button type="button" onclick="doGTranslate('pt|pt');" title="Portuguese"
                                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                                            translate="no" disabled data-js="ee:cookies_functionality"
                                        >
                                            <abbr title="Português" lang="pt">PT</abbr>
                                        </button>
                                    </li>
                                    <li class="a11y-i18n-bar__item">
                                        <button type="button" onclick="doGTranslate('pt|es');" title="Spanish"
                                            class="a11y-i18n-bar__button a11y-i18n-bar__button--translate"
                                            translate="no" disabled data-js="ee:cookies_functionality"
                                        >
                                            <abbr title="Español" lang="es">ES</abbr>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    {/if}
                {/exp:query}

                {embed="default_site:site/social_profiles" site="default_site" class="social-networks--header"}

                {if site_id != 1}
                    <a class="main-header__root-site-link" href="{global:root-site-url}">
                       ma.gov.br
                    </a>
                {/if}

                <div role="banner" class="site-info site-info--header">
                    <a href="{site_url}" class="main-header__logo">
                        {if site_id == 1}
                            <img
                                src="/assets/images/brand/gov__ma.png"
                                srcset="/assets/images/brand/gov__ma@2x.png 2x"
                                alt="{site_name}" width="261" height="123" />
                        {if:else}
                            {exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings"
                                url_title="settings" disable="categories|member_data|pagination" parse="inward"
                            }
                                {if settings__logotype == ""}
                                    <img
                                        src="/assets/images/brand/gov__ma.png"
                                        srcset="/assets/images/brand/gov__ma@2x.png 2x"
                                        alt="{site_name}" width="261" height="123"
                                    />
                                {if:else}
                                    {settings__logotype}
                                        <img
                                            src="{url}"
                                            alt="{description}" width="{width}" height="{height}"
                                        />
                                    {/settings__logotype}
                                {/if}
                            {/exp:channel:entries}
                        {/if}
                    </a>
                </div>
            </div><!-- .main-header -->

            {if site_id != 1}
                <h1 class="main-header__title">
                    {site_name}
                </h1>
            {/if}

            {exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings"
                url_title="settings" disable="categories|member_data|pagination" parse="inward"
            }
                <form
                    {if segment_1 != "noticias" && segment_1 != "agencia-de-noticias"}
                        action="/busca"
                    {if:else}
                        action="/noticias/busca"
                    {/if}
                    name="search-form--header"
                    method="GET" class="search-form search-form--header"
                >
                    <fieldset class="search-form__fieldset">
                        {if site_id == 1}
                            <legend class="search-form__legend">
                                {if segment_1 != "noticias" && segment_1 != "agencia-de-noticias"}
                                    Como podemos te ajudar?
                                {if:else}
                                    Agência de Notícias
                                {/if}
                            </legend>
                        {/if}
                        <p class="search-form__field-wrapper search-form__field-wrapper--text">
                            <input type="text" id="keywords"
                                {if segment_1 != "noticias" && segment_1 != "agencia-de-noticias"}
                                    placeholder="{settings__search_placeholder}"
                                {/if}
                                autocomplete="on" name="keywords"
                                aria-label="Keywords" class="search-form__field search-form__field--text" minlength="3"
                                value="{exp:search:keywords}" />
                        </p>
                        <button type="reset" aria-label="reset" class="search-form__field search-form__field--reset">
                            <img src="/assets/images/x.svg" width="14" height="14" />
                        </button>
                        <p class="search-form__field-wrapper search-form__field-wrapper--audio">
                            <button type="button" data-js="audio-recorder" aria-label="audio"
                                class="search-form__field search-form__field--audio"
                            >
                                <img src="/assets/images/microphone.svg" width="15" height="25" />
                            </button>
                        </p>
                        <button type="submit" aria-label="search" class="search-form__field search-form__field--submit">
                            <img src="/assets/images/magnifying-glass.svg" width="18" height="18" />
                        </button>
                    </fieldset>
                    {if segment_1 != "noticias" && segment_1 != "agencia-de-noticias"}
                        {if settings__search_suggestions:total_rows}
                            <fieldset class="search-form__suggestions">
                                <p class="search-form__suggestions-title">
                                    Sugestões:
                                </p>
                                <ul class="search-form__suggestions-list">
                                    {settings__search_suggestions orderby="term"}
                                        <li class="search-form__suggestions-item">
                                            <button type="submit" name="keywords"
                                                value="{settings__search_suggestions:term}"
                                                title="procurar por '{settings__search_suggestions:term}'"
                                                class="search-form__suggestions-button"
                                            >
                                                {settings__search_suggestions:term}
                                            </button>
                                        </li>
                                    {/settings__search_suggestions}
                                </ul>
                            </fieldset>
                        {/if}
                    {if:else}
                        <input type="hidden" name="split" value="any" />

                        <fieldset class="search-form__options">
                            <ul class="search-form__options-list">
                                <li class="search-form__options-item">
                                    <input type="radio" name="required" id="gallery" value="fotos"
                                        {exp:request:get name="required"}
                                            {if item == "fotos"}
                                                checked
                                            {/if}
                                        {/exp:request:get}
                                    />
                                    <label for="gallery">Fotos</label>
                                </li>
                                <li class="search-form__options-item">
                                    <input type="radio" name="required" id="videos" value="videos"
                                        {exp:request:get name="required"}
                                            {if item == "videos"}
                                                checked
                                            {/if}
                                        {/exp:request:get}
                                    />
                                    <label for="videos">Vídeos</label>
                                </li>
                                <li class="search-form__options-item">
                                    <input type="radio" name="required" id="news" value=""
                                        {exp:request:get name="required"}
                                            {if no_results}
                                                checked
                                            {/if}
                                            {if item != "fotos" && item != "videos"}
                                                checked
                                            {/if}
                                        {/exp:request:get}
                                    />
                                    <label for="news">Notícias</label>
                                </li>
                            </ul>
                        </fieldset>
                    {/if}
                </form>
            {/exp:channel:entries}
        </div><!-- .main-header-and-search-form__container -->

        {exp:query sql="SELECT group_id FROM exp_category_groups WHERE site_id = '{site_id}' AND group_name = 'menu em cascata' LIMIT 1;" parse="inward"}
            <nav class="header-nav">
                {exp:channel:category_archive show_empty="yes"
                    channel="page|government_member|service|document|news|staff|special"
                    style="nested" category_group="{group_id}" class="header-nav__list header-nav__list--{group_name:url_slug}"
                }
                    {tp-category_archive_menu_content}
                {/exp:channel:category_archive}
            </nav>
        {/exp:query}
    </div><!-- .main-header-and-search-form -->

    {layout:contents}

    {tp-quick-links}

    <div class="main-footer__wrapper">
        <footer class="main-footer">
            {embed="default_site:site/_footer-menu"}

            {exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings" url_title="settings" disable="categories|member_data|pagination"}

                {if segment_1 != "noticias" && segment_1 != "agencia-de-noticias"}
                    {settings__header}
<style data-js="custom-header" data-idx="{settings__header:count}">
  [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
    background-image: url('{settings__header:file:300w}');
    background-color: {settings__header:bg}; /* stylelint-disable-line declaration-block-trailing-semicolon */
    color: {settings__header:fg}; /* stylelint-disable-line declaration-block-trailing-semicolon */
  }

  @media screen and (min-width: 300px) {
    [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
      background-image: url('{settings__header:file:635w}');
    }
  }

  @media screen and (min-width: 635px) {
    [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
      background-image: url('{settings__header:file:886w}');
    }
  }

  @media screen and (min-width: 886px) {
    [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
      background-image: url('{settings__header:file:1079w}');
    }
  }

  @media screen and (min-width: 1079px) {
    [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
      background-image: url('{settings__header:file:1116w}');
    }
  }

  @media screen and (min-width: 1116px) {
    [data-header-idx='{settings__header:count}']:root .main-header-and-search-form {
      background-image: url('{settings__header:file}');
    }
  }
</style>
                    {/settings__header}
                {if:else}
                    {news__header}
<style data-js="custom-header" data-idx="{news__header:count}">
  [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
    background-image: url('{news__header:file:300w}');
    background-color: {news__header:bg}; /* stylelint-disable-line declaration-block-trailing-semicolon */
    color: {news__header:fg}; /* stylelint-disable-line declaration-block-trailing-semicolon */
  }

  @media screen and (min-width: 300px) {
    [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
      background-image: url('{news__header:file:635w}');
    }
  }

  @media screen and (min-width: 635px) {
    [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
      background-image: url('{news__header:file:886w}');
    }
  }

  @media screen and (min-width: 886px) {
    [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
      background-image: url('{news__header:file:1079w}');
    }
  }

  @media screen and (min-width: 1079px) {
    [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
      background-image: url('{news__header:file:1116w}');
    }
  }

  @media screen and (min-width: 1116px) {
    [data-header-idx='{news__header:count}']:root .main-header-and-search-form {
      background-image: url('{news__header:file}');
    }
  }
</style>
                    {/news__header}
                {/if}

                <div class="colophon">
                    <div class="site-info site-info--footer">
                        <a href="{site_url}" class="main-footer__logo">
                            {if site_id == 1 OR settings__logotype == "" OR no_results}
                                <img
                                    src="/assets/images/brand/gov__ma.png"
                                    srcset="/assets/images/brand/gov__ma@2x.png 2x"
                                    alt="{site_name}" width="261" height="123"
                                />
                            {if:else}
                                {settings__logotype}
                                    <img
                                        src="{url}"
                                        alt="{description}" width="{width}" height="{height}"
                                    />
                                {/settings__logotype}
                            {/if}
                        </a>
                    </div>

                    <div class="h-card">
                        {if settings__address}
                            <div class="p-adr">
                                <a href="https://maps.apple.com/?daddr={settings__address:attr_safe:url_encode plus_encoded_spaces='yes'}"
                                    target="_blank" rel="noopener noreferrer">
                                    {settings__address}
                                </a>
                                {opening_hours}
                            </div>
                        {/if}
                        {if settings__email}
                            <div class="u-email">
                                <a href="mailto:{settings__email:attr_safe:trim}">
                                    {settings__email}
                                </a>
                            </div>
                        {/if}
                    </div>
                    {if social_profiles:total_rows}
                        <ul class="social-networks social-networks--footer">
                            {social_profiles}
                                <li class="social-networks__item">
                                    <a href="{social_profiles:url}" target="_blank" class="u-url social-networks__link">
                                        {social_profiles:url}
                                    </a>
                                </li>
                            {/social_profiles}
                        </ul>
                    {/if}
                </div>
            {/exp:channel:entries}

            <div class="license-and-powered-by" role="contentinfo">
                <div class="license">
                    <img src="/assets/images/licenses/by.png" width="403" height="141"
                        alt="" aria-hidden="true" class="license__image"
                    />
                    Este obra está sob a Licença
                    <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                        Creative Commons Atribuição 4.0 Internacional
                    </a>
                </div>
            </div>
        </footer>
    </div>

{embed="default_site:site/_consent_form"}

{tv-static_footer}

<script src="{script='default_site:site/scripts'}"></script>

</body>
</html>
