{exp:channel:entries related_categories_mode="yes" custom_fields="yes" limit="3" channel="event|news|service"}
    {if count == 1}
        <aside role="complementary" class="related-content h-feed">
            <h2 class="related-content__title">Relacionados</h2>

            <div class="related-content__list">
    {/if}
                <a href="https:/{relative_url}/{url_title}" class="related-content__link">
                    <article id="entry-{entry_id}" class="h-feed__h-entry related-content__item">
                        {thumbnail}
                            <img
                                src="{url:thumb--related}"
                                data-width="193" data-height="116"
                                width="{width:thumb--related}" height="{height:thumb--related}"
                                decoding="async" loading="lazy"
                                alt="{description}"
                                class="h-entry__u-photo u-photo related-content__thumb"
                            />
                        {/thumbnail}
                        <h3 class="h-entry__p-name p-name">{title}</h3>
                        <p class="h-entry__dt-published related-content__date">
                            <time class="dt-published" datetime="{edit_date format="{DATE_ISO8601}"}">
                                    {edit_date format="%d/%m/%Y"}
                            </time>
                        </p>
                    </article>
                </a>
    {if count == total_results}
            </div>
        </aside>
    {/if}
{/exp:channel:entries}
