<main id="main" class="sec-home__main">
    {exp:channel:entries channel="ad" limit="1" orderby="random"
        disable="categories|member_data|pagination" search:ad__position="header"
    }
        <div class="ad__wrapper">
            <a href="{ad__link}" class="ad__link" target="_blank">
                {ad__images}
                    {ad__images:file}
                        <img src="{url}"
                            {if summary}
                                alt="{summary:attr_safe}"
                            {if:else}
                                alt="{description}"
                            {/if}
                        decoding="async" width="{width}" height="{height}"
                        loading="lazy" class="ad__image ad__image--header"
                    />
                    {/ad__images:file}
                {/ad__images}
            </a>
        </div>
    {/exp:channel:entries}

    {exp:query
        sql="SELECT ec.cat_id, ec.cat_name, ec.group_id
            FROM exp_categories ec
            JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id
            WHERE ecg.group_name = 'aparecer na area publica'
            AND ec.cat_url_title = 'home-services'
            AND ec.site_id = '{site_id}'
            LIMIT 1;"
            parse="inward"
    }

        {embed="default_site:site/_home-services" cat_id="{cat_id}" group_id="{group_id}" title="Principais serviços" show_read_more="true"}
    {/exp:query}

    {exp:channel:entries channel="ad" limit="3" orderby="random"
        disable="categories|member_data|pagination" search:ad__position="footer"
    }
        {if count == 1}
        <div class="ad__wrapper">
            <ul class="ad__list">
                {/if}
                <li class="ad__item">
                    <a href="{ad__link}" class="ad__link" target="_blank">
                        {ad__images}
                            {ad__images:file}
                                <img src="{url}"
                                    {if summary}
                                        alt="{summary:attr_safe}"
                                    {if:else}
                                        alt="{description}"
                                    {/if}
                                    decoding="async" width="{width}" height="{height}"
                                    loading="lazy" class="ad__image ad__image--footer"
                                />
                            {/ad__images:file}
                        {/ad__images}
                    </a>
                </li>
                {if count == total_results}
            </ul>
        </div>
        {/if}
    {/exp:channel:entries}

    {exp:channel:entries channel="news" limit="5" disable="categories|category_fields|member_data|pagination" status="not closed" search:thumbnail="not IS_EMPTY"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="h-feed__p-name--last-news h-feed__p-name p-name">Destaques</h2>
            <div class="h-feed__list h-feed__list--last-news">
        {/if}
                <a
                    href="{url_title_path='noticias/index'}"
                    class="h-entry__u-url--last-news {if count == 1}h-entry__u-url--featured{/if} h-entry__u-url"
                >
                    <article id="entry-{entry_id}"
                        class="h-feed__h-entry h-feed__h-entry--last-news h-entry {if count == 1}h-feed__h-entry--featured{/if}"
                    >
                        {if count == 1}
                            <img
                                width="1116" height="512"
                                sizes="(max-width: 1116px) 100vw, 1116px"
                                {thumbnail}
                                    srcset="
                                        {if url:300w}{url:300w} 300w,{/if}
                                        {if url:635w}{url:635w} 635w,{/if}
                                        {if url:886w}{url:886w} 886w,{/if}
                                        {if url:1079w}{url:1079w} 1079w,{/if}
                                        {if url:1116w}{url:1116w} 1116w{/if}
                                        "
                                    {if url:1116w}
                                        src="{url:1116w}"
                                    {if:else}
                                        src="{url}"
                                    {/if}
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                    alt="{description}"
                                {/thumbnail}
                            />
                        {if:else}
                            <img
                                {thumbnail}
                                    width="260" height="200"
                                    src="{url:thumb--aside}"
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo h-entry__u-photo--last-news u-photo"
                                    alt="{description}"
                                {/thumbnail}
                            />
                        {/if}

                        <div class="h-entry__header {if count == 1}h-entry__header--featured{/if}">
                            <h3 class="h-entry__p-name p-name h-entry__p-name--last-news">{title}</h3>
                            <p class="h-entry__dt-published h-entry__dt-published--last-news">
                                <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                {if count == 1}
                                    {entry_date format="%d de %F de %Y"}
                                {if:else}
                                    {entry_date format="%d/%m/%Y"}
                                {/if}
                                </time>
                            </p>
                        </div>
                    </article>
                </a>

        {if count == total_results}
            </div>
            <p class="read-more">
                <a class="read-more__link" href="/noticias">+ Notícias</a>
            </p>
        </section>
        {/if}
    {/exp:channel:entries}

    <section class="mosaic__wrapper h-feed">
        {exp:query sql="SELECT ect.entry_id, ecgf.col_id_1 AS src, ecgf.col_id_5 AS caption, ect.url_title, ect.title
            FROM exp_channel_grid_field_2 ecgf
            INNER JOIN exp_channel_titles ect ON ect.entry_id = ecgf.entry_id
            INNER JOIN exp_channels ec ON ect.channel_id = ec.channel_id
            WHERE ect.site_id = '{site_id}' AND ect.status != 'closed' AND ec.channel_name = 'news'
            ORDER BY ect.entry_date DESC, ecgf.row_order ASC
            LIMIT 5;"
            parse_files="y"
        }
            {if count == 1}
                <h2 class="h-feed__p-name p-name mosaic__title mosaic__title--picture">
                    Galeria de fotos
                </h2>
                <div class="h-feed__list gallery mosaic">
            {/if}
                    <figure class="h-feed__h-entry h-entry gallery__item mosaic__item">
                        <a
                            href="/noticias/{url_title}/fotos"
                            title="{title}"
                            class="u-url mosaic__link"
                        >
                            {if count == 1}
                                <img width="554" height="512"
                                    sizes="
                                        (max-width: 479px) 100vw,
                                        (max-width: 767px) 66vw,
                                        (max-width: 1279px) 50vw,
                                        528px
                                    "
                                    src="{src}" decoding="async" loading="lazy"
                                    class="gallery__image mosaic__image mosaic__image--picture"
                                    alt=""
                                />
                            {if:else}
                                <img width="246" height="246"
                                    sizes="
                                        (max-width: 479px) 50vw,
                                        (max-width: 767px) 33vw,
                                        (max-width: 1279px) 25vw,
                                        258px
                                    "
                                    src="{src}" decoding="async" loading="lazy"
                                    class="gallery__image mosaic__image mosaic__image--picture"
                                    alt=""
                                />
                            {/if}

                            {if caption}
                                <figcaption class="gallery__caption mosaic__caption">
                                    {caption}
                                </figcaption>
                            {/if}
                        </a>
                    </figure>
            {if count == total_results}
                </div>

                <p class="read-more read-more--last-news">
                    <a class="read-more__link" href="/noticias/fotos">+ Fotos</a>
                </p>
            {/if}
        {/exp:query}
    </section>

    <section class="mosaic__wrapper mosaic__wrapper--video h-feed">
        {exp:query sql="SELECT ect.entry_id, ecgf.col_id_40 AS src, ect.url_title, ect.title, ect.entry_date
            FROM exp_channel_grid_field_68 ecgf
            INNER JOIN exp_channel_titles ect ON ect.entry_id = ecgf.entry_id
            INNER JOIN exp_channels ec ON ect.channel_id = ec.channel_id
            WHERE ect.site_id = '{site_id}' AND ect.status != 'closed' AND ec.channel_name = 'news'
            ORDER BY ect.entry_date DESC, ecgf.row_order ASC
            LIMIT 3;"
            parse_files="y"
        }
            {if count == 1}
                <h2 class="h-feed__p-name p-name mosaic__title mosaic__title--video">Galeria de videos</h2>
                <div class="h-feed__list gallery gallery--video mosaic mosaic--third">
            {/if}
                    <figure class="h-feed__h-entry h-entry gallery__item gallery__item--video mosaic__item">
                        <a href="/noticias/{url_title}/videos" target="_blank" class="u-url mosaic__link mosaic__link--video" />
                            {if count == 1}
                                {exp:antenna url="{src}" max_width="679" max_height="570" cache_minutes="1680"}
                                    <img
                                        width="{video_width}"
                                        height="{video_height}"
                                        srcset="
                                            {video_highres} 1280w,
                                            {video_mediumres} 480w,
                                            {video_thumbnail} 128w
                                        "
                                        sizes="
                                            (max-width: 479px) 100vw,
                                            (max-width: 1279px) 66vw,
                                            708px
                                        "
                                        src="{video_thumbnail}"
                                        alt="{video_title}"
                                        decoding="async" loading="lazy"
                                        class="gallery__image gallery__image--video mosaic__image mosaic__image--video"
                                    />
                                {/exp:antenna}
                            {if:else}
                                {exp:antenna url="{src}" max_width="400" max_height="285" cache_minutes="1680"}
                                    <img
                                        width="{video_width}"
                                        height="{video_height}"
                                        srcset="
                                            {video_highres} 1280w,
                                            {video_mediumres} 480w,
                                            {video_thumbnail} 128w
                                        "
                                        sizes="(max-width: 479px) 50vw,
                                            (max-width: 1279px) 33vw,
                                            348px
                                        "
                                        src="{video_thumbnail}"
                                        alt="{video_title}"
                                        decoding="async" loading="lazy"
                                        class="gallery__image gallery__image--video mosaic__image mosaic__image--video"
                                    />
                                {/exp:antenna}
                            {/if}
                        </a>
                    </figure>
            {if count == total_results}
                </div>

                <p class="read-more read-more--last-news">
                    <a class="read-more__link" href="/noticias/videos">+ Vídeos</a>
                </p>
            {/if}
        {/exp:query}
    </section>

</main>
