{if segment_2}{redirect="404"}{/if}

{layout="default_site:site/_layout" robots="index,follow,noarchive"}
{if site_id == 1}
    {layout:set name="root_class"}home{/layout:set}

<main id="main" class="home__main">
    <section class="main-services h-feed h-feed--main-services">
        <h2 class="p-name h-feed__p-name h-feed__p-name--main-services">Principais serviços</h2>

        <div class="main-services__category-lists">
            {exp:query
                sql="SELECT GROUP_CONCAT(DISTINCT ec.cat_id SEPARATOR '|') cat_ids, ec.cat_url_title, ec.cat_name
                    FROM exp_categories ec
                    JOIN exp_category_groups cg ON cg.group_id = ec.group_id
                    JOIN exp_category_posts ecp ON ecp.cat_id = ec.cat_id
                    JOIN exp_channel_titles ect ON ecp.entry_id = ect.entry_id
                    JOIN exp_channels ec2 ON ect.channel_id = ec2.channel_id
                    INNER JOIN exp_config ecf ON ecf.site_id = ec.site_id AND ecf.key = 'is_site_on'
                    WHERE (
                            LOWER(cg.group_name) = 'perfil do cidadao'
                            OR (
                                LOWER(cg.group_name) = 'categorias de servicos'
                                AND ec.cat_url_title = 'programas'
                            )
                        )
                        AND ec2.channel_name = 'service'
                        AND ect.status != 'closed'
                    GROUP BY ec.cat_url_title
                    ORDER BY COUNT(ecp.entry_id) DESC
                    LIMIT 3"
                parse="inward"
            }
                <div class="main-services__category main-services__category--{cat_url_title}">
                    <h3 class="main-services__title">{cat_name}</h3>
                    <ul class="main-services__list">
                    {exp:channel:entries channel="service" site="not none" category="{cat_ids}"
                        disable="custom_fields|categories|category_fields|member_data|pagination" status="not closed" limit="5"
                        dynamic="no" orderby="title" sort="asc"
                    }
                        <li class="main-services__item">
                            <a href="https:/{relative_url}/{url_title}">{title}</a>
                        </li>
                    {/exp:channel:entries}
                    </ul>
                </div>
                {/exp:query}

                <div class="main-services__category main-services__category--{programas}">
                    <h3 class="main-services__title">Programas</h3>

                    <ul class="main-services__list">
                    {exp:channel:entries channel="service" site="not none"
                        status="not closed" limit="5" parse="inward"
                        category="{exp:cat2:id site_id='0' category_url_title='programas'}"
                        disable="custom_fields|categories|category_fields|member_data|pagination"
                        dynamic="no" orderby="title" sort="asc"
                    }
                        <li class="main-services__item">
                            <a href="https:/{relative_url}/{url_title}">{title}</a>
                        </li>
                    {/exp:channel:entries}
                    </ul>
                </div>
        </div>
        <p class="read-more read-more--main-services">
            <a class="read-more__link" href="/servicos/">+ Serviços</a>
        </p>
    </section>

    {exp:channel:entries channel="news" site="not none" limit="4"
    disable="category_fields|member_data|pagination" status="not closed" search:thumbnail="not IS_EMPTY"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="h-feed__p-name--last-news h-feed__p-name p-name">Últimas notícias</h2>


            <div class="slider" data-js="slider" data-slider-play="auto">
                <button type="button" class="js_prev slider__prev" aria-hidden="true">
                    &#9664;
                </button>
                <div class="slider__frame">
                    <div class="h-feed__list h-feed__list--last-news slider__container">
                {/if}
                        <a
                            href='https:/{relative_url}/{url_title}'
                            class="h-entry__u-url h-entry__u-url--last-news h-entry__u-url--featured slider__item"
                        >
                            <article id="entry-{entry_id}" class="h-feed__h-entry h-feed__h-entry--last-news h-entry h-feed__h-entry--featured">
                                {thumbnail}
                                    <img
                                        sizes="100vw"
                                        srcset="
                                            {url:1116w} {width:1116w}w,
                                            {url:886w} {width:886w}w,
                                            {url:744w} {width:744w}w,
                                            {url:635w} {width:635w}w,
                                            {url:554w} {width:554w}w,
                                            {url:300w} {width:300w}w
                                        "
                                        width="{width:1116w}" height="{height:1116w}"
                                        src="{url:1116w}"
                                        decoding="async" loading="lazy"
                                        class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                        alt="{description}"
                                    />
                                {/thumbnail}

                                <div class="h-entry__header--featured">
                                    {if global:editorial-group}
                                        {categories limit="1" show_group="{global:editorial-group}"}
                                            <ul class="h-entry__p-category-list h-entry__p-category-list--last-news">
                                        {/categories}
                                            {categories limit="1" show_group="{global:editorial-group}"}
                                                <li class="h-entry__p-category-item">
                                                    {category_name}
                                                </li>
                                            {/categories}
                                        {categories limit="1" show_group="{global:editorial-group}"}
                                            </ul>
                                        {/categories}
                                    {/if}
                                    <h3 class="h-entry__p-name p-name h-entry__p-name--last-news">{title}</h3>
                                    <p class="h-entry__dt-published h-entry__dt-published--last-news">
                                        <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                            {entry_date format="%d de %F de %Y"}
                                        </time>
                                    </p>
                                </div>
                            </article>
                        </a>

                {if count == total_results}
                    </div>
                </div>
                <button type="button" class="js_next slider__next" aria-hidden="true">
                    &#9654;
                </button>
                <ul class="slider__navigation" hidden></ul>
            </div>

            <p class="read-more read-more--last-news">
                <a class="read-more__link" href="/noticias">+ Notícias</a>
            </p>
        </section>
        {/if}
    {/exp:channel:entries}
</main>

    {exp:channel:entries channel="ad" limit="3" orderby="random" disable="categories|member_data|pagination"}
        {if count == 1}
        <div class="ad__wrapper">
            <ul class="ad__list">
                {/if}
                <li class="ad__item">
                    <a href="{ad__link}" class="ad__link">
                        {ad__images}
                            {ad__images:file}
                                <img src="{url}" alt="{description}" decoding="async" loading="lazy" class="ad__image" />
                            {/ad__images:file}
                        {/ad__images}
                    </a>
                </li>
                {if count == total_results}
            </ul>
        </div>
        {/if}
    {/exp:channel:entries}

{if:else}
    {exp:channel:entries custom_fields="yes" limit="1" dynamic="no" channel="settings"
        url_title="settings" disable="categories|member_data|pagination" parse="inward"
    }
        {if template_file}
            {layout:set name="root_class"}sec-home sec-home--{template_file}{/layout:set}
            {embed="default_site:site/_sec-main__{template_file}"}
        {if:else}
            {layout:set name="root_class"}sec-home sec-home--default{/layout:set}
            {embed="default_site:site/_sec-main__default"}
        {/if}

        {if no_results}
            {layout:set name="root_class"}sec-home sec-home--default{/layout:set}
            {embed="default_site:site/_sec-main__default"}
        {/if}
    {/exp:channel:entries}
{/if}
