{if segment_2}{redirect="404"}{/if}

{layout="default_site:site/_layout" robots="index,follow,noarchive"}
{if site_id == 1}
    {layout:set name="root_class"}home{/layout:set}

<main id="main" class="home__main">
    <section class="main-services h-feed h-feed--main-services">
        <h2 class="p-name h-feed__p-name h-feed__p-name--main-services">Principais serviços</h2>

        {exp:query
        sql="SELECT GROUP_CONCAT(DISTINCT ec.cat_id SEPARATOR '|') cat_ids, ec.cat_url_title, ec.cat_name
            FROM exp_categories ec
            JOIN exp_category_groups cg ON cg.group_id = ec.group_id
            JOIN exp_category_posts ecp ON ecp.cat_id = ec.cat_id
            JOIN exp_channel_titles ect ON ecp.entry_id = ect.entry_id
            JOIN exp_channels ec2 ON ect.channel_id = ec2.channel_id
            INNER JOIN exp_config ecf ON ecf.site_id = ec.site_id AND ecf.key = 'is_site_on'
            WHERE LOWER(cg.group_name) = 'perfil do cidadao'
            AND ec2.channel_name = 'service'
            AND ect.status != 'closed'
            GROUP BY ec.cat_url_title
            ORDER BY COUNT(ecp.entry_id) DESC
            LIMIT 4"
            parse="inward"
        }
            {if count == 1}
                <div class="main-services__category-lists">
            {/if}
                    <div class="main-services__category main-services__category--{cat_url_title}">
                        <h3 class="main-services__title">{cat_name}</h3>
                        <ul class="main-services__list">
                        {exp:channel:entries channel="service" site="not none" category="{cat_ids}"
                            disable="custom_fields|categories|category_fields|member_data|pagination" status="not closed" limit="5"
                            dynamic="no" orderby="title" sort="asc"
                        }
                            <li class="main-services__item">
                                <a href="https:/{relative_url}/{url_title}">{title}</a>
                            </li>
                        {/exp:channel:entries}
                        </ul>
                    </div>
            {if count == total_results}
                </div>
                <p class="read-more read-more--main-services">
                    <a class="read-more__link" href="/servicos/">+ Serviços</a>
                </p>
            {/if}
        {/exp:query}
    </section>

    {exp:channel:entries channel="news" site="not none" limit="4"
    disable="category_fields|member_data|pagination" status="not closed" search:thumbnail="not IS_EMPTY"}
        {if count == 1}
        <section class="last-news h-feed">
            <h2 class="h-feed__p-name--last-news h-feed__p-name p-name">Últimas notícias</h2>
            <div class="h-feed__list h-feed__list--last-news">
        {/if}
                <a
                    href='https:/{relative_url}/{url_title}'
                    class="h-entry__u-url h-entry__u-url--last-news h-entry__u-url--featured"
                >
                    <article id="entry-{entry_id}" class="h-feed__h-entry h-feed__h-entry--last-news h-entry h-feed__h-entry--featured">
                        {if count == 1}
                            {thumbnail}
                                <img
                                sizes="(max-width: 544px) 100vw, 544px"

                                data-width="554" data-height="512"
                                width="{width:featured__square--large}" height="{height:featured__square--large}"
                                src="{url:featured__square--large}"
                                decoding="async" loading="lazy"
                                class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                alt="{description}"
                            />
                            {/thumbnail}
                        {if:elseif count == 2}
                            {thumbnail}
                                <img
                                    sizes="(max-width: 544px) 100vw, 544px"
                                    srcset="
                                        {url:featured__square--small} {width:featured__square--small}w,
                                        {url:featured__wide} {width:featured__wide}w
                                    "
                                    data-width="554" data-height="246"
                                    width="{width:featured__wide}" height="{height:featured__wide}"
                                    src="{url:featured__wide}"
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                    alt="{description}"
                                />
                            {/thumbnail}
                        {if:else}
                            {thumbnail}
                                <img
                                    data-width="246" data-height="246"
                                    width="{width:featured__square--small}" height="{height:featured__square--small}"
                                    src="{url:featured__square--small}"
                                    decoding="async" loading="lazy"
                                    class="h-entry__u-photo u-photo h-entry__u-photo--featured"
                                    alt="{description}"
                                />
                            {/thumbnail}
                        {/if}

                        <div class="h-entry__header--featured">
                            {if global:editorial-group}
                                {categories limit="1" show_group="{global:editorial-group}"}
                                    <ul class="h-entry__p-category-list h-entry__p-category-list--last-news">
                                {/categories}
                                    {categories limit="1" show_group="{global:editorial-group}"}
                                        <li class="h-entry__p-category-item">
                                            {category_name}
                                        </li>
                                    {/categories}
                                {categories limit="1" show_group="{global:editorial-group}"}
                                    </ul>
                                {/categories}
                            {/if}
                            <h3 class="h-entry__p-name p-name h-entry__p-name--last-news">{title}</h3>
                            <p class="h-entry__dt-published h-entry__dt-published--last-news">
                                <time class="dt-published" datetime="{entry_date format="{DATE_ISO8601}"}">
                                    {entry_date format="%d de %F de %Y"}
                                </time>
                            </p>
                        </div>
                    </article>
                </a>

        {if count == total_results}
            </div>

            <p class="read-more read-more--last-news">
                <a class="read-more__link" href="/noticias">+ Notícias</a>
            </p>
        </section>
        {/if}
    {/exp:channel:entries}
</main>
{if:else}
    {layout:set name="root_class"}sec-home{/layout:set}

<main id="main" class="sec-home__main">
    {exp:query
        sql="SELECT ec.cat_id, ec.cat_name, ec.group_id
            FROM exp_categories ec
            JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id
            WHERE ecg.group_name = 'aparecer na area publica'
            AND ec.cat_url_title = 'home-services'
            AND ec.site_id = '{site_id}'
            LIMIT 1;"
    }
        {exp:query
            sql="SELECT group_id AS service_group
                FROM exp_category_groups
                WHERE group_name = 'categorias de servicos'
                AND site_id = '{site_id}'
                LIMIT 1;"
        }
            {embed="default_site:site/_home-services" cat_id="{cat_id}" service_group="{service_group}" group_id="{group_id}" title="{cat_name}" limit="8"}
        {/exp:query}
    {/exp:query}

    {exp:query
        sql="SELECT ec.cat_id, ec.cat_name, ec.group_id
            FROM exp_categories ec
            JOIN exp_category_groups ecg ON ecg.group_id = ec.group_id
            WHERE ecg.group_name = 'aparecer na area publica'
            AND ec.cat_url_title = 'home-special'
            AND ec.site_id = '{site_id}'
            LIMIT 1;"
    }
        {embed="default_site:site/_home-special" cat_id="{cat_id}" group_id="{group_id}" title="{cat_name}" limit="10"}
    {/exp:query}

    {embed="default_site:site/_aside"}
</main>
{/if}
