{exp:channel:entries site="{embed:site}" custom_fields="yes" limit="1" dynamic="no" channel="settings" url_title="settings" disable="categories|member_data|pagination"}
    {if social_profiles:total_rows}
        <ul class="social-networks {embed:class}">
            {social_profiles}
                <li class="social-networks__item">
                    <a href="{social_profiles:url}" target="_blank" class="u-url social-networks__link">
                        {social_profiles:url}
                    </a>
                </li>
            {/social_profiles}
        </ul>
    {/if}
{/exp:channel:entries}
