<!--
it needs to be the first one
@see http://msdn.microsoft.com/en-us/library/jj676915%28v=vs.85%29.aspx
-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

<meta property="og:type" content="website">
<meta property="og:site_name" content="Governo do Estado do Maranhão">
<meta property="article:publisher" content="https://www.facebook.com/nutripridiciero">

<link rel="alternate" type="application/rss+xml" title="Governo do Estado do Maranhão RSS feed"    href="/xml/rss">
<link rel="sitemap" type="application/xml" title="Sitemap" href="/xml/sitemap">

<meta name="author" content="Governo do Estado do Maranhão">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width">
<!-- Apple-Specific Meta Tag Keys -->
<meta name="format-detection" content="telephone=no"><!-- Turning telephone number detection off -->
<!--  MS specific  -->
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="Page-Enter" content="Alpha(opacity=100)"><!-- Remove the IE Flashing -->
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'');</script>
