@use 'sass:math';

@use '../abstracts'as my;

.home {
  .main-header-and-search-form {
    position: relative;

    background-color: my.palette('brand', 'blue-light');
    background-position: 50% 50%;
    background-size: cover;
  }


  .site-info {
  }

  .main-header__logo {
    display: block;

    width: max-content;
    margin-right: auto;
    margin-left: auto;

    background-color: transparent;
  }

  .search-form {
  }
}

.home__main {
  max-width: my.$max-width;

  .last-news {
    display: block;
  }

  .last-news__title {
    border-color: my.palette('brand', 'yellow-medium');
  }

  .h-feed__list--last-news {
    display: grid;

    grid-gap: my.$gutter;

    padding-bottom: my.$gutter;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .last-news__link {
    @include my.aspect-ratio(1 x 1);

    position: relative;

    text-align: center;

    @media screen and (min-width: my.breakpoint('phone__landscape')) {
      &:first-child {
        grid-row: span 2;
        grid-column: span 2;
      }

      &:nth-child(2) {
        @include my.aspect-ratio(2 x 1);

        grid-column: span 2;
      }

      &:nth-child(3) {
        grid-column-start: -3;
      }
    }
  }

  .last-news__item {
    position: relative;

    height: 100%;
    margin: 0;
    overflow: hidden;

    color: my.palette('neutral', 'white');

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background: transparent linear-gradient(180deg, #ffffff00 0%, #83838200 60%, #000000 100%) 0% 0% no-repeat padding-box;
      opacity: 0.68;
    }
  }

  .last-news__item-thumb {
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: margin transform;
  }

  .last-news__link:hover,
  .last-news__link:focus,
  .last-news__link:active {
    .last-news__item-thumb {
      margin: -0.5%;

      transform: scale(1.1);
    }
  }

  .last-news__item-title {
    position: absolute;
    bottom: my.$gutter * 2;
    left: 50%;
    z-index: my.layer('default');

    width: 100%;
    max-width: 40rem;
    padding-right: my.$gutter;
    padding-left: my.$gutter;
    margin-right: auto;
    margin-left: auto;

    font-weight: my.font-weight('black');
    color: inherit;
    text-align: center;

    transform: translateX(-50%);
  }

  .h-entry__u-photo {
    height: 100%;
    object-fit: cover;
  }

  .last-news__date {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: my.layer('default');

    width: 100%;
    height: my.$gutter * 2;
    padding-right: my.$gutter;
    padding-left: my.$gutter;

    font-size: my.ms(0);
    font-weight: my.font-weight('light');
    line-height: my.$gutter * 2;
    color: inherit;

    transform: translateX(-50%);
  }
}
