@use 'sass:math';

@use '../abstracts' as my;

.home {
  .main-header-and-search-form__container {
    height: 70vh;
    min-height: my.$gutter * 22; // 480px
    max-height: my.$gutter * 27; // 648px
  }

  .main-header-and-search-form {
    position: relative;

    background-color: my.palette('brand', 'blue', 'light');
    background-position: 50% 50%;
    background-size: cover;
  }

  .site-info {
  }

  .search-form {
  }

  .h-feed__p-name--main-services {
    font-size: my.ms-step(20px);
  }
}

.home__main {
  max-width: my.$max-width;

  .last-news {
    display: block;
  }

  .h-feed__p-name--last-news {
    grid-column: 1/-1;

    border-bottom-color: my.palette('brand', 'yellow', 'medium');
  }

  .h-feed__h-entry--last-news {
    height: 100%;
  }

  .h-entry__p-category-list--last-news {
    margin: 0;
  }

  .h-entry__p-name--last-news {
    @include my.truncate(2, 1.5em);
  }

  @media screen and (min-width: my.breakpoint('phone__landscape')) {
    .h-entry__u-url--last-news .h-entry__p-name--last-news {
      @include my.truncate(3, 1.5em);

      font-size: my.ms-step(18px);
    }
  }

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    .h-entry__u-url--last-news .h-entry__p-name--last-news {
      font-size: my.ms-step(24px);
    }
  }

  @media screen and (min-width: my.breakpoint('tablet__landscape')) {
    .h-entry__u-url--last-news .h-entry__p-name--last-news {
      font-size: my.ms-step(28px);
    }
  }
}
