@use '../abstracts' as my;

$date-width: my.$gutter * 3;

.news {
  .main-header-and-search-form {
    color: my.palette('neutral', 'white');

    background-color: my.palette('neutral', 'dark');
    background-image: image('31237_3_05072078023791363365.jpg');
    background-image: image-set(
      my.image('31237_3_05072078023791363365.avif') type('image/avif'),
      my.image('31237_3_05072078023791363365.webp') type('image/webp'));
  }

  [role='main'] {
    max-width: my.$max-width;
  }

  .full-width {
    padding-top: my.$gutter * 2;
    padding-bottom: my.$gutter * 2;

    background-color: my.palette('neutral', 'light');
  }

  .share-bar {
    float: left;
  }

  .read-more--download {
    float: right;
  }
}

.h-entry--news {
  .h-entry__subhead,
  .share-bar,
  .read-more--repository {
    overflow: hidden;
    clear: left;

    text-overflow: ellipsis;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      float: left;
      width: 33.33333%;
      padding-right: my.$gutter * 0.66666;
    }

    @media screen and (min-width: my.breakpoint('tablet__landscape')) {
      width: 25%;
      padding-right: my.$gutter * 0.75;
    }
  }

  .hero,
  .h-entry__e-content {
    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      padding-left: my.$gutter * 0.33333;
      margin-left: 33.33333%;
    }

    @media screen and (min-width: my.breakpoint('tablet__landscape')) {
      padding-left: my.$gutter * 0.25;
      margin-left: 25%;
    }
  }

  .h-entry__header {
    margin: 0;
  }

  .h-entry__p-name {
    margin-bottom: my.$gutter * 2;

    font-size: my.ms-step(32px);
  }

  .h-entry__subhead {
    margin-bottom: my.$gutter * 2;

    font-size: my.ms-step(18px);
    font-weight: my.font-weight('bold');
  }

  .share-bar {
    margin-bottom: my.$gutter;

    > * {
      max-width: 100%;
    }
  }

  .read-more--repository {
    display: flex;

    flex-wrap: wrap;

    text-align: center;
  }
}

.h-feed--news {
  .h-feed__header--news {
    margin-bottom: my.$gutter * 2;

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      margin-left: 25%;
    }
  }

  .h-feed__p-name--news {
    font-size: my.ms-step(32px);
  }

  .h-feed__list--news {}

  .h-feed__date-heading {
    position: relative;

    text-align: center;

    background-color: my.palette('neutral', 'white');

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      padding-left: calc(12.5% - #{$date-width * 0.5});

      text-align: left;
    }
  }

  .h-feed__h-entry {
    position: relative;

    padding: my.$gutter * 0.5;
    margin-top: my.$gutter * 6;

    background-color: my.palette('neutral', 'white');
    box-shadow: 0 3px 10px my.palette('effects', 'shadow');

    + .h-feed__h-entry {
      @media screen and (min-width: my.breakpoint('tablet__portrait')) {
        border-top: my.$stroke__thin solid my.palette('neutral', 'gray');
      }
    }

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      padding: (my.$gutter * 2) 0 (my.$gutter * 2) (my.$gutter * 0.25);
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 25%;

      box-shadow: none;
    }

    &::before {
      position: absolute;
      top: my.$gutter * -3;
      right: 50%;
      bottom: my.$gutter * -3;
      z-index: my.layer('below');

      height: calc(100% + #{my.$gutter * 6});

      content: '';

      border-left: my.$stroke__thin dashed my.palette('neutral', 'gray');

      @media screen and (min-width: my.breakpoint('tablet__portrait')) {
        top: 0;
        right: 116.5%;
        bottom: 0;

        height: 100%;
      }
    }
  }

  .h-entry__header {
    margin: 0 0 my.$gutter 0;
  }

  .dt-published {
    &::before {
      content: none;
    }
  }

  .dt-published__time {
    position: absolute;
    right: 50%;
    bottom: calc(100% + #{my.$gutter * 3});

    width: $date-width;

    font-size: my.ms-step(21px);
    font-weight: my.font-weight('bold');
    line-height: my.$gutter * 2;
    color: my.palette('neutral', 'white');
    text-align: center;

    background-color: my.palette('brand', 'red', 'dark');

    transform: translate(50%, 50%);

    @media screen and (min-width: my.breakpoint('tablet__portrait')) {
      right: calc(116.5%);
      bottom: 50%;
    }
  }

  .h-entry__p-category-list,
  .h-entry__p-category-item {
    display: inline;

    padding: 0;
    margin: 0;

    vertical-align: baseline;
  }

  .h-entry__p-category-list {
    font-size: my.ms-step(12px);
    font-weight: inherit;
    color: inherit;
    text-transform: inherit;

    &::before {
      content: '• ';
    }
  }

  .h-entry__p-category-item {
    padding: 0;

    background: none;

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: none;
    }
  }
}

.social-networks--news {
  margin-bottom: my.$gutter * -0.5;
  clear: left;

  .social-networks__link {
    background-size: 75%;
  }
}
