@use 'sass:math';

@use '../abstracts' as my;

@mixin bar {
  background-image: linear-gradient(90deg, #b22126, #241f21, #0082c9, #ffd100, #87ba40, #b22126, #241f21);
  background-size: 600% 100%;

  animation-name: searching;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @at-root {
    @keyframes searching {
      0% {
        background-position: 0% 0;
      }

      100% {
        background-position: 100% 0;
      }
    }
  }
}

@mixin blinking-text {
  animation-name: blinkingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  @at-root {
    @keyframes blinkingText {
      0% {
        color: my.palette('neutral', 'black');
      }

      50% {
        color: my.palette('neutral', 'white');
      }

      100% {
        color: my.palette('neutral', 'black');
      }
    }
  }
}


@mixin circle {
  // it should be `sqrt(1vh^2 + 1vw^2)`, but, as we don't have sqrt on CSS,
  // let's use something we know: the hypotenuse is shorter than the sum of
  // the Cathetus
  $diameter: calc(100vh + 100vw);
  $radius: calc(-50vh - 50vw);

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: my.layer('default');

  width: $diameter;
  height: $diameter;
  margin-top: $radius;
  margin-left: $radius;

  content: '';

  background-color: my.palette('brand', 'blue', 'medium');
  border-radius: 100%;

  animation-name: zoom-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale3d(0, 0, 0);
  }
}

.going-to-search-results {
  overflow: hidden;

  body {
    &::before,
    &::after {
      position: fixed;
      z-index: my.layer('default') + 5;
    }

    &::before {
      @include blinking-text;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;

      align-items: center;
      justify-content: center;

      text-align: center;
      text-transform: uppercase;

      content: 'buscando...';

      background-color: my.palette('neutral', 'white');
    }

    &::after {
      @include bar;

      position: fixed;
      top: calc(50% + #{my.$leading * 1em});
      right: 75%;
      left: 25%;

      width: 50%;
      height: 4px;

      content: '';
    }
  }
}

.search {
  .main-header-and-search-form {
  }

  .main-header-and-search-form__container {
  }

  .site-info {
  }

  .search-form {
  }

  .main-aside {
    display: block;
  }
}

.search-results__link {
  display: block;

  width: max-content;
}

.search-results[aria-busy='true'] {
  min-height: my.$gutter * 10;
}
