@use 'sass:math';

@use '../abstracts' as my;

@mixin circle {
  // it should be `sqrt(1vh^2 + 1vw^2)`, but, as we don't have sqrt on CSS,
  // let's use something we know: the hypotenuse is shorter than the sum of
  // the Cathetus
  $diameter: calc(100vh + 100vw);
  $radius: calc(-50vh - 50vw);

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: my.layer('default');

  width: $diameter;
  height: $diameter;
  margin-top: $radius;
  margin-left: $radius;

  content: '';

  background-color: my.palette('brand', 'blue', 'medium');
  border-radius: 100%;

  animation-name: zoom-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale3d(0, 0, 0);
  }
}

.going-to-search-results {
  overflow: hidden;

  &::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: my.layer('default');

    content: '';

    background-color: my.palette('brand', 'blue', 'light');
    opacity: 1;

    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

  &::after,
  > body::before,
  > body::after {
    @include circle;
  }

  &::after {
    opacity: 0.2;

    animation-delay: 333ms;

  }

  > body::before {
    opacity: 0.5;

    animation-delay: 333ms * 2;
  }

  > body::after {
    animation-delay: 333ms * 3;
  }

  [role='main']::before,
  main::before,
  [role='main']::after,
  main::after {
    position: fixed;
    right: 0;
    left: 0;
    z-index: my.layer('modal');

    display: flex;

    justify-content: center;

    text-align: center;

    opacity: 1;

    animation-name: fade-in;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

  [role='main']::before,
  main::before {
    top: 0%;
    bottom: 50%;

    align-items: flex-end;

    font-size: my.ms(3);

    content: 'Estamos levando sua dúvida para os nossos servidores!';
  }

  [role='main']::after,
  main::after {
    top: 50%;
    bottom: 0;

    align-items: flex-start;

    font-size: my.ms(2);
    font-weight: my.font-weight('bold');

    content: 'Carregando resposta...';
  }
}

.search {
  .main-header-and-search-form {
  }

  .main-header-and-search-form__container {
  }

  .site-info {
  }

  .main-header__logo {
  }

  .search-form {
  }

  .main-aside {
    display: block;
  }
}

.search__main {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(min(#{my.$column-basis}, 100%), 1fr));
  grid-gap: 0 #{my.$gutter * 2};

  max-width: my.$max-width;

  .search-results {
    .h-entry {
      @include my.clearfix;

      margin-bottom: my.$gutter * 1.5;
    }

    .h-entry__header {
      margin: 0;

      font-size: my.ms(2);
      font-weight: my.font-weight('bold');

      > * {
        display: inline;

        margin: 0;

        font-size: inherit;
        font-weight: inherit;
      }
    }

    .h-entry__subhead {
      &::before {
        color: my.palette('brand', 'blue-medium');

        content: '• ';
      }
    }

    .h-entry__p-name {
    }

    .h-entry__dt-published {
      margin-bottom: my.$gutter;

      font-size: my.ms(-2);
      font-style: inherit;
    }

    .h-entry__u-photo {
      float: left;
      width: auto;
      margin-right: my.$gutter;

      border-radius: my.$rounded-corner;
    }

    .h-entry__p-summary {
      overflow: hidden;
    }
  }

  .h-feed__p-name {
    font-size: my.ms(2);
    font-weight: my.font-weight('bold');
    line-height: 1;
  }

  .h-entry__u-url {
    @include my.link-undercover;
  }
}
